@import "../common";

#zoom-controls, .icon.footprint { filter: invert(0.7); }
.player-board #firstPlayerToken { filter: var(--highlight); }
#middle-band { background: #000; color: #fff; }
#popin_glowHelpDialog { background: var(--dark-10); }
#help-popin h1 { color: var(--light-50); }
