@import "../common";

#buildings, #plantations { background: var(--dark-back); color: #fff; }
.tiles_label { color: #fff; }
.small_building_placeholder, .big_building_placeholder { background-color: #e6d49c; }
#player_boards .pr_icon_resource, #player_boards .pr_icon { filter: var(--drop-shadow); }
.buildingtt, .plantationtt { background-color: var(--dark-40); }
.player_name { background-color: var(--dark-20); }
