@import "../common";

#CRUOptionsToggle { filter: invert(0.7); }
.cru-knightorder-name>div:first-child, .cru-knightorder-description { color: #aaa; }*
#CRUPlayerAreas, .cru-player-area { filter: invert(1); }
.cru-context { border: 1px solid var(--light-50); color: var(--light-80); }
#logs .log.cancel .roundedbox { background-color: var(--dark-30) !important; }
