@import "../common";

.resume[style$="background-color: rgba(255, 255, 255, 0.5);"] { background-color: var(--dark-back)!important; }
#carddiv:before, #fonddiv_jungle:before { content: ""; background: #00000060; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
