@import "./common";

html[data-theme=dark] {
	.icons-back[style="background-position: -183px -0px;"] {
		filter: var(--highlight-min);
	}

	.bgaext_get_players_data .inactive {
		filter: none;
	}

	.winner-hand {
		background-color: #353814cc;
	}

	.inactive-hand {
		background-color: #292b2e66;
	}

	.card .card-sides .card-side {
		filter: brightness(0.9);
	}
}