@import "./common";

html[data-theme=dark] {

	#page-title,
	#maingameview_menuheader,
	#maingameview_menufooter {
		border: 1px solid var(--dark-40);
	}

	#maingameview_menuheader {
		border-top: none;
		top: -1px;
	}

	.aero-jail {
		color: var(--blue-70);
	}

	.aero-box .aero-dices .aero-dices-lock .aero-dices-lock-icon {
		background: var(--blue-70);
	}

	.aero-box .aero-dices .aero-dices-lock {
		border-color: var(--blue-70);
	}

	.aero-box .aero-tiles>span {
		text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
	}

	#aero-header {
		border: 1px solid var(--dark-40);
	}
}