@import "./common";

#D {

	#game_board:before,
	#cult_board:before {
		content: "";
		background: #0000001a;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#drafting_players {
		background-color: var(--dark-30);
	}

	#drafting_players table {
		color: var(--light-80);
	}

	.faction_supply,
	.player_collections {
		background-color: var(--dark-back);
	}

	.player_faction {
		color: var(--light-80);
		text-shadow: none;
	}

	.control_box {
		background-color: var(--dark-10);
	}

	.fp_container {
		text-shadow: 3px 0 3px var(--blue-50), 0 -3px 3px var(--blue-50), 0 3px 3px var(--blue-50), -3px 0 3px var(--blue-50);
	}

	.fp_container_passed {
		text-shadow: 3px 0 3px #555, 0 -3px 3px #555, 0 3px 3px #555, -3px 0 3px #555 !important;
	}
}