@import "./common";

html[data-theme=dark] {

	#game_board:before,
	#cult_board:before,
	.faction_board:before,
	#invention_tiles_supply:before,
	#favor_tiles_supply:before {
		.reduceBrightness();
	}

	#adjustPoints {
		background-color: var(--dark-back);
	}

	#packages .package:hover,
	#strongholds .stronghold:hover {
		border-color: var(--blue-80);
	}

	#drafting_players {
		background-color: var(--dark-30);
	}

	#drafting_players table {
		color: var(--light-80);
	}

	.faction_supply,
	.player_collections {
		background-color: var(--dark-back);
	}

	.player_faction {
		color: var(--light-80);
		text-shadow: none;
	}

	.control_box {
		background-color: var(--dark-10);
	}

	.fp_container {
		text-shadow: 3px 0 3px var(--blue-50), 0 -3px 3px var(--blue-50), 0 3px 3px var(--blue-50), -3px 0 3px var(--blue-50);
	}

	.fp_container_passed {
		text-shadow: 3px 0 3px #555, 0 -3px 3px #555, 0 3px 3px #555, -3px 0 3px #555 !important;
	}

	.power_token,
	.bridge,
	.priest,
	.structure,
	.worker {
		will-change: transform;
	}

	.bonus_card {
		filter: var(--ext-bright) var(--drop-shadow);
	}

	.scoring_tile_holder,
	.bridge,
	.priest,
	.structure,
	.worker,
	.invention_tile,
	.favor_tile,
	.faction_tile,
	.stronghold_tile,
	.town_tile,
	.airbook_token,
	.earthbook_token,
	.firebook_token,
	.powermarker_automa,
	.waterbook_token,
	.powermarker,
	.track_token,
	.knowledge_action_tile,
	.stronghold_clicker,
	.tm_panel_icon,
	.terrain_token {
		filter: var(--ext-bright);
	}
}