@import "./common";

#D {

	.aoc_icon,
	.meeple {
		filter: var(--highlight-min);
	}

	.actbot,
	.actmain,
	.civbot,
	.civmain,
	.techtooltip,
	.civtitle {
		color: var(--dark-10);
	}

	.playertable {
		background-color: var(--dark-back);
	}
}