html[data-theme=dark] {
	.player_board_inner .player-name a {
		text-shadow: none !important;
	}

	.player-board {
		background-color: var(--dark-20);
	}

	.ahy-board-outer {
		background-color: var(--dark-back);
	}

	.ahy-card {
		color: #000;
		filter: brightness(0.9);
	}

	.ahy-icon {
		filter: var(--highlight);
	}

	#logs .ahy-die {
		filter: var(--drop-shadow-min);
	}

	#ahy-floatingHand,
	#ahy-floatingHand .ahy-toggle {
		background: var(--dark-30);
		color: var(--light-80);
	}
}