#round_counter {
	width: fit-content;
}

html[data-theme=dark] {

	.alc_icon_gold,
	.alc_icon_ingredient,
	.alc_icon_favor {
		filter: var(--highlight-min);
	}

	#game_variant,
	#round_counter,
	#next_adventurer {
		text-shadow: var(--text-b-shadow);
	}

	#mixResults {
		z-index: 1;
		background: var(--dark-back-50);
		height: fit-content;
	}

	#mixResults div[class^="alc"] {
		filter: var(--ext-bright);
	}

	#logs span[style*="background-color:#bbbbbb"] {
		background-color: transparent !important;
	}

	#endScoreSheet {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	#mixResults {
		color: var(--light-80);
	}

	#endScoreSheet * {
		border-color: var(--light-50);
	}

	#board,
	#theory_board,
	#deduction_grid,
	.stockitem,
	.alc_adventurer {
		filter: var(--ext-bright);
	}

	.stockitem.alc_card_stock,
	.stockitem.alc_seal_stock,
	.alc_artifact,
	.alc_artifact_tooltip,
	.alc_grant {
		box-shadow: none;
		filter: var(--drop-shadow) var(--ext-bright);
	}

	#board {

		.stockitem,
		.stockitem.alc_card_stock,
		.stockitem.alc_seal_stock {
			filter: var(--drop-shadow);
		}
	}
}