html[data-theme=dark].bgaext_bright {

	.display_bg,
	.card,
	.token {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	--ext-overlay-color: #0003;

	.bgabutton_gray {
		background: linear-gradient(#262626, #2b2b2b);
	}

	.bgabutton_gray {
		background: linear-gradient(#333, #3b3b3b);
	}

	.bgabutton_gray:hover {
		background: linear-gradient(#262626, #2b2b2b);
	}

	.rank_entry {
		background-color: var(--dark-30);
	}

	.rank_entry:nth-child(odd) {
		background-color: var(--dark-10);
	}

	.card_shower,
	.prediction_phase {
		background: var(--dark-back);
	}

	.prediction_zone {
		background: var(--dark-10);
	}

	.allinstatus {
		background: var(--green-30);
	}
}