html[data-theme=dark].bgaext_bright {

	.display_bg,
	.card,
	.token {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	--ext-overlay-color: #0003;

	.bgabutton_gray {
		background: linear-gradient(#262626, #2b2b2b);
	}

	.bgabutton_gray {
		background: linear-gradient(#333, #3b3b3b);
	}

	.bgabutton_gray:hover {
		background: linear-gradient(#262626, #2b2b2b);
	}
}