@import "./common";

#D {

	.playerIcons_line_4,
	.playerIcons_line_5 {
		background-color: var(--dark-10);
	}

	.playerResourceBlock p {
		text-shadow: 2px 0 2px #00000099, 0 -2px 2px #00000099, 0 2px 2px #00000099, -2px 0 2px #00000099;
	}

	.amf_tooltip_header>span[style*="color: #666666"] {
		color: #999999 !important;
	}
}