html[data-theme=dark].bgaext_bright {

	.APEXcard,
	.APEXplayerBoard,
	.APEXsector {
		filter: var(--ext-bright);
	}

	.APEXsector.APEXdisabled {
		filter: grayscale(1);
	}
}

.bgaext_dark {
	.APEXpile {
		outline-color: var(--dark-40);
	}

	.APEXscrollArea {
		border-color: var(--dark-40);
	}

	.player-board-game-specific-content,
	.player-board-game-specific-content>* {
		filter: invert(1);
	}

	.APEXage,
	.APEXround {
		color: var(--red-80);
	}
}