@import "./common";

html[data-theme=dark] {

	.player-board,
	.player-board>*,
	.ap-player-area-block.ap-player-docking-mat,
	.ap-player-area-block.ap-player-docking-mat>* {
		filter: invert(1);
	}

	.ap-icon-art[data-type=queens-favor] {
		filter: var(--highlight) !important;
	}

	#ap-game .ap-player-area .ap-player-area-above-hive .ap-player-area-block.ap-player-docking-mat .ap-player-area-block-header {
		color: var(--light-80);
	}

	#jj-zoom-controls {
		background: var(--dark-10);
		color: var(--light-70);
	}

	#popin_ap-scoresheet-dialog,
	#popin_ap-scoresheet-dialog>* {
		filter: invert(1);
	}

	#popin_ap-scoresheet-dialog #ap-scoresheet {
		background-color: var(--dark-back);
	}

	#ap-scoresheet {

		.ap-icon-art[data-type="queens-favor"],
		.ap-icon-art[data-type=carve],
		.ap-icon-art[data-type=development],
		.ap-icon-art[data-type=recruit],
		.ap-icon-art[data-type=farm] {
			filter: var(--highlight-min);
			border-radius: 5%;
		}
	}
}