@import "./common";

.bgaext_bright {

	.card_front,
	.card_back {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	#overall-content {
		color: var(--light-80);
	}

	.bgae_panel .bgae_content .panel {
		background-color: var(--dark-back);
		opacity: 1;
	}

	.counter_prefix,
	.counter_value,
	.counter_suffix {
		color: var(--light-80) !important;
	}
}