@import "./common";

#D {
	body {
		background: none !important;
	}

	#zoomplus,
	#zoomminus,
	#zoomcenter {
		color: var(--light-80);
	}

	.aj_sprite {
		filter: var(--drop-shadow);
	}

	.aj_playerBlock>div>h3 {
		background-color: var(--dark-20) !important;
	}

	#player_boards .plPanelSpan {
		color: #000;
	}
}