html[data-theme=dark] {

	.abl-player-board .board-holder .player-name,
	.abl-tab-bar {
		background: var(--dark-back);
	}

	.abl-actions-holder {
		background-color: var(--dark-10);
	}

	.abl-die-holder .abl-die.selected {
		outline-color: var(--blue-80);
	}

	.abl-tab-bar .abl-tab-bar-tab {
		color: var(--light-80);
		border-color: var(--dark-40);
	}

	.abl-tab-bar .abl-tab-bar-tab:hover {
		background-color: var(--dark-10);
	}

	.abl-tab-bar .abl-tab-bar-tab.active {
		background-color: var(--dark-20);
		border-color: var(--green-30);
		color: var(--green-50);
	}

	.abl-tab-bar .abl-tab-bar-toggle {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.abl-end-game-scoring {
		background-color: var(--dark-20);
	}

	.abl-end-game-scoring .abl-end-game-title {
		color: var(--light-80);
	}

	.abl-end-game-scoring .abl-score-table th {
		background-color: var(--dark-10);
		color: var(--light-70);
	}

	.abl-end-game-scoring .abl-score-table tr:nth-child(2n) {
		background-color: var(--dark-40);
	}

	.abl-end-game-scoring .abl-score-table .abl-player-name {
		color: var(--light-80) !important;
	}

	.abl-end-game-scoring .abl-score-table tr:hover {
		background-color: var(--dark-0);
	}

	.abl-end-game-scoring .abl-score-table .abl-total-score {
		background-color: var(--green-10);
	}

	.map,
	.abl-game-board .board,
	.abl-player-board .board-holder .board,
	.abl-game-board .train-card,
	.abl-game-board .track-laying-tile,
	.abl-player-board .board-holder .shares-holder .share,
	.abl-player-board .trains-holder .train-holder .train-car,
	.abl-player-cards .starting-location-card,
	.abl-card-stock,
	.abl-player-panel .share,
	.abl-player-panel .train-car,
	.abl-die-holder .abl-die {
		filter: var(--ext-bright);
	}
}