@import "./common";

#D {

	.tbp-icon.tbp-icon-bag,
	.tbp-icon.tbp-icon-dust,
	.tbp-icon.tbp-icon-telescope,
	.tbp-icon.tbp-icon-wisdom {
		filter: var(--drop-shadow);
	}

	.player_board_inner .player_score_value {
		filter: invert(1);
	}

	.tbp-startPlayer {
		filter: var(--highlight);
	}

	#page-title .bgabutton_boon,
	.tbp-boon {
		background: #faf7ef;
	}

	.tooltiptext .tbp-icon-vp {
		filter: invert(0.9);
	}
}