@import "./common";

html[data-theme=dark]:not(.background2) #overall-content:before {
	content: "";
	background: #000000A0;
	position: absolute;
	width: 100%;
	height: 100%;
}

html[data-theme=dark]:not(.background2) #bga-zoom-controls {
	filter: invert(1);
}

html[data-theme=dark] {
	.player-table-wrapper .player-hand {
		background: var(--dark-back);
		box-shadow: 0 0 5px 5px #000000dd;
	}

	.player-table-wrapper .player-table:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.player-table-wrapper .player-table:not(.variant) .wall {
		background: #ada9a9b0;
		box-shadow: none;
	}

	#factories .factory,
	.tile {
		filter: var(--ext-bright);
	}
}