@import "./common";

html[data-theme=dark] {
	.card {
		color: #000;
	}

	.selected_card {
		box-shadow: none;
		filter: var(--highlight-max);
	}

	[style^="color:#462213"] {
		color: #c86237 !important;
	}

	[style^="color:#4b3d2f"] {
		color: #9d8062 !important;
	}

	[style^="color:#7d7847"] {
		color: #a39c5c !important;
	}

	[style^="color:#5f79b6"] {
		color: #738abf !important;
	}

	[style^="color:#8b4513"] {
		color: #e06f1f !important;
	}

	[style^="color:#0000ff"] {
		color: #6666ff !important;
	}
}