@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #00000040;

	#zoom-out,
	#zoom-in {
		filter: invert(1) grayscale(1) var(--highlight-min);
	}

	.ba_piles_log,
	.ba_tokens_log {
		filter: var(--highlight);
	}
}