@import "./common";

html[data-theme=dark].darkpanel #player_boards .player-board.eliminated {
	background: var(--dark-40) !important;
}

html[data-theme=dark] {

	.player-character-name,
	.player-character-powers {
		color: #000;
	}

	.bang-player .bang-player-container,
	div#hand,
	div#board #table #table-container {
		background-color: var(--dark-back);
	}

	.card-copy-color[data-color=C]:before,
	.card-copy-color[data-color=S]:before {
		text-shadow: var(--text-w-shadow);
	}

	.bang_popin {
		background: var(--dark-20);
	}

	.bang_popin h2 {
		color: var(--light-70);
	}

	.bang_popin #dialog-title-container {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	div#board #table #table-container {
		color: var(--light-80);
	}

	div.bang-card .card-front .card-name {
		color: #000;
	}

	div#xIcon svg {
		fill: var(--light-80);
	}

	.bang-player .bang-player-container {
		border: 1px solid var(--light-50);
	}

	.bang-player .bang-player-container .player-info .player-distance {
		background: var(--dark-10);
		border: 1px solid #fff;
		color: #fff;
	}

	.bang-player .bang-player-container .player-info .player-distance:before {
		background-image: linear-gradient(var(--light-80) 1px, transparent 0), linear-gradient(90deg, var(--light-80) 1px, transparent 0);
	}

	.bang-player .bang-player-container .player-info .player-star,
	.player-role {
		filter: var(--highlight-min);
	}

	div#board #table #table-container .deckCount {
		background: var(--dark-10);
		text-shadow: none;
	}

	.card-copy-value {
		color: #000;
	}

	.player-info,
	div#hand div#role-container div#role-card {
		filter: brightness(0.9);
	}
}