@import "./common";

#D {

	#gamelog_key,
	#phase_label {
		color: var(--light-70);
	}

	.blk_gamelog_box {
		background-color: #342618;
	}

	.blk_auto_preference_box {
		background-color: #0e0e3f;
	}

	.blk_seed_area {
		border-color: #fff;
	}
}