@import "./common";

#D {

	.bp-player-area-container,
	.bp-supply-board-overlap {
		background: var(--dark-back) !important;
	}

	.bp-supply-board-view-button,
	.bp-player-panel-columns {
		filter: invert(1);
	}

	.bp-player-panel-zoom {
		filter: grayscale(1);
	}
}