@import "./common";

#D {
	html.darkpanel .player-board {
		background: var(--dark-30) !important;
	}

	.player_panel_content .company-panel-wheel-container .company-summary-wheel .summary-wheel-inner:before {
		background: var(--dark-20);
	}

	.barrage-tech-tile .tech-tile-fixed-size .tech-tile-image {
		filter: var(--drop-shadow);
	}

	[data-company="2"] {
		filter: var(--highlight-min);
	}

	#go-to-top {
		border: 1px solid var(--light-50);
		border-radius: 6px;
	}
}