@import "./common";

#D {
	#board {
		background: var(--dark-20);
		color: #fff;
	}

	.fleetship {
		box-shadow: inset 0px 0px 2px 2px var(--light-50);
	}

	.table-cell {
		border: 0.5px solid var(--light-50);
	}

	.grid-body {
		background-color: var(--dark-40);
	}
}