@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	#zoom_controls * {
		color: var(--light-80) !important;
	}

	.counter-icon {
		filter: var(--highlight-min);
	}
}