html[data-theme=dark] {
	#main_board {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.player_item_panel {
		background-color: var(--dark-back);
	}

	.board_dice_figure,
	.dice_figure {
		filter: var(--drop-shadow-min);
	}
}