@import "./common";

#D {

	.player_score_token,
	.player_score_token3 {
		background: #00000080;
	}

	.player_biome_nb {
		color: var(--light-80);
	}

	.player_board_reserve {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	#text {
		color: var(--light-70) !important;
	}

	.playerposition_1,
	.playerposition_2,
	.playerposition_3,
	.playerposition_4 {
		background-color: var(--dark-back);
	}
}