html[data-theme=dark] {
	#blk-pile-area {
		background: var(--dark-back-50);
	}

	#blk-pile-info {
		color: #9a734c;
	}

	#blk-pile-claim {
		background: var(--dark-20);
		color: var(--light-80);
	}

	.blk-pile-slot {
		align-items: center;
		background: var(--dark-back-50);
		border-color: #a3784359;
		color: #a378437a;
	}

	.blk-challenge-waiting-label {
		color: var(--red-80);
	}

	.blk-challenge-passes-label {
		color: var(--green-80);
	}

	.blk-card,
	.blk-card-back {
		filter: var(--ext-bright);
	}
}