@import "./common";

#D {
	#bon_opponents .bon_player {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#bon_solo-panel {
		background: var(--dark-back);
	}

	.bon_solo-obj {
		color: var(--light-80);
	}
}