html[data-theme=dark] {
	--ext-overall-color: #0005;

	#bo_zoom_minus_button,
	#bo_zoom_plus_button {
		background: #742542;
	}

	#bo_help_button {
		background: #1f5b60;
	}

	.eye:hover {
		filter: invert(0.9);
	}

	.tooltip_desc {
		color: var(--light-80);
	}

	.tooltip_bigtitle,
	.tooltip_subtitle {
		color: #ac7920;
	}

	.modal-content {
		background: var(--dark-20);
		border-color: var(--dark-40);
	}

	.close {
		color: var(--light-80);
	}

	.bo_sheet,
	.scorepad {
		filter: var(--ext-bright);
	}
}