@import "./common";

#D {
	#player_boards .player-name a {
		background-color: transparent !important;
	}

	#botanicus-game-holder .garden-board-holder .garden-board .player-name-holder {
		background-color: var(--dark-10);
	}

	#botanicus-board,
	.garden-board-holder {
		filter: brightness(0.9);
	}
}