@import "./common";

#D {
	#overall-content {
		background-color: var(--dark-40);
	}

	.tab_button,
	.player_hand_label {
		color: var(--light-80);
	}

	.counter_shells {
		color: var(--light-50);
	}
}