@import "./common";

#D {
	.table_color {
		background: var(--dark-back);
	}

	.playertablename,
	.table_cell {
		color: #fff;
	}

	.playertablename {
		text-shadow: none !important;
	}

	#game_board {
		background-color: #004d00;
	}
}