@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	#ca_action_left {
		color: var(--light-70);
	}

	.ca_zoom_btn {
		filter: invert(0.8);
	}

	.ca_token_card .sprite {
		filter: brightness(0.9);
	}
}