html[data-theme=dark] {
	color: var(--light-80);

	.cok_inactive_label {
		color: var(--light-60);
	}

	.cok_cat_discards {
		background-color: var(--dark-back);
	}

	.zoom-controls button {
		border-color: var(--light-80);
	}

	.cok_tooltip_reference_card_image,
	.reference_card,
	.cok_cat_card,
	.cok_cat_discards,
	.cok_toy_card_back,
	.cok_toy_card_front {
		filter: var(--ext-bright);
	}
}