@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.cf_title {
		background-color: var(--dark-30);
	}

	.cf_boardrule,
	.cf_tooltip {
		background-color: var(--orange-10);
		color: var(--light-80);
	}

	.cf_tooltip_quote {
		color: var(--light-80);
	}

	.cf_tooltip,
	.cf_boardrule {
		border: 3px solid var(--light-50);
	}

	.cf_tooltip_endgame {
		color: var(--blue-50);
	}

	.bg-firstplayer {
		filter: var(--drop-shadow);
	}
}