@import "./common";

html[data-theme=dark] {
	#player_boards .partisan {
		filter: var(--highlight-min);
	}

	body {
		background: none !important;
	}

	.handtile,
	#map_container .tile_art,
	#tile_in_title .tile_art {
		filter: var(--ext-bright);
	}

	.icon_wrapper {
		filter: invert(1);
		border: 1px solid var(--light-50);
	}
}