#D {
	.bga-help_popin-button {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.card-stock .slot {
		background: var(--dark-back);
	}

	.card .card-sides .card-side,
	.player_board_location {
		filter: brightness(0.9);
	}
}