html[data-theme=dark] {
	background-color: #555;
}

#D {
	.aal-help_popin-button {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	.aal-popup-overlay .aal-popup-content {
		background: var(--dark-30);
		color: var(--light-80);
	}

	.aal-popup-overlay .aal-popup-content [style="color: darkblue;"] {
		color: var(--blue-50) !important;
	}

	.aal-popup-overlay .aal-popup-content [style="color: red;"] {
		color: var(--red-30) !important;
	}

	.aal-popup-overlay .aal-popup-content [style="color: gray;"] {
		color: var(--light-50) !important;
	}

	.ca_market .ca_container .ca_price_zoom {
		fill: #fff;
		opacity: .5;
	}

	.ca_token[style="transform: scale(1); opacity: 0.1;"] {
		opacity: 0.3 !important;
	}

	.ca_tabs .ca_player.ca_selected {
		background: var(--dark-20);
	}

	.ca_tabs {
		padding-left: 35px;
	}
}