@import "./common";

html[data-theme=dark] {
	#overall-content {
		background: #18414e;
	}

	.player-table {
		background: var(--dark-back);
	}

	.player-table .name-wrapper .name {
		text-shadow: none;
	}

	#popin_bgaHelpDialog .block {
		background: var(--dark-20);
	}

	.bga-help_popin-button {
		background: #30839c;
	}

	.discount-counter .discount-counter-value {
		color: #000;
	}

	#notice {
		background: var(--dark-20);
		color: var(--light-80);
	}
}