@import "./catan";

#cat_seafarers_rules {
	background: linear-gradient(0deg, #062a37, var(--dark-10) 59%, var(--dark-10));
}

.ruleset_mapname {
	background: hsl(194 100% 20% / 1);
	color: var(--light-70);
}

.ruleset_content {
	color: var(--light-70);
}

.ruleset_midtitle {
	color: var(--blue-70);
}

.cat_hex.cat_Empty {
	filter: invert(0.8);
}