html[data-theme=dark].bgaext_bright {

	.bga-cards_card>.bga-cards_card-sides>.bga-cards_card-side,
	.catopomp-default-help-image {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	#game_play_area_wrap {
		color: var(--light-80);
	}

	.catopomp-player-main-section,
	.catopomp-common-section {
		background-color: var(--dark-back);
		border-color: var(--light-50);
	}

	.catopomp-player-header-subsection {
		border-color: var(--light-50);
	}

	.standard_popin {
		background-image: none !important;
	}

	.catopomp-help-table td,
	.catopomp-help-table th {
		background-color: var(--dark-20);
		border-color: var(--dark-40);
	}
}