@import "./common";

.bgaext_bright {
	.cln-stacks:before {
		.reduceBrightness();
		border-radius: 8px;
	}

	.cln-stacks {
		position: relative;
	}

	#cln-discard,
	.cln-hidden-hand,
	.cln-card .cln-card-front,
	.cln-board {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	--ext-overlay-color: #fff8;

	.cln-suit {
		--marker-color: var(--light-70);
	}
}