@import "./common";

#D {
	html.century_theme.spice {
		background-color: #2d1f06;
	}

	html.century_theme.spice #logs .log_replayable .roundedbox {
		background: var(--dark-20);
	}

	.logitem.mcard_forlog {
		background-color: #040404;
	}

	.mcard_forlog:after {
		border-left: 7px solid #040404;
	}

	.logitem.gcard_forlog {
		background-color: #040404;
		color: #e59480;
	}

	.tableau:before {
		text-shadow: none;
	}
}