@import "./common";

#D {
	.player_board_content .player-board-wrapper .counters .counter-wrapper {
		background: var(--dark-40);
		border: 1px solid var(--light-50);
	}

	.player_board_content .player-board-wrapper .action-button.bgabutton {
		background: var(--green-30);
	}

	.player-table h3 {
		background-color: var(--dark-20);
	}

	.bga-cards_deck-counter.round {
		background: var(--dark-10);
		box-shadow: 0 0 2px 1px #fff;
		color: var(--light-80);
	}

	.help-marker .fa {
		color: #000 !important;
		text-shadow: var(--text-w-shadow);
	}
}