@import "./common";

#D {

	.chs_text-tooltip,
	.chs_tooltip-text {
		color: var(--light-80);
	}

	.chs_c_icon {
		filter: var(--highlight-min);
	}

	#chs_brains_supply,
	#chs_claws_supply,
	#chs_leaves_supply,
	#chs_tentacles_supply {
		filter: var(--drop-shadow);
	}
}