@import "./common";

#D {
	#btn_user_prefs {
		filter: invert(1);
	}

	.block-user-pref-radio label {
		background-color: #111;
	}

	#map_container {
		background-image: none;
		background-color: var(--dark-30);
	}

	.tile.icon {
		filter: var(--highlight-min);
	}
}