@import "./common";

html[data-theme=dark] {
	#coalbaron-main-container .coalbaron-board .player-board-fixed-size .board-elevator .player-name {
		background: var(--dark-20);
	}

	#coalbaron-main-container #coalbaron-board .board-space,
	#coalbaron-main-container #coalbaron-board .board-space#bank_1 .space-workers-container,
	#coalbaron-main-container #coalbaron-board .board-space#canteen .space-workers-container {
		background: var(--dark-back);
	}

	#coalbaron-main-container #coalbaron-board .board-space#factory_1 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_2 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_3 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_4 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_5 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_6 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_7 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_8 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#order_1 .space-workers-container,
	#coalbaron-main-container #coalbaron-board .board-space#order_2 .space-workers-container,
	#coalbaron-main-container #coalbaron-board .board-space#order_3 .space-workers-container,
	#coalbaron-main-container #coalbaron-board .board-space#order_4 .space-workers-container {
		border-bottom: 1px solid var(--light-50);
	}

	#coalbaron-main-container #coalbaron-board .board-space#factory_5 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_6 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_7 .space-tile-container,
	#coalbaron-main-container #coalbaron-board .board-space#factory_8 .space-tile-container {
		border-top: 1px solid var(--light-50);
	}

	#player_config #round-counter-wrapper {
		background: var(--dark-10);
		font-weight: normal;
		color: var(--light-80);
	}

	#coalbaron-main-container .coalbaron-board {
		background-color: #3d2b0f;
	}

	.coalbaron-meeple.icon-worker {
		filter: var(--highlight);
	}
}