@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.co_board {
		filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, .8)) var(--ext-bright);
	}
}