@import "./common";

#D {

	.currentBidInfo__player,
	.bid-value {
		color: var(--light-80);
	}

	#logs .card-color-icon,
	.currentBidInfo .card-color-icon {
		filter: var(--drop-shadow);
	}

	.cardStyleSelect__option:hover {
		background: var(--dark-30);
	}
}