html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bg-icon_zoom_in,
	.bg-icon_zoom_out {
		filter: invert(0.8) !important;
	}

	.mf_help_animal {
		background-color: #000;
	}

	.mf_item_back,
	.mf_item_front {
		filter: var(--ext-bright);
	}
}