@import "./common";

html[data-theme=dark] {
	.player-infos .icons {
		filter: var(--highlight);
	}

	.player-infos .counter:before,
	.color,
	#caller {
		filter: var(--highlight-min);
	}

	.board .name {
		background-color: var(--dark-20);
	}
}