@import "./common";

html[data-theme=dark] {
	.bullets {
		filter: var(--highlight-min);
	}

	.lootvalue {
		color: #000;
	}

	#logs [style*=";color:#ffffff"] {
		background: none !important;
	}

	#logs [style*=";color:#3b3232"] {
		text-shadow: var(--text-w-shadow);
	}

	#backgroundPicture:before {
		.reduceBrightness();
	}

	.decor,
	.card,
	.loot,
	.pawn,
	.roundcard,
	.stockitem,
	.cloud,
	#playerDeck,
	#foreground {
		filter: var(--ext-bright);
	}
}