@import "./common";

html[data-theme=dark] {
	.bullets {
		filter: var(--highlight-min);
	}

	.lootvalue {
		color: #000;
	}

	#logs [style*=";color:#ffffff"] {
		background: none !important;
	}

	#logs [style*=";color:#3b3232"] {
		text-shadow: var(--text-w-shadow);
	}

	#backgroundPicture:before {
		content: "";
		background: var(--ext-alpha);
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.decor,
	.card,
	.loot,
	.pawn,
	.roundcard,
	.stockitem,
	.cloud,
	#playerDeck,
	#foreground {
		filter: var(--ext-bright);
	}
}