.purpleButton() {
	background: linear-gradient(#9a0bb7, #782489) !important;
	border: 1px solid #00334d !important;
	color: #fff !important;
}

.purpleButtonOver() {
	background: linear-gradient(#c406ea, #782489) !important;
	color: #fff !important;
}

.greenButton() {
	background: linear-gradient(#0bb76c, #24895d) !important;
	border: 1px solid #004d05 !important;
	color: #fff !important;
}

.greenButtonOver() {
	background: linear-gradient(#06ea87, #24895d) !important;
	color: #fff !important;
}

.yellowButton() {
	background: linear-gradient(#b6b70b, #898924) !important;
	border: 1px solid #00334d !important;
	color: #fff !important;
}

.yellowButtonOver() {
	background: linear-gradient(#eaea06, #898924) !important;
	color: #fff !important;
}

.blueButton() {
	background: linear-gradient(180deg, #0ba9b7, #248189) !important;
	color: #fff !important;
}

.blueButtonOver() {
	background: linear-gradient(180deg, #06d7ea, #248189) !important;
	color: #fff !important;
}

.redButton() {
	background: linear-gradient(180deg, #b70b0b, #892424) !important;
	border: 1px solid #6a2f2f;
	color: #fff !important;
}

.redButtonOver() {
	background: linear-gradient(180deg, #ea0606, #892424) !important;
	color: #fff !important;
}

.orangeButton() {
	background: linear-gradient(180deg, #db661f, #84461f) !important;
	border: 1px solid #69452e;
	color: #fff !important;
}

.orangeButtonOver() {
	background: linear-gradient(180deg, #ff8e47, #84461f) !important;
	color: #fff !important;
}

.pinkButton() {
	background: linear-gradient(180deg, #db1f9c, #841f62) !important;
	border: 1px solid #69452e;
	color: #fff !important;
}

.pinkButtonOver() {
	background: linear-gradient(180deg, #ff47c2, #841f62) !important;
	color: #fff !important;
}

.disabledButton() {
	background: #787878 !important;
	border-color: var(--light-50) !important;
	color: #fff !important;
	cursor: not-allowed;
}