@import "./common";

html[data-theme=dark].bgaext_bright {

	.selectcard:before,
	.card:before {
		.reduceBrightness();
	}

}

html[data-theme=dark].bgaext_dark {
	.selectcard {
		border: 2px solid #90961d;
	}

	#selectcardpopdown,
	#hide {
		background-color: #5f6819;
		color: #fff;
	}
}