@import "./common";

html[data-theme=dark] {

	.selectcard:before,
	.card:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.selectcard {
		border: 2px solid #90961d;
	}

	#selectcardpopdown,
	#hide {
		background-color: #5f6819;
		color: #fff;
	}
}