@import "./common";

html[data-theme=dark] {
	.token {
		filter: var(--highlight-min);
	}

	#logs [style="color: #770405"] {
		color: #ac0609 !important;
	}

	#popin_conspiracyHelpDialog {
		background: var(--dark-20);
		color: var(--light-80);
	}

	#help-popin h1 {
		color: #fff;
	}

	#help-popin #alliance {
		color: var(--yellow-10);
	}

	#help-popin #alliance .example-wrapper .example {
		margin-top: 1em;
	}
}