@import "./common";

.bgaext_bright {
	.card {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.playertablename {
		text-shadow: none;
	}

	[style^="color:black"] {
		text-shadow: var(--text-w-shadow);
	}
}