@import "./common";

#D {
	body {
		background: none !important;
	}

	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.coe-custom-background .timestamp {
		background-color: transparent;
	}

	.coe-custom-background #seemorelogs {
		background-image: none;
	}
}