@import "./common";

#D {

	.club,
	.spade {
		text-shadow: var(--text-w-shadow);
	}

	#cutCardSpace {
		color: #fff;
	}

	.playertablename {
		background-color: var(--dark-back);
		padding: 0.3em 1em;
		border-radius: 8px;
	}
}