@import "./common";

html[data-theme=dark] {
	#tab-bar li {
		background-color: var(--dark-back);
	}

	#tab-bar li.active,
	#tab-bar li:hover,
	#main-content {
		background-color: var(--dark-20);
		color: #fff;
	}

	p.epilogue-paragraph {
		background-color: var(--dark-10);
		color: var(--light-70);
	}
}