@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bgaext_overlay {
		background: var(--gameBack) !important;
		display: none;
	}

	#overall-content[style*="crisps"] .bgaext_overlay {
		display: block;
	}

	.playertablename {
		text-shadow: none;
	}

	[style="color:red;"] {
		color: var(--red-80) !important;
	}
}