html[data-theme=dark] {
	--ext-overlay-color: #00000020;

	.mf_tablelabel .playername {
		color: var(--light-80);
	}

	.mf_zone {
		background-color: var(--dark-back);
	}

	.mf_zone_highlight {
		background-color: var(--dark-40);
	}

	.mf_zone_nobg {
		background-color: transparent !important;
	}

	div[style^="outline-color: rgb(226, 27, 74);"] {
		outline-color: #e21b4a !important;
	}

	div[style^="outline-color: rgb(238, 151, 29);"] {
		outline-color: #f0a842 !important;
	}

	div[style^="outline-color: rgb(4, 62, 79);"] {
		outline-color: #4ccff5 !important;
	}

	#logs .mf_shadow {
		filter: var(--drop-shadow);
	}
}