@import "./common";

html[data-theme=dark] {
	.block_title {
		background-image: none;
		background-color: var(--dark-20);
	}

	#zoomin_left,
	#zoomin_right,
	#zoomout_left,
	#zoomout_right {
		background-color: transparent;
		box-shadow: none;
		filter: invert(0.7);
	}
}