@import "./common";

#D {
	.cbsr_playerarea_container {
		background: var(--dark-back);
	}

	.name-content {
		background: linear-gradient(0deg, var(--dark-20), #000);
	}

	.container-vm {
		color: #ff5d5d;
		text-shadow: none;
		background: var(--dark-20);
	}

	.cbsr_dna_count {
		color: #6666ff;
	}
}