@import "./common";

html[data-theme=dark] {
	#card_log_table {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#card_log_table [style="color:black"] {
		text-shadow: var(--text-w-shadow);
	}

	.playertablename,
	.player-name {
		text-shadow: none !important;
	}
}