@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0004;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		display: none;
	}

	#overall-content[style*="diamonds"] .bgaext_overlay {
		display: block;
	}

	.playertablename {
		text-shadow: none;
	}

	#logs [style^="color:#0000dd;"] {
		color: var(--blue-80) !important;
	}

	#logs [style^="color:#800080;"] {
		color: var(--violet-80) !important;
	}

	#logs [style^="color:#800000;"] {
		color: var(--red-50) !important;
	}
}