@import "./common";

html[data-theme=dark].bgaext_bright {

	.pools,
	.bside,
	.cards-pile,
	#board,
	#maze-board,
	#titan-board,
	.play-area .stockitem {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	body {
		background: transparent !important;
	}

	#nb-turns-container {
		color: #fff;
	}

	.action-bar {
		border: 1px solid rgb(255 255 255 / 20%);
	}

	.header-action {
		background-color: rgba(255, 255, 255, .1);
	}

	.cards-pile {
		box-shadow: 0 0 2px 0 #9f9393;
	}

	#maze-caption {
		background-color: var(--dark-back);
	}

	.player-orange {
		color: #d87b26;
	}

	.player-blue {
		color: #6b9193;
	}

	.player-black {
		color: #000;
		text-shadow: var(--text-w-shadow);
	}

	.player-green {
		color: #bfbe3f;
	}
}