@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0004;

	.bgaext_overlay {
		filter: grayscale(0.5) brightness(0.7);
		background: var(--ext-game-back) !important;
		display: none;
	}

	#overall-content[style*="dickory"] .bgaext_overlay {
		display: block;
	}

	.playertablename {
		text-shadow: none;
	}

	.bgabutton_blue:not(.disabled)[style="background: green; border-color: green;"] {
		.greenButton();
	}

	.bgabutton_blue:not(.disabled)[style="background: green; border-color: green;"]:hover {
		.greenButtonOver();
	}

	#clock_arrow {
		filter: invert(1);
	}
}