@import "./common";

html[data-theme=dark] {

	.dgt_columnLabel:nth-child(odd),
	.dgt_rowLabel:nth-child(2n) {
		background-color: var(--dark-10);
	}

	.dgt_columnLabel:nth-child(2n),
	.dgt_rowLabel:nth-child(odd) {
		background-color: var(--dark-40);
	}

	.dgt_lineMarker-confirmed {
		-webkit-text-stroke: initial;
		color: var(--red-80);
	}

	.dgt_digitLabel {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	#bga-zoom-wrapper #bga-zoom-controls {
		filter: invert(0.9);
	}

	.dgt_optionMarker {
		color: var(--light-50);
	}

	.dgt_optionMarker:where(.dgt_draft):before,
	.dgt_comparisonIcon-confirmed,
	.dgt_parityMarker-confirmed {
		color: var(--red-80);
	}

	.dgt_space:where(.dgt_draft):where([data-draftvalue=filled]) {
		background-image: repeating-linear-gradient(-45deg, var(--red-80), var(--dark-40) 6px);
	}

	.dgt_space:where(.dgt_draft):where([data-draftvalue=empty]) {
		filter: brightness(110%) contrast(150%);
	}

	.dgt_space-confirmed-filled {
		background-image: repeating-linear-gradient(90deg, var(--red-10), var(--red-80) 6px);
	}

	.dgt_lineMarker-confirmed {
		color: var(--red-80);
	}

	.dgt_space-confirmed-revealed {
		background: var(--green-30) !important;
	}

	.dgt_playerAid {
		filter: invert(0.85);
	}

	.bga-help_expandable-button {
		border: 1px solid var(--light-50);
	}

	.bga-help_folded-content {
		background: var(--dark-20);
	}

	.dgt_helpFolded {
		color: var(--light-70);
	}
}