@import "./common";

html[data-theme=dark] {
	.duaplayername {
		background: var(--dark-back);
	}

	.txtcard {
		color: #000;
	}

	.discardoverall {
		background-color: var(--dark-back);
		color: var(--light-80);
	}
}