@import "./common";

#D {
	h3 {
		color: #fff;
	}

	.resource {
		filter: var(--drop-shadow);
	}

	.responsive-layer .game-table .restaurant-pile .item-counter {
		background: #000;
	}

	.responsive-layer .modal-container {
		background-color: var(--dark-back);
	}

	.responsive-layer .modal {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.responsive-layer .btn-close {
		filter: invert(1);
	}

	.game-player-panel .panel-item.item-majority-ranking .item-value {
		background: #000;
	}
}