@import "./common";

html[data-theme=dark] {

	.dwhiteblock,
	.iconCanvas,
	#distillerChoice>div:first-child {
		background-color: #00000080 !important;
	}

	.invisiblePantryWrap,
	.pantryWrap {
		background-color: #000000cc;
		border-top: 1px solid var(--dark-40);
	}

	.pantryWrapTop,
	#pagesection_gameview .whiteblock {
		background-color: #000000cc;
	}

	.pantryExpanded .pantry2,
	div[id^=display][id$=wrapper] {
		background-color: #ffffff1a !important;
	}

	.playerContainer {
		color: var(--light-80);
	}

	svg[id^="eye_"] {
		filter: invert(1);
	}
}