@import "./common";

.bgext_avatar svg.dei_hidden {
	display: block !important;
}

#D {

	#zoomplus,
	#zoomminus {
		background-image: none !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
	}

	#zoomplus:before {
		content: "\\f00e";
	}

	#zoomminus:before {
		content: "\\f010";
	}
}