@import "./common";

html[data-theme=dark] {
	#overall-content[style*="background"] {
		--ext-overall-color: var(--ext-alpha);
	}

	#pagesection_gameview .whiteblock {
		color: #000;
	}

	#round_wrap,
	#myhand_wrap,
	#player_boards .hand_wrap,
	#player_boards .captured_wrap,
	#player_boards .hand_wrap span,
	#player_boards .captured_wrap span {
		text-shadow: none !important;
		color: var(--light-80) !important;
	}

	.player-name {
		text-shadow: none !important;
	}

	.card,
	.card_back {
		filter: var(--ext-bright);
	}

	.card_back[style="filter: grayscale(1);"] {
		filter: var(--ext-bright) grayscale(1) !important;
	}
}