@import "./common";

#dwr-area-pref-background {
	display: none;
}

html[data-theme=dark] {
	.bx-pill {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	#dwr-area-goal-container-wrap,
	#dwr-area-pref {
		background-color: var(--dark-back);
	}

	.bx-counter {
		background-color: var(--dark-10);
		border: 1px solid var(--light-50);
		color: var(--light-80);
	}

	.custom_popin {
		background: var(--dark-10);
		border: 2px solid var(--light-50);
		color: var(--light-80);
	}

	.custom_popin_closeicon {
		color: #aaa !important;
	}

	.notouch-device .custom_popin_closeicon:hover {
		color: #fff !important;
	}

	.dwr-card {
		border: 1px solid var(--dark-40);
	}

	.dwr-section-type {
		color: #000;
	}

	.dwr-icon {
		filter: var(--highlight);
	}
}