.bgaext_bright {
	.bga-cards_card>.bga-cards_card-sides>.bga-cards_card-side {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {

	.drako-player-kingdom-area-label,
	.drako-player-legend-area-label,
	#drako-deck-label,
	#drako-discard-label,
	#drako-legend-deck-label,
	#drako-player-hand-label {
		color: var(--light-80);
	}

	#drako-deck-area,
	.drako-player-area {
		border-color: var(--light-50);
	}
}