@import "./common";

html[data-theme=dark] {
	.navigation>li {
		filter: invert(0.7);
	}

	.navigation>li.selected {
		background-color: #7dff00;
	}

	.dijitTooltipContainer .novice,
	.dijitTooltipContainer .master {
		color: #000;
	}
}