@import "./common";

html[data-theme=dark] {
	.outer_wrapper {
		position: relative;
		border-width: 0px;
		background: #fad9a7;
	}

	#overall-content:before,
	#outer_wrapper:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.side_title {
		text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	}
}