@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0007;

	.bgaext_overlay {
		filter: grayscale(0.5) brightness(0.7);
		background: var(--ext-game-back) !important;
		display: none;
	}

	#overall-content[style*="dungeonrummy"] .bgaext_overlay {
		display: block;
	}

	#overall-content {
		color: var(--light-70);
	}

	#misfit_line {
		background: var(--dark-back);
	}

	#toggle_trash_compress {
		color: var(--blue-50);
	}

	.bgabutton_blue[style="background: green; border-color: green;"] {
		.greenButton();
	}

	.bgabutton_blue:not(.disabled)[style="background: green; border-color: green;"]:hover {
		.greenButtonOver();
	}

	.bgabutton_blue[style="background: darkgoldenrod; border-color: darkgoldenrod;"] {
		.yellowButton();
	}

	.bgabutton_blue:not(.disabled)[style="background: darkgoldenrod; border-color: darkgoldenrod;"]:hover {
		.yellowButtonOver();
	}

	.playertablename,
	.player-name {
		text-shadow: none !important;
	}

	#monster_deck,
	.monster,
	.hero,
	.stockitem,
	.card,
	.card_back,
	.iconspace {
		filter: var(--ext-bright);
	}
}