html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.elg-play-area,
	.elg-player-hand .elg-player-hand-holder {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.elg-player-panel-row .elg-player-panel-item [class$="-amount"] {
		color: #000;
	}

	.elg-play-area .elg-controls button {
		background: var(--dark-40);
	}
}