@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.player_config_row svg {
		filter: invert(0.8);
	}

	.player-board-name {
		padding: 0.3em 0.5em;
		background: none !important;
	}

	#table .elpaso-gamezone {
		background: var(--dark-back);
	}

	.bga-cards_deck-counter.round {
		background: var(--dark-10);
		box-shadow: 0 0 2px 1px var(--light-80);
		color: var(--light-80);
	}

	#ELP_caution {
		background: var(--red-10);
		color: var(--light-80);
	}

	#table-score-container #table-score-wrapper #table-score,
	#table-score-container #table-score-wrapper {
		background: var(--dark-20);
		color: var(--light-80);
	}

	#table #main-board,
	#table #card-board,
	#table #worker-board,
	#table .elpaso-gamezone .gamezone-content {
		filter: brightness(0.9);
	}
}