@import "./common";

#D {
	.eoc-diceDish {
		background-color: var(--dark-back);
	}

	.dijitTooltipContents h4,
	.standard_popin h4 {
		color: var(--light-80);
	}

	.dijitTooltipContents .eoc-icon-end,
	.dijitTooltipContents .eoc-icon-env,
	.dijitTooltipContents .eoc-icon-funds,
	.dijitTooltipContents .eoc-icon-type1,
	.dijitTooltipContents .eoc-icon-type2,
	.dijitTooltipContents .eoc-icon-type3 {
		filter: none;
	}

	#pagemaintitletext span[style*="color:#000000"] {
		text-shadow: var(--text-w-shadow);
	}
}