@import "./common";

html[data-theme=dark] {

	.playerBoard:before,
	#playmat_container:before {
		.reduceBrightness();
		border-radius: 8px;
	}

	#playmat_container,
	#playmat_container>* {
		position: relative;
	}

	.etmTooltipEffect,
	.etmTooltipName {
		color: var(--light-80);
	}

	.etmTooltipStatus {
		color: var(--light-50);
	}

	.playerName {
		background: var(--dark-back);
		width: fit-content;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 5px;
		padding: 0px 5px;
	}

	#playerHand {
		background-color: var(--dark-back);
	}

	.etmEraCard,
	.etmActionCard {
		filter: var(--ext-bright);
	}
}