html[data-theme=dark] {
	#overall-content {
		color: var(--light-80);
	}

	#bga-zoom-controls {
		filter: invert(0.8);
	}

	.etc_game_alert {
		background-color: var(--orange-30);
		color: var(--light-80);
	}

	#etc-options-list {
		background-color: var(--dark-10);
	}

	.etc_player_panel .etc_figure_090b0d {
		filter: var(--highlight-min);
	}

	#etc-continent-cards .etc_selectable {
		border-color: var(--blue-80);
	}

	.etc_counter {
		background-color: var(--dark-20);
		border: 1px solid var(--light-50);
	}

	.etc_card,
	.etc_secret_decade_back {
		filter: brightness(0.9);
	}
}