@import "./common";

#D {
	.storytextarea[readonly] {
		background-color: var(--dark-10);
	}

	.badge {
		filter: invert(0.7);
	}

	html.darkpanel #player_boards .player-board.team_storyteller {
		background-color: var(--dark-20) !important;
	}

	html.darkpanel #player_boards .player-board.team_storyteller_captain {
		background-color: var(--dark-10) !important;
	}

	html.darkpanel #player_boards .player-board.team_judge {
		background-color: var(--dark-30) !important;
	}

	html.darkpanel #player_boards .player-board.team_judge_captain {
		background-color: var(--dark-40) !important;
	}
}