@import "./common";

html[data-theme=dark] {
	body {
		background: var(--dark-30) !important;
	}

	#overall-content {
		color: var(--light-80);
	}

	.fo_popup_content,
	.fo_help_card {
		background-color: var(--dark-30);
	}

	.fo_zone {
		background-color: var(--dark-back);
	}

	.fo_diezone {
		background-color: var(--dark-40);
		border: 1px solid var(--light-50);
	}

	.fo_diezone_title {
		background-color: var(--dark-10);
	}

	#mf_flashinfo {
		background: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #000 25%, #000 50%, #000 75%, hsla(0, 0%, 100%, 0));
	}

	.fo_popup_content .text1,
	.fo_supply p {
		color: #000;
	}

	.fo_panel_char {
		filter: var(--drop-shadow);
	}
}