@import "./common";

html[data-theme=dark] {
	.hand {
		background-color: var(--dark-10);
		border: 1px solid var(--dark-40);
	}

	.movable-component i,
	.player_vue svg {
		filter: invert(0.9);
	}

	.fr_title-font {
		color: #bf8040;
	}

	.fr_desc-font {
		color: #7aa4b8;
	}

	#logs [style^="color:darkblue"] {
		color: var(--blue-70) !important;
	}

	.movie .movie_label_score .ko {
		color: var(--red-30);
	}

	.movie .movie_label_score .ok {
		color: var(--green-50);
	}

	.player_vue .imgCards {
		filter: var(--drop-shadow);
	}

	.player_vue .nbCards {
		background-color: var(--dark-back);
	}

	.clue {
		background-color: var(--dark-40);
	}
}