@import "./common";

#ffo-action-board-holder {
	padding-left: 16px;
}

.ffo-card.ffo-card-weapon-bow {
	background-position: 33.5% 0
}

.ffo-card.ffo-card-weapon-snare {
	background-position: 44.9% 0;
}

.ffo-card.ffo-card-weapon-spear {
	background-position: 56.15% 0
}

.ffo-card.ffo-card-weapon-sword {
	background-position: 67.4% 0
}

#D {
	.ffo-pref-background #overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.ffo-pref-background header,
	.ffo-pref-background body {
		background: none !important;
	}

	.player-name .ffo-icon-eye {
		filter: invert(0.8);
	}

	#ffo-modal #ffo-modal-content {
		background-color: var(--dark-back);
		border: 1px solid var(--dark-40);
	}

	#feast-for-odin .ffo-tab {
		background-color: var(--dark-10);
	}

	#feast-for-odin .ffo-tab:hover {
		background-color: var(--dark-30);
	}

	.ffo-num-vp-token {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.ffo-player-board-main .ffo-player-name {
		background-color: var(--dark-back) !important;
	}

	.ffo-player-board-main .ffo-player-name span:first-child,
	.ffo-player-board-main .ffo-player-name span:last-child {
		color: var(--light-80) !important;
	}

	.ffo-main-resources .ffo-good,
	#logs .ffo-good.ffo-icon,
	#logs .ffo-icon.ffo-icon-d12 {
		filter: var(--drop-shadow-min);
	}

	table.ffo-score-table thead th {
		background-color: var(--dark-30);
		color: var(--light-80);
	}

	table.ffo-score-table {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	table.ffo-score-table tr[style="border-top: 1px solid black"],
	table.ffo-score-table tr[style="border-top: 3px double black"] {
		border-color: var(--light-50) !important;
	}
}