@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="fibonachos"] .bgaext_overlay {
		display: block;
	}

	.player-name,
	.playertablename {
		text-shadow: none !important;
		font-weight: normal;
	}
}