@import "./common";

html[data-theme=dark] {
	#overall-content[style^="background"]:before {
		content: "";
		background: #000000aa;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.player-name,
	.playertablename {
		text-shadow: none !important;
		font-weight: normal;
	}
}