@import "./common";

html[data-theme=dark] {
	.player-board .playerResourcesWrapper .playerResources {
		background-color: var(--dark-20);
		color: #000;
	}

	#factionChooser {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.player-name [style="color: rgb(0, 0, 0);"] {
		text-shadow: var(--text-w-shadow);
	}

	#deckConnectionsBlock,
	#hand,
	.factionBoard {
		background: var(--dark-back);
		color: var(--light-80);
	}

	#hand #handSelector #unselected {
		background-color: var(--dark-40);
	}

	#hand #handSelector .allBlock,
	#hand #handSelector .connectionsBlock,
	#hand #handSelector .locationsBlock {
		border-color: #000;
	}

	#deckConnectionsBlock #collapseButton {
		filter: invert(1);
	}

	.deals .resourceIcon,
	.logIcon {
		filter: var(--highlight-min);
	}

	#toTop {
		background-color: var(--dark-20);
		color: var(--light-70);
	}

	#toTop svg {
		fill: var(--light-70) !important;
	}

	.resourceValue {
		color: #000;
	}
}