@import "./common";

html[data-theme=dark] {
	#fika_show_card_list span {
		background-color: var(--dark-20);
		color: var(--light-80);
		text-shadow: none;
	}

	.fika_slot:empty {
		background-color: var(--dark-30);
	}

	.fika_greater {
		color: var(--light-80);
	}

	.fika_card,
	.fika_log_card {
		filter: brightness(0.9);
	}
}