@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #00000040;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.fi_playerInfo.small .fi_food_count {
		color: #000;
	}

	.fi_food.sprite-w_a .fi_food_count,
	.fi_food.sprite-w_i .fi_food_count {
		color: #fff;
	}

	.fi_playerInfo.small .fi_request_playerInfo {
		background-color: var(--dark-40);
	}

	.fi_players .fi_playerInfo,
	.fi_food_storage,
	#player_boards .fi_donkey .count_donkey {
		background-color: var(--dark-back);
	}

	.fi_game_container .fi_main_board .fi_board_img:after {
		background-color: transparent;
	}

	.log .timestamp {
		color: var(--light-80) !important;
	}

	.fi_food,
	.fi_playerInfo .fi_request_playerInfo .fi_requestIcon {
		filter: var(--highlight-min);
	}

	.fi_donkey {
		filter: drop-shadow(2px 1px 1px black) brightness(0.9) saturate(0.9);
	}

	.fi_mills_circle .fi_mill,
	.fi_game_container .fi_main_board .fi_board_img {
		filter: brightness(0.9) saturate(0.9);
	}
}