@import './flipseven';

.bgaext_dark {
	.f7v_zoom_icon {
		filter: invert(0.8) hue-rotate(180deg);
	}

	.aal-help_popin-button {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.aal-popup-overlay .aal-popup-content {
		background: var(--dark-20);
		border: 1px solid var(--dark-40);
		color: var(--light-80);
	}

	.f7_title_help,
	.h2-popup {
		color: var(--blue-70);
	}

	div[style="border-radius: 10px; color: red; background-color: rgba(255, 255, 255, 0.7);"] {
		color: var(--red-80) !important;
		background: #000 !important;
	}

	.f7_owner_card {
		background-color: var(--dark-20);
	}

	.logs_custom_highlight {
		background-color: var(--yellow-10);
	}
}