html[data-theme=dark] {
	#game_play_area_wrap {
		color: var(--light-80);
	}

	[style="color:#9b2ee6"] {
		color: #b45fec !important;
	}

	[style="color:#2e39e6"] {
		color: #5f69ec !important;
	}

	[style="color:#5f2ee6"] {
		color: #855fec !important;
	}

	[style="color:#2e73e6"] {
		color: #5f93ec !important;
	}

	.bga-cards_card>.bga-cards_card-sides>.bga-cards_card-side,
	.flk_bcard {
		filter: var(--ext-bright);
	}
}