@import "./common";

html[data-theme=dark] {
	.deckCounter {
		color: var(--light-80);
	}

	.possibleMove {
		background-color: var(--dark-back);
		border: 1px solid var(--light-50);
	}

	.scoreButterfly {
		filter: var(--highlight);
	}
}