@import "./common";

#D {
	#pagesection_gameview .whiteblock {
		color: #000;
	}

	#flx-zoom-controls {
		background-color: var(--dark-20) !important;
	}

	#flx-zoom-out,
	#flx-zoom-in {
		filter: invert(0.7);
	}
}