@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.side_title_wrapper {
		background: var(--dark-20);
	}

	.card_icon,
	.player_symbol,
	.treasure_figure {
		filter: var(--drop-shadow);
	}

	[style="color: blue"] {
		color: #6666ff !important;
	}
}