@import './common';

html[data-theme=dark].bgaext_bright {

	#board:before {
		.reduceBrightness();
	}

	.card .sides .side {
		filter: var(--ext-bright);
	}

	#cards .card.selectedToPay,
	#cards .selectedToPay.futurePlace.selectable {
		filter: var(--ext-bright) grayscale(80%);
	}
}

html[data-theme=dark].bgaext_dark.custom_theme {
	--ext-overall-color: #00000080;
}

html[data-theme=dark].bgaext_dark {

	.player-infos .counter.cards-counter:before,
	.player_config_row>div:last-child>svg,
	#pin svg {
		filter: invert(0.8);
	}

	.deckinfo {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.player_config_row {
		border-bottom: 1px solid var(--light-50);
	}

	.FSDtable .title {
		color: #000;
	}

	#FSD_caution {
		background-color: var(--red-10);
		color: var(--light-80);
	}

	.mobile_version #cards:not(.changed),
	body:not(.mobile_version) #cards.changed,
	.mobile_version #cards:not(.changed) #pin,
	body:not(.mobile_version) #cards.changed #pin {
		background-color: var(--dark-20);
	}

	#popin_showCards .tinyHint:after,
	.fa6-square-xmark {
		color: var(--red-80);
	}

	#FSD_caution,
	[id^=player_name] .card,
	[id^=player_name] .futurePlace.selectable {
		background-color: var(--red-80);
	}

	#cards .card.selectedToPay,
	#cards .selectedToPay.futurePlace.selectable {
		border-color: var(--red-80);
	}
}