@import "./common";

#D {
	.player_config_row>div:last-child>svg {
		filter: invert(0.7);
	}

	.deckinfo {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.player_config_row {
		border-bottom: 1px solid var(--light-50);
	}

	#pin svg {
		filter: invert(0.8);
	}

	.mobile_version #cards:not(.changed),
	body:not(.mobile_version) #cards.changed,
	.mobile_version #cards:not(.changed) #pin,
	body:not(.mobile_version) #cards.changed #pin {
		background-color: var(--dark-20);
	}
}