@import "./common";

html[data-theme=dark] {
	.FD-lap-no-icon {
		filter: invert(1);
	}

	.FD-player-rank {
		filter: grayscale(1) invert(1);
		color: #000;
	}

	#FDStatusBar {
		background-color: var(--dark-10) !important;
		color: var(--light-80);
	}

	.tundra .dijitMenu,
	.tundra .dijitMenuBar {
		background-color: var(--dark-10);
		border: 1px solid var(--dark-40);
		color: #fff;
	}

	.tundra .dijitMenuSeparatorTop {
		border-bottom: 1px solid var(--dark-40);
	}

	.tundra .dijitMenuSeparatorBottom {
		border-top: 1px solid var(--dark-40);
	}

	.tundra .dijitComboBoxMenu .dijitMenuItemHover,
	.tundra .dijitMenuItemSelected,
	.tundra .dijitMenuPassive .dijitMenuItemHover {
		background-color: var(--dark-30);
	}

	.dijitMenuArrowCell {
		filter: invert(1);
	}
}