@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	.res_info_icon {
		filter: var(--highlight-min);
	}

	#score_bar,
	#score_content {
		background-color: var(--dark-10);
		background-image: none;
	}
}