@import "./common";

#D {

	#card_style_btn,
	#discard_btn,
	#ref_btn {
		color: var(--light-50);
	}

	#card_style_btn:hover,
	#discard_btn:hover,
	#ref_btn:hover {
		color: var(--light-70);
	}

	#overall-content {
		color: var(--light-80);
	}

	#fcc_deck {
		background-color: #393714;
	}

	#fcc_last_played_card {
		background-color: var(--dark-back);
	}

	#fcc_deck_count {
		z-index: 1;
	}

	.fcc_player_ground.player {
		background-color: var(--dark-30);
	}

	.fcc_player_ground {
		background-color: var(--dark-40);
	}

	.fcc_card_group {
		background-color: var(--dark-10);
	}
}