@import "./common";

#D {
	body {
		background: none !important;
	}

	#offer-row #available-tiles {
		background-color: var(--dark-back);
	}

	.player-tab {
		background-color: var(--dark-back);
		border-left: 2px solid var(--dark-back);
		border-right: 2px solid var(--dark-back);
	}

	#player-tabs,
	.player-table {
		border: 2px solid var(--dark-back);
	}

	.player-tab-active {
		background-color: var(--dark-10);
	}

	.fa6,
	#frm_drawbag>img {
		filter: invert(0.7);
	}
}