html[data-theme=dark].bgaext_bright {
	.sprite {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	--ext-overall-color: #0007;

	.fu_empty_slot,
	.fu_layout_bg,

	.fu_guesses_list .fu_guesses_content {
		background-color: var(--dark-back-50);
		outline: 1px solid var(--dark-40);
	}

	.aal-popup-overlay .aal-popup-content {
		background: var(--dark-20);
		outline: 1px solid var(--dark-40);
		color: var(--light-70);
	}

	.fu_title_help {
		color: var(--blue-50);
	}

	.aal-help_popin-button {
		background-color: #000;
		color: var(--light-70);
		box-shadow: none;
		filter: var(--highlight);
	}
}