@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.miniboard .display_goals {
		background-color: var(--dark-10);
	}

	#player_config button {
		color: var(--light-80);
	}

	.movestamp {
		color: var(--light-80);
	}

	.tracker {
		color: #000;
	}

	.log {
		color: var(--red-80);
	}

	.tooltipcontainer {
		background-image: none;
	}

	.tooltipcontainer,
	.tundra .dijitTooltipContainer {
		background: transparent;
	}

	.bgabutton_blue:not(.disabled) {
		.blueButton();
	}

	.bgabutton_blue:not(.disabled):hover {
		.blueButtonOver();
	}

	.bgabutton_red:not(.disabled) {
		.redButton();
	}

	.bgabutton_red:not(.disabled):hover {
		.redButtonOver();
	}

	.bgabutton_orange:not(.disabled) {
		.orangeButton();
	}

	.bgabutton_orange:not(.disabled):hover {
		.orangeButtonOver();
	}

	#ebd-body[data-endofgame="1"] #pagemaintitle_endgame {
		background-color: #6e4112;
		color: var(--light-80);
	}

	#ebd-body[data-finalround="1"] #pagemaintitle_endgame {
		background-color: #522d52;
		color: var(--light-80);
	}

	#ebd-body[data-gamephase="2"] #pagemaintitle_endgame {
		background-color: #245b58;
		color: var(--light-80);
	}

	#ebd-body[data-gamestage="1"] #pagemaintitle_endgame {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	#ebd-body[data-localsetting_handplace=floating] #hand_area {
		background-color: #3a372ccc;
	}

	#ebd-body[data-localsetting_handplace=floating] .hand_area_button {
		background-color: #3a372ce6;
	}

	.hand_area_button {
		color: var(--light-80);
	}

	#pagemaintitle_select {
		background-color: var(--dark-20);
	}

	.scorewrapper {
		background: var(--dark-40);
		color: var(--light-80);
		border: 1px solid var(--light-50);
	}

	.scoretable .scorecell {
		background-color: var(--dark-30);
	}

	.scoretable .header {
		background-color: var(--dark-20);
	}
}