@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	#god_round h2 {
		background: var(--dark-back);
		color: var(--light-80);
	}

	#god_card_invite,
	#god_card_help {
		background: var(--dark-back);
		color: #fcc;
	}
}