@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.gr_help_post {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#player_board_config {
		position: relative;
	}

	.gr_popup_content {
		background-color: var(--dark-30);
		color: var(--light-80);
	}

	.gr_board img,
	.gr_scores img,
	.gr_card_back,
	.gr_card_front {
		filter: brightness(0.9);
	}
}