@import "./common";

html[data-theme=dark] {
	body {
		background-color: #303030 !important;
	}

	.gb_zone {
		background-color: var(--dark-back);
	}

	.gb_playerpanel_special_value {
		color: var(--light-80);
	}

	.gb_zone_boards {
		filter: var(--ext-bright);
	}

	[class*="bg-board_main"],
	[class*="bg-board_action"] {
		filter: var(--ext-bright);
	}
}