@import "./common";

html[data-theme=dark] {
	#bga-zoom-controls {
		filter: invert(0.8);
	}

	.player-board .personal-objective-wrapper .arrow {
		filter: invert(0.8);
	}

	.player-table .name {
		background: #000;
		height: 36px;
		left: 60px;
		top: 97px;
		width: 137px;
	}

	.shape {
		filter: invert(1) hue-rotate(180deg) saturate(5);
	}

	.shape[data-step="2"][data-shape="[0]"],
	.shape[data-step="3"][data-shape="[0,1]"],
	.shape[data-step="3"][data-shape="[0,2]"],
	.shape[data-step="3"][data-shape="[0,0]"],
	.shape[data-step="4"][data-shape="[0,1,1]"],
	.shape[data-step="4"][data-shape="[0,2,2]"] {
		filter: invert(1) hue-rotate(180deg) saturate(5) var(--highlight-min);
	}
}