html[data-theme=dark].goa_pref_background_1 {
	background: #000;

	#goa_overall_background {
		opacity: .4;
	}
}

html[data-theme=dark] {
	--goa_selectable_color: var(--blue-80);
	--goa_selected_color: var(--red-80);

	#bga-zoom-wrapper #bga-zoom-controls {
		filter: invert(0.9);
	}

	#goa_main_zone .goa_player_table_title_name>div .goa_player_table_title_content {
		background-color: var(--dark-20);
	}

	#pagesection_gameview .whiteblock,
	#table-decision,
	#neutralized_game_panel {
		color: var(--light-70);
	}

	.playername_wrapper_0090ba .playername,
	.playername_wrapper_0090ba.playername,
	.playername_wrapper_e14a9b .playername,
	.playername_wrapper_e14a9b.playername,
	.playername_wrapper_feb713 .playername,
	.playername_wrapper_feb713.playername,
	.playername_wrapper_84cba2 .playername,
	.playername_wrapper_84cba2.playername,
	.player_board_inner #player_name_-123[data-color="0090ba"],
	.player_board_inner #player_name_-123[data-color="84cba2"],
	.player_board_inner #player_name_-123[data-color=e14a9b],
	.player_board_inner #player_name_-123[data-color=feb713],
	.player_board_inner #player_name_-123[style*="color: #0090ba"],
	.player_board_inner #player_name_-123[style*="color: #84cba2"],
	.player_board_inner #player_name_-123[style*="color: #e14a9b"],
	.player_board_inner #player_name_-123[style*="color: #feb713"],
	.player_board_inner>.player-name>a[data-color="0090ba"],
	.player_board_inner>.player-name>a[data-color="84cba2"],
	.player_board_inner>.player-name>a[data-color=e14a9b],
	.player_board_inner>.player-name>a[data-color=feb713],
	.player_board_inner>.player-name>a[style*="color: #0090ba"],
	.player_board_inner>.player-name>a[style*="color: #84cba2"],
	.player_board_inner>.player-name>a[style*="color: #e14a9b"],
	.player_board_inner>.player-name>a[style*="color: #feb713"],
	.player_board_inner #player_name_-123[style*="color: #84cba2"],
	.player_board_inner>.player-name>a[style*="color: #84cba2"] {
		text-shadow: none;
	}

	.goa_icon {
		border-radius: 1px;
	}

	.goa_panel .goa_icon {
		filter: var(--highlight-min);
	}

	.goa_marketTilesHelp,
	.goa_outpostTilesHelp {
		background-color: #63471c;
	}

	.goa_tile_tooltip[data-subtype="1"] {
		background-color: #4b4134;
	}

	.goa_ExplorationCardsHelp {
		background-color: #005b80;
		color: var(--light-70);
	}

	.tundra #dijit__MasterTooltip_0.dijitTooltip .dijitTooltipContainer {
		border: 1px solid #7c7c7c !important;
		background: var(--dark-30) !important;
		color: var(--light-80);
	}

	.goa_tile_tooltip,
	.goa_card_tooltip {
		color: var(--light-80);
	}

	.goa_marketTilesHelp hr,
	.goa_outpostTilesHelp hr,
	.goa_tile_tooltip hr,
	.goa_card_tooltip hr {
		color: var(--light-70) !important
	}

	.goa_tile_tooltip {
		.goa_tile_text_playType {
			color: var(--light-80);
		}

		.goa_tile_text_playType[data-playType="2"] {
			background-color: hsl(212 50% 25% / 1);
		}

		.goa_tile_text_playType[data-playType="4"] {
			background-color: #215c5f;
		}

		.goa_tile_text_playType[data-playType="4"][data-isBonanza=true] {
			background-color: #0b7447;
		}

		.goa_tile_text_playType[data-playType="5"] {
			background-color: #71550f;
		}

		.goa_tile_text_playType[data-playType="6"] {
			background-color: #512f51;
		}
	}

	#goa_end_score_recap table thead,
	.exploration_hand.scrollable-stock button {
		background-color: #693c16;
	}

	#goa_end_score_recap table .goa_score_total {
		background-color: #693c16;
		color: var(--light-80);
	}

	#goa_end_score_recap_table * {
		border-color: var(--dark-40) !important;
	}

	.bga-help_button {
		box-shadow: 3px 5px 5px 0 #000;
		background-color: #8f663d
	}

	.goa_player_table[data-color="0090ba"],
	.goa_player_table[data-color="0090ba"] .goa_player_avatar,
	.goa_player_table[data-color="0090ba"] .goa_player_table_title_content {
		box-shadow: 0 0 0 3px #36a7c8 !important
	}

	.goa_player_table[data-color="feb713"],
	.goa_player_table[data-color="feb713"] .goa_player_avatar,
	.goa_player_table[data-color="feb713"] .goa_player_table_title_content {
		box-shadow: 0 0 0 3px #fecf63 !important
	}

	#goa_board_background,
	.goa_playerboard_background,
	.bga-cards_card>.bga-cards_card-sides,
	.goa_tile.goa_market,
	.goa_money_card,
	.goa_tile.goa_outpost,
	.goa_score_card {
		filter: var(--ext-bright);
	}

	.goa_auction_marker {
		filter: var(--ext-bright) var(--drop-shadow);
	}
}