@import "./common";

.logs_on_floating_panel #page-title {
	width: 100% !important
}

html[data-theme=dark] {
	.goa-tooltip-close-area {
		filter: invert(1);
	}

	.goa-tooltip-active {
		background-color: var(--dark-back);
	}
}