@import "./common";

html[data-theme=dark].darkpanel #player_boards .player-board.gb-player-panel-passed {
	background-color: var(--dark-40) !important;
}

html[data-theme=dark] {

	#page-title,
	#maingameview_menuheader,
	#maingameview_menufooter {
		border: 1px solid var(--dark-40);
	}

	#maingameview_menuheader {
		border-top: none;
		top: -1px;
	}

	#player_boards .player-name a,
	.gb-area-player-title .player-name {
		background-color: transparent !important;
	}

	.gb-area-player,
	.gb-detail-list {
		background-color: #272a2fa6;
	}

	.custom_popin {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.custom_popin_closeicon {
		color: #aaa !important;
	}

	.notouch-device .custom_popin_closeicon:hover {
		color: #fff !important;
	}

	div.player-name>a,
	span.player-name {
		background-color: transparent !important;
	}

	.bx-pill {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	.gb-card-position {
		background-color: var(--dark-10);
	}

	.gb-component-help {
		background-color: var(--blue-70);
	}

	.gb-counter {
		background-color: var(--dark-20);
		border-color: var(--light-70);
		color: var(--light-70);
	}

	#gb-main-board:before,
	.gb-player-board:before {
		.reduceBrightness();
	}

	.gb-component:not(:has(.gb-component)) {
		filter: var(--ext-bright);
	}
}