@import "./common";

.bgaext_bright {

	#gw-board,
	.stockitem,
	.gw-player-board {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.gw-miner {
		filter: var(--drop-shadow);
	}

	.gw-player-board-resource-group {
		background-color: var(--dark-back);
		color: var(--light-80);
	}
}