@import "./common";

#D {
	.column_placeholder_gemdust {
		border: 1px dashed var(--light-70);
	}

	.player_area_golems,
	.player_area_hand {
		border-top: 1px dotted var(--light-70);
	}

	.player_area_resources {
		border-top: 3px solid var(--light-70);
	}

	.column_placeholder_blue,
	.column_placeholder_yellow,
	.column_placeholder_red,
	.column_placeholder_green,
	.column_placeholder_gemdust {
		border: 1px dashed #99cfff;
	}

	.counter_resource {
		color: #66b8ff;
	}

	.panel_gems,
	.panel_resource,
	.panel_hand,
	.golem_icon {
		filter: var(--highlight-min);
	}

	.panel_resource.gem_dust {
		filter: var(--highlight);
	}

	.first_player {
		filter: invert(1);
	}

	.player_label {
		color: #000;
	}
}