@import "./common";

html[data-theme=dark] {
	#gsxCardlist_container {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	#gsxCardlist_container.visible {
		border: 1px solid var(--light-70);
	}

	#gsxCardlist_header.clanChoose {
		background-color: var(--dark-40);
	}

	#gosuxContainer {
		color: var(--light-80);
	}

	.gsxCardSlot {
		outline: 2px dashed var(--light-70);
	}

	.gsx_counter_none {
		opacity: .5;
	}

	.gsx_keyword_text {
		filter: drop-shadow(1px 1px 1px black);
	}
}