@import "./common";

#D {
	#gwt_markets {
		color: #fff;
	}

	.player-area {
		background: #00000066;
		padding: 1em;
	}

	.player-area h2 {
		text-shadow: none !important;
	}

	.player-board-button-wrapper {
		top: 0.5em;
	}

	#gwt_boards_area {
		gap: 0.5em;
	}

	.pref-group {
		background-color: #000;
	}

	.slider {
		background-color: #404347;
		border: 1px solid #8d8d8d;
	}

	.slider:before {
		bottom: 3px;
	}

	input:checked+.slider,
	#gwt_layout_wrapper input[type=radio]:checked+label,
	.block-user-pref-radio input[type=radio]:checked+label {
		background-color: var(--blue-70);
	}

	#gwt_layout_wrapper label,
	.block-user-pref-radio label {
		background-color: var(--light-50);
	}

	.fixed-player-board .me.white .player-board-and-tiles:not(.no-fixed),
	.fixed-player-cards .me.white .player-cards:not(.no-fixed),
	.shadow-white {
		box-shadow: 0 0 10px 1px #999;
	}

	.fixed-player-cards .me .player-cards:not(.no-fixed),
	.fixed-player-board .player-board-and-tiles:not(.no-fixed) {
		background-color: var(--dark-back);
	}

	.fixed-player-cards .me .player-cards:not(.no-fixed) .player-cards-button,
	.fixed-player-board .player-board-and-tiles:not(.no-fixed) .player-board-button {
		background-color: var(--dark-20);
		border: 1px solid var(--dark-40);
		box-shadow: 0 2px 3px 1px var(--dark-40);
	}

	#gwt_deck_info {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.gwt-sprite-exchange-token {
		filter: var(--highlight-min);
	}

	#gwt_undo_button {
		border: 1px solid var(--light-50);
	}

	#gwt_undo_button:hover {
		border: 1px solid var(--light-70);
	}

	.fixed-player-board.fixed-player-cards .me {
		background-color: transparent;
	}
}