@import "./common";

html[data-theme=dark] {
	#overall-content[style*="background"] {
		background: #474c01 !important;
	}

	#overall-content {
		color: var(--light-80);
	}

	#deck_counter {
		color: #000;
	}

	.card,
	.card_back {
		filter: var(--ext-bright);
	}
}