html[data-theme=dark] {
	body {
		background-color: #605a39;
	}

	.mf_button_sort_hand {
		color: var(--light-50);
	}

	.mf_button_sort_hand:hover {
		color: var(--light-80);
	}

	.mf_help {
		color: #ab878a;
	}

	.mf_item_back,
	.mf_item_front {
		filter: var(--ext-bright);
	}
}