@import "./common";

#D {
	.bgagame-hanabi #hanabi_prefs .bgabutton_gray {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.bgagame-hanabi #hanabi_prefs .bgabutton_gray:hover {
		background: var(--dark-30);
	}

	.active_element.playerhand .playername {
		background-color: var(--red-10);
	}

	.active_element.playerhand .playername span {
		color: var(--light-80);
	}

	#clue_box {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.notouch-device .clue_option:hover {
		background-color: var(--dark-30);
	}
}