@import "./common";

html[data-theme=dark] {

	.player-name a b,
	.player-name a[style] {
		text-shadow: none;
	}

	.hrv-board-left-inner,
	.hrv-board-center-inner,
	.hrv-board-right-inner,
	.hrv-farmBoard {
		filter: saturate(0.7);
		z-index: 1;
	}

	#hrv-board-left-marketLg,
	#hrv-board-left-marketSm {
		filter: saturate(0.7);
		z-index: 2;
	}

	.hrv-character,
	.hrv-sunrise {
		filter: saturate(0.7);
	}

	.hrv-icon-worker {
		z-index: 3;
	}

	#hrv-buttonUndo {
		.redButton();
	}

	#hrv-buttonUndo:hover {
		.redButtonOver();
	}
}