@import "./common";

#D {

	.card-icon.icon-1,
	.card-icon.icon-2,
	.card-icon.icon-3,
	.card-icon.icon-4,
	.card-icon.icon-5,
	.card-icon.icon-6,
	.card-icon.icon-7,
	.card-icon.icon-10 {
		filter: invert(1);
	}

	.player-head {
		background: var(--dark-back);
		padding: 0.1em 1em;
	}

	.player-table-card-wrapper {
		background: var(--dark-back);
		border: 1px solid var(--light-50);
	}

	.player-table {
		border: 2px solid var(--light-70);
	}

	.player-table-card-wrapper .title {
		background-color: var(--dark-10);
		color: var(--light-70);
		z-index: 0;
	}

	.player-table-card-wrapper .card-icon.icon {
		z-index: 1;
	}

	.title-faction[data-faction="1"] {
		color: var(--light-80);
	}

	.title-faction[data-faction="3"] {
		color: #8080ff;
	}

	.title-faction[data-faction="3"] {
		color: #ff3333;
	}

	.dijitTooltipContainer strong[style="color: #030303;"] {
		color: var(--light-80) !important;
	}

	.dijitTooltipContainer i[style^="color:blue;"] {
		color: var(--blue-50) !important;
	}

	.bga-cards_deck-counter.round {
		background: var(--dark-10);
		box-shadow: 0 0 2px 1px #fff;
		color: var(--light-80);
	}

	.cards-stack[data-empty=true] {
		background-color: var(--dark-back);
	}

	#logs .card-name.faction-1,
	#maintitlebar_content .card-name.faction-1,
	#player_boards .card-name.faction-1,
	#score-table .card-name.faction-1,
	.cardToolTip .card-name.faction-1,
	.player-table-card-wrapper .card-name.faction-1,
	.title-faction .card-name.faction-1,
	.wg-card-gametext .card-name.faction-1,
	caption .card-name.faction-1,
	.hiddenleaders_popin .hiddenleaders_popin_contents .helper-classes .helper-classes-row .helper-classes-column[data-class="1"] strong {
		text-shadow: var(--text-w-shadow);
	}

	#hiddenleaders-score {
		background-color: var(--dark-back);
		color: var(--light-80);
		box-shadow: 2px 2px 3px 3px var(--dark-10);
	}

	#hiddenleaders-score table tr td {
		text-shadow: none;
	}

	.card-icon,
	.hiddenleaders_popin .hiddenleaders_popin_contents .helper-classes .helper-classes-row .helper-classes-symbol {
		filter: var(--highlight-min);
	}

	#tabs-container .hd-tab {
		background: var(--dark-20);
		color: var(--light-80);
	}

	.hiddenleaders_popin,
	.hiddenleaders_popin .hiddenleaders_popin_contents .helper-classes .helper-classes-row {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	i[style*="color:blue"] {
		color: var(--blue-50) !important;
	}

	#board,
	.card .card-sides .card-side.herocard-front {
		filter: brightness(0.9);
	}
}