@import "./common";

#D {

	#player_boards .eye,
	#titre {
		filter: invert(1);
	}

	#player_board_compteur {
		background-color: var(--dark-10);
	}

	#compteur {
		color: var(--light-80);
	}

	.titlename {
		background-color: var(--dark-back);
	}
}