@import "./common";

#D {
	#top_texts {
		color: #fff;
	}

	.log_train,
	.log_bid,
	.log_trade {
		filter: var(--highlight-min);
	}

	.border_blue {
		border-color: #6666ff;
	}

	.border_red {
		border-color: #ff3333;
	}

	.tt_break span,
	.tt_dot span {
		background-color: #373737;
	}
}