@import "./common";

html[data-theme=dark].bgaext_bright {

	#ships-wrapper,
	#table_sections_wrapper {
		overflow: hidden;
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	#status_bar {
		background: var(--orange-30);
		color: var(--light-80);
	}

	.cube-black.cube-small {
		filter: var(--highlight-min);
	}
}