@import "./common";

html[data-theme=dark] {
	#status_bar {
		background: var(--orange-30);
		color: var(--light-80);
	}

	#ships-wrapper,
	#table_sections_wrapper {
		overflow: hidden;
		filter: brightness(0.9);
	}

	.cube-black.cube-small {
		filter: var(--highlight-min);
	}
}