html[data-theme=dark] {
	a[style="color: rgb(0, 0, 0);"] {
		text-shadow: var(--text-w-shadow);
	}

	#factionChooser,
	#deckLookoutBlock,
	#hand,
	.factionBoard {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.player-board .playerResourcesWrapper .playerResources {
		background-color: var(--dark-20);
	}

	.resourceValue {
		color: #000;
	}

	#toTop {
		background-color: var(--dark-20);
		border-color: var(--light-80);
	}

	#toTop svg {
		fill: var(--light-80);
	}

	.locationWrapper,
	.factionBoard .faction {
		filter: brightness(0.9);
	}
}