@import "./common";

#D {
	table#scoring_chart * {
		border-color: var(--light-50);
		color: var(--light-80);
	}

	table#scoring_chart [style="color:black;"] {
		color: var(--light-80) !important;
	}
}