#D {
	#table-center #side-elements>div {
		border: 1px solid var(--dark-40);
		background: var(--dark-20);
	}

	.ink-bottle .bga-cards_card-side.front {
		filter: var(--highlight);
	}

	.player-table {
		background: var(--dark-back);
	}

	.player-board .counters .palette .ink-counter {
		background: var(--dark-10);
		filter: var(--highlight-min);
	}
}