@import "./common";

#D {
	#ino-board:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#ino-rune-tile-stack-size,
	.ino_player-token-stack-size,
	.ino_supply-stack-size {
		color: #000;
	}

	#ino-zoom-action-bar-plus svg,
	#ino-zoom-action-bar-minus svg {
		filter: invert(0.8);
	}

	.ino_empty-favor-token-supply,
	.ino_empty-rune-tile-stack {
		filter: drop-shadow(0 0 .1rem #fff) drop-shadow(0 0 .1rem #fff) grayscale(1) opacity(.5) !important;
	}

	#ino-option-accordeon,
	#ino-options {
		color: var(--violet-80);
	}

	.ino_meeple {
		filter: var(--highlight-min);
	}

	.ino_card {
		filter: brightness(0.9);
	}
}