@import "./common";

#D {
	background: #1d4944;
}

#D {
	#settings-controls-container {
		background-color: var(--dark-20);
		background: var(--dark-20);
	}

	#central-zone .player-info,
	.card-stock .slot {
		background-color: var(--dark-back);
	}

	#central-zone .player-info .player-name {
		text-shadow: none;
	}

	.bga-help_popin-button {
		background: var(--dark-30);
		color: #6dc5bb;
	}

	.player-board[data-player-color="ff0000"]:before {
		background-color: #ff3333;
	}

	.player-board[data-player-color="0000ff"]:before {
		background-color: #6666ff;
	}
}