html[data-theme=dark].bgaext_bright {
	.plmarker {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	#overall-content {
		color: var(--light-80);
	}

	#player_boards .pl1PColor {
		outline: 1px solid var(--light-50);
	}
}