@import "./common";

#D {

	#page-content,
	.doubleempty {
		color: var(--light-80);
	}

	#grend td[id^=num] {
		color: #000;
	}

	#grend td {
		border-color: var(--light-80) !important;
	}

	#result {
		background-color: var(--dark-back);
		border: 3px solid #178217;
		color: #178217;
	}

	.ReRoll {
		filter: invert(1);
	}

	#helpline>td {
		background-color: var(--dark-20) !important;
	}
}