html[data-theme=dark].bgaext_bright {
	.card {
		filter: var(--drop-shadow) var(--ext-bright);
		box-shadow: none;
	}
}

.bgaext_dark {
	--ext-overall-color: #0006;

	.middle_board {
		box-shadow: none;
		border-color: var(--light-60);
	}

	.ipso_playerboard {
		box-shadow: none;
	}

	.afterscore .score_line {
		background: #c7c7c7e3;
	}

	.afterscore .score_line.noscore {
		background: #111111e3;
	}

	.finalscore {
		color: var(--light-80);
	}
}