@import "./common";

html[data-theme=dark] {

	.passengersbag,
	.coaltype3,
	.oiltype3,
	.mypassengers,
	.mypassengersloaded {
		filter: drop-shadow(0.1vw 0.1vw 0.1vw #fff) !important;
	}

	.mypassengerslog,
	.coaltype2,
	.oiltype2 {
		filter: var(--highlight-min);
	}

	.board2 {
		color: #fff;
	}

	#zoom-controls {
		filter: invert(0.8);
	}

	.tooltip_card_text {
		background-color: #232a24;
	}

	.cardboard,
	.mycardtooltip,
	.cardback,
	.boardcard,
	.boardcardother,
	.ticketcard,
	.destinationcard,
	.mycard,
	.mycarddeployed,
	.myboardcarddeployed,
	.mysecondarycarddeployed {
		filter: drop-shadow(.1vw .1vw .1vw #573404) var(--ext-bright);
	}
}