.bgaext_bright {
	.bga-cards_card>.bga-cards_card-sides>.bga-cards_card-side {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.player-table {
		background: var(--dark-back);
	}

	.player-table .name-wrapper .name {
		text-shadow: none;
	}
}