html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background-color: #00000090;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	#overall-content {
		color: var(--light-80);
	}

	.scoretable {
		background-color: var(--dark-back);
	}

	.scoretable * {
		border-color: var(--light-70);
		color: var(--light-80);
	}

	#scoring {
		background-color: #5b380b;
	}

	.possibleLocation {
		background-color: #00000080;
	}

	.mapjewel,
	.hoverjewel {
		filter: var(--ext-bright);
	}
}