@import "./common";

#D {

	.jdr-icon,
	.jdr-resource {
		filter: var(--highlight-min);
	}

	.dijitTooltipContainer .jdr-card-income,
	.dijitTooltipContainer .jdr-card-special,
	.dijitTooltipContainer .jdr-card-vp {
		color: var(--light-80);
	}

	.jdr-goalMarker {
		background: var(--orange-30);
	}
}