@import "./common";

html[data-theme=dark] {
	body {
		background: #413e25;
	}

	.js_zone {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.js_panel_name {
		background-color: #000;
	}

	.js_popup_content {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	.js_board,
	.bg-token_back,
	[class*="bg-token_"] {
		filter: var(--ext-bright);
	}
}