@import "./common";

#D {
	.playertable.declarer {
		background: #b8141466 !important;
	}

	.playertable.partner {
		background: #b8141433 !important;
	}

	.playertablename {
		text-shadow: none;
	}

	[style="color:black"] {
		text-shadow: var(--text-w-shadow);
	}

	#btnNoTrumpSelect {
		.orangeButton();
	}

	#btnNoTrumpSelect:hover {
		.orangeButtonOver();
	}

	.bgabutton_red {
		.redButton();
	}

	.bgabutton_red:hover {
		.redButtonOver();
	}
}