@import "./common";

#D.game_elements_tabs #karvi-tab-holder .tab.selected {
	background-color: var(--dark-40);
}

#D {
	#game_play_area {
		color: #fff;
	}

	#karvi-tab-holder .tab {
		background-color: var(--dark-20);
		border: 2px solid var(--light-50);
		border-left: 0;
	}

	#karvi-tab-holder .tab:hover {
		background-color: var(--dark-40);
	}

	#player_boards .player-panel-icon,
	.notif-icon {
		filter: var(--highlight-min);
	}

	#karvi-game-holder .cards-holder .card-row-section {
		border-bottom: 1px solid var(--light-50);
	}
}