	html[data-theme=dark] {
		#player_config #help-mode-switch .checkbox:checked+.label {
			background-color: var(--blue-70);
		}

		.kbh_tooltipStatus {
			color: var(--light-70);
		}

		.kbh_tooltipLine,
		.kbh_tooltipType,
		.arrowNavigation {
			color: var(--light-80);
		}

		.icon_Megaphone {
			border-radius: 50%;
		}

		#logs .kbh_meepleFan {
			filter: var(--drop-shadow);
		}

		.playerNameBoard {
			background-color: var(--dark-back);
			display: inline;
			padding: 0.2em 0.5em;
		}
	}