@import "./common";

#D {
	#bga-zoom-wrapper #bga-zoom-controls {
		filter: var(--highlight);
	}

	.difficulty-wrapper .difficulty {
		background: var(--dark-10);
	}

	#stickers .sticker {
		background: var(--dark-20);
		color: var(--light-70);
	}

	.icon.skull {
		filter: var(--highlight-min);
	}

	.card,
	.monster-figure,
	.monster-board {
		filter: brightness(0.9);
	}

	.monster-board .power {
		color: var(--light-70);
	}

	.monster-board .power .power-description {
		background: var(--dark-20);
	}

	.monster-board .power .power-name .outline {
		-webkit-text-stroke: 4px var(--dark-20);
	}

	#stickers .sticker:not(.done) .sticker-name {
		background: #745861;
	}

	#stickers .sticker .sticker-name {
		background: #ac204a;
	}
}