@import "./common";

html[data-theme=dark] {
	.player-panel .player-settlements .player-settlements-counter {
		color: #fff !important;
	}

	.dijitTooltip .tile-prompt {
		background-color: var(--dark-10) !important;
		border: 1px solid var(--light-50);
	}

	#popin_chooseTile {
		background-color: var(--dark-0);
	}

	#popin_chooseTile_contents .tile-prompt {
		background-color: var(--dark-10);
	}

	#popin_chooseTile_contents .tile-prompt:hover {
		background-color: var(--dark-30);
	}
}