@import "./common";

html[data-theme=dark] {
	.playerTables__roemScoredValue {
		color: #6666ff;
	}

	.infobutton,
	.infotitle {
		color: #999999;
	}

	table.tableScore td,
	.quickRefNote {
		color: #b3b3b3;
	}
}