@import "./common";

#D {
	.grid-discard {
		color: var(--light-80);
	}

	.grid-player-chip,
	.grid-player-hand {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#party_room {
		background-color: #103f56cc;
		color: var(--light-80);
	}

	details summary {
		background: var(--dark-10);
		color: var(--light-80);
	}
}