@import "./common";

#D {

	.kokeshi-box .kokeshi-offer .kokeshi-bag,
	.kokeshi-piece {
		filter: var(--drop-shadow);
	}

	.kokeshi-artisan-board span {
		background-color: var(--dark-20);
		text-shadow: none;
	}
}