@import "./common";

html[data-theme=dark] {
	.dijitTooltipContainer [style*="color: black;"] {
		color: var(--light-80) !important;
	}

	.dijitTooltipContainer [style*="color: blue;"] {
		color: #6666ff !important;
	}

	.dijitTooltipContainer .ltdr_trait {
		filter: var(--highlight);
	}
}