@import "./common";

html[data-theme=dark] {

	.board,
	.drawDeck,
	.playerMat,
	.card {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.playerFarm>div:first-child>span:first-child {
		background-color: transparent !important;
	}

	.card,
	.drawDeck {
		color: #000;
	}
}