@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #fff4;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="lamarcheducrabe"] .bgaext_overlay {
		display: block;
	}

	#freed_crabs {
		color: var(--light-80);
	}
}