@import "./common";

#D {
	.board_castle_name {
		background: var(--dark-20);
		margin-top: 0.5em;
		padding: 0.3em 1em !important;
		border-radius: 8px;
		width: fit-content;
	}

	#board_main_img,
	#board_law_img,
	#board_law img,
	.board_castle_img,
	.board_castle_container img {
		filter: brightness(0.9);
	}
}