@import "./common";

#D {
	.player-board.blackPlayerZone .player-name a {
		color: #000 !important;
		text-shadow: var(--text-w-shadow);
	}

	.player-board.whitePlayerZone .player-name a {
		color: #fff !important;
	}

	.lds_tooltipName,
	.lds_tooltipSkill {
		color: var(--light-80);
	}

	.lds_tooltipStatus {
		color: var(--light-50);
	}

	#button_undo {
		.redButton();
	}

	#button_undo:hover {
		.redButtonOver();
	}

	#lds_mainBoard {
		filter: brightness(0.9);
	}
}