html[data-theme=dark] {
	#overall-content {
		color: var(--light-80);
	}

	#bga-zoom_wrapper #bga-zoom_controls {
		filter: invert(0.8);
	}

	.player-table .front-and-hand .revealed-legion {
		background: var(--dark-back);
	}

	.player-table[data-player-no="1"] {
		background: rgba(80, 80, 80, .2);
	}

	.player-table .name-wrapper .name {
		text-shadow: none;
	}

	.player-table .name-wrapper .role {
		filter: invert(1);
	}
}