@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="lepidoptery"] .bgaext_overlay {
		display: block;
	}

	.board_background:before {
		content: "";
		background: var(--ext-alpha);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.playertablename {
		text-shadow: none;
	}

	.bgabutton_blue:not(.disabled)[style="background: green; border-color: green;"] {
		.greenButton();
	}

	.bgabutton_blue:not(.disabled)[style="background: green; border-color: green;"]:hover {
		.greenButtonOver();
	}
}