@import "./common";

#D {

	.nameplayer,
	.playerhandtitle,
	.playerhand {
		background-color: var(--dark-back);
	}

	.passingr,
	#mask_hand {
		filter: invert(1);
	}

	.infotoolt,
	.traintoolt,
	.cardpasstoolt,
	.cardtoolt {
		outline: 2px solid var(--light-80);
	}

	.infotexttoolt {
		color: var(--light-80);
	}

	.cardbleu {
		background-color: #32839a80;
	}

	.cardrose {
		background-color: #50162c80;
	}

	.cardjaune {
		background-color: #aa782280;
	}

	.cardpass {
		background-color: #338a9980;
	}

	.eye:hover {
		filter: invert(1);
	}
}