@import "./common";

#D {

	.player-name,
	.player_board_inner,
	.player_score {
		background-color: transparent;
	}

	.resource {
		filter: var(--drop-shadow);
	}

	.tooltipslide_overlay {
		background-color: var(--dark-30);
	}
}