@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #00000030;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.player-table {
		background: var(--dark-back) !important;
	}

	.name-wrapper {
		background: var(--dark-20) !important;
	}

	.player-scored-card,
	.jackpot-icon {
		filter: var(--highlight-min);
	}
}