@import "./common";

html[data-theme=dark] {

	#board,
	#stock {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#colourGroupsCounter {
		background-color: var(--dark-20) !important;
		color: var(--light-80) !important;
	}
}