@import "./common";

html[data-theme=dark].darkpanel #player_boards {
	.player-board.playerBoardBuyer {
		background: #381e1e !important;
	}

	.player-board.playerWentDown {
		background: #1a3d22 !important;
	}
}

html[data-theme=dark] {
	#handNumber {
		color: #fff !important;
	}

	#redTarget,
	.prepbox,
	.prepjoker,
	.downWhite {
		color: var(--light-70) !important;
	}
}