html[data-theme=dark] {
	#board:before {
		content: "";
		background: #00000020;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#reference_card_text {
		color: var(--blue-50);
	}

	.lvst_refcard_dialog,
	.lvst_refcard_text_box {
		background-color: var(--orange-30);
	}

	.lvst_player_lower {
		color: #000;
	}

	#bag {
		filter: var(--highlight);
	}
}