@import "./common";

html[data-theme=dark] {
	#back_layer:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#player_boards .player-name a {
		background-color: transparent !important;
	}

	.score_header {
		border-bottom: 1px solid var(--dark-40);
	}

	#scoretable {
		outline: 0.3em solid var(--dark-40);
	}

	#scoretable .scorecell {
		background-color: var(--dark-30);
		border-left: 0.1em solid var(--dark-40);
		border-top: 0.1em solid var(--dark-40);
	}

	#scoretable .scorecell.score.header.total {
		background-color: var(--dark-20);
	}

	#scoretable .header,
	#scoretable .lheader {
		background-color: var(--dark-10);
	}

	.player_name_holder {
		background: var(--dark-10) !important;
	}

	.player_vikings_pool_counter {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.map_hex_holder,
	.player_board {
		filter: brightness(0.9);
	}
}