@import "./common";

#D {
	.lex_nameplate {
		background-color: var(--dark-20);
	}

	#lex_validated_header_caption,
	#lex_discard_header_caption {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	#logs [class*="lex_monument_"] {
		filter: invert(0.7);
	}

	.lex_playerboard {
		background: var(--dark-back);
	}
}