@import "./common";

html[data-theme=dark] {

	.dice_table,
	.board_cell.safety_space {
		background: var(--dark-back);
	}

	.dice_table td {
		color: var(--light-80);
	}

	#game_board {
		filter: var(--ext-bright);
	}
}