@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#spectatorbox {
		background-color: var(--dark-20) !important;
	}

	#zoom-wrapper #map-controls button {
		background-color: var(--light-70) !important;
		border-color: var(--dark-40);
	}

	#zoom-wrapper #map-controls button.active {
		background-color: #fff !important;
		border-color: #4871b6;
	}

	#popin_lumenHelpDialog {
		background-color: var(--dark-20);
		color: #fff;
	}

	#help-popin h1 {
		color: #fff;
	}

	#help-popin .help-section {
		background: var(--dark-30);
		color: var(--light-80);
	}

	.player-table .name-and-tiles>div,
	.player-table .name-and-tiles .name-wrapper {
		background: var(--dark-back);
	}

	#scenario-name,
	#scenario-synopsis {
		background: var(--yellow-10);
		color: var(--light-80);
	}

	#scenario-special-rules,
	#scenario-objectives {
		background: var(--dark-back);
		color: var(--light-80);
	}

	#scenario-name .round {
		color: var(--light-50);
	}

	.dijitTooltipContents #scenario-objectives,
	.dijitTooltipContents #scenario-special-rules {
		background: var(--yellow-10);
	}

	#map,
	.player-table {
		filter: brightness(0.9);
	}

	.player-board .counters {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.player-board#overall_player_board_0 {
		background: var(--dark-20);
	}
}