@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="lunar"] .bgaext_overlay {
		display: block;
	}

	.playertablename {
		text-shadow: none;
	}

	#trick_score_table {
		background: var(--dark-back);
		border: 1px solid var(--light-50);
		color: var(--light-80);
	}

	.table_cell_content[style="color:green"] {
		color: #009e0a !important;
	}

	.table_cell_content[style="color:red"] {
		color: #ff3333 !important;
	}

	.table_cell_content[style="color:darkgoldenrod"] {
		color: #f2b926 !important;
	}
}