@import "./common";

html[data-theme=dark] {
	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="lure"] .bgaext_overlay {
		display: block;
	}

	#lure_wrap {
		color: var(--light-80);
	}

	.playertablename {
		text-shadow: none;
	}

	#player_boards .player-name {
		text-shadow: none !important;
	}
}