html[data-theme=dark] {
	#overall-content {
		color: var(--light-80);
	}

	.malabares-box .malabares-table:before {
		background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #913b3b 0), radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #913b3b 0), radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #913b3b 0), radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #913b3b 0);
	}

	.malabares-box .malabares-table .malabares-table-player-area {
		background: var(--dark-back);
	}

	.malabares-box .malabares-table .malabares-table-player-area span {
		background-color: var(--dark-20);
	}
}