@import "./common";

html[data-theme=dark] {
	#mdl_decks_area .mdl_decks_inner {
		color: var(--light-80);
	}

	#mdl_decks_area .mdl_decks_inner .mdl_card_counter,
	#mdl_playmat .mdl_cup_counter {
		background-color: var(--dark-10);
		border: 1px solid var(--light-80);
		color: var(--light-80);
	}

	#mdl_playmat {
		position: relative;
	}

	#mdl_playmat:before {
		content: "";
		background: #272a2f66;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		border: 1px solid var(--dark-40);
		box-sizing: border-box;
	}

	#mdl_playmat .player-name {
		background-color: var(--dark-20);
		border-radius: 4px;
	}
}