@import "./common";

#D {
	#mcb-tabContents {
		background-color: var(--dark-back);
	}

	.mcb-closable.whiteblock {
		background: var(--dark-10) !important;
	}

	#mcb-floatingHand {
		background-color: var(--dark-10);
		color: var(--light-70);
		border: 1px solid var(--dark-40);
	}

	#mcb-floatingHand .mcb-toggle {
		background: var(--dark-10);
	}

	.mcb-scoreSheet thead tr:first-child,
	.mcb-scoreSheet tr:nth-child(2n),
	.mcb-scoreSheet tr.mcb-total {
		background-color: var(--dark-10);
	}

	.mcb-scoreSheet tr:nth-child(odd) {
		background-color: var(--dark-40);
	}

	#mcb-floatingHand .whiteblock:nth-child(2) {
		border-left: 1px solid var(--light-50);
	}

	.mcb-scroll-pageTitle {
		color: #000;
	}

	.mcb-credit {
		color: var(--light-70);
	}

	.mcb-card-frame {
		filter: brightness(0.9);
	}
}