@import "./common";

#D {
	:root {
		--tooltip-text-color: var(--light-80);
		--important-text-color: var(--red-30);
		--building-area-background-color: var(--dark-back);
		--event-area-background-color: var(--dark-back);
		--character-area-background-color: var(--dark-back);
		--player-board-background-color: var(--dark-back);
	}

	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.player-name>a {
		text-shadow: none !important;
	}

	.mes_player_board_cards_characters_column_details {
		border: 1px solid var(--dark-40);
		color: var(--light-80);
	}

	#logs #seemorelogs,
	#logs #seemorelogs a,
	#logs .icon32,
	#logs .icon32 a {
		filter: none;
	}

	.bgabutton:hover {
		filter: none;
		transform: none;
	}
}