@import "./common";

html[data-theme=dark] {
	.dice {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.chart_row {
		color: var(--light-80);
	}

	.playertablename {
		text-shadow: none;
	}

	.chart_row>div {
		background-color: var(--dark-back);
	}
}