@import "./common";

html[data-theme=dark] {
	.doubleempty {
		color: var(--light-80);
	}

	.myicon,
	.gold,
	.mead {
		filter: var(--drop-shadow-min);
		border-radius: 50%;
	}

	[style="color: blue;"],
	[style="font-weight:bold;color:blue;"] {
		color: #6666ff !important;
	}

	[style="color: red;"],
	[style="font-weight:bold;color:red;"] {
		color: #ff3333 !important;
	}
}