@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.spectator-mode * {
		background: transparent !important;
	}

	#round-counter-row #round-counter-block {
		background: var(--dark-20);
		text-shadow: none;
	}

	.player-table,
	.player-table .name-wrapper {
		background-color: var(--dark-20);
	}

	#table-center .slot .player-block {
		background: var(--dark-20);
	}
}