@import "./common";

html[data-theme=dark] {
	.mnr-card {
		color: #000;
	}

	.tooltiptext .mnr-icon.mnr-icon-player {
		filter: var(--highlight-min);
	}

	.bgabutton_blue .mnr-weaken,
	.bgabutton_blue .mnr-xp {
		text-shadow: -1px -1px #0004, 1px 1px #0004, -1px 1px #0004, 1px -1px #0004 !important;
	}

	#logs {
		.mnr-i {
			color: #000;
			background: #fff;
		}

		.mnr-potion1,
		.mnr-potion2,
		.mnr-poison,
		.mnr-potion3,
		.mnr-hp,
		.mnr-potion4,
		.mnr-bless,
		.mnr-gold,
		.mnr-potion5,
		.mnr-food,
		.mnr-curse,
		.mnr-potion7,
		.mnr-weaken,
		.mnr-xp,
		.mnr-armor,
		.mnr-potion6,
		.mnr-merchant {
			background: transparent;
		}

		.mnr-i[data-type="L"] {
			color: #fff;
			background: transparent;
		}
	}

	.mnr-potion1 {
		color: #f24e34 !important;
	}

	.mnr-potion2 {
		color: #64afac !important;
	}

	.mnr-poison,
	.mnr-potion3 {
		color: #5dbc55 !important;
	}

	.mnr-hp,
	.mnr-potion4 {
		color: #db242d !important;
	}

	.mnr-bless,
	.mnr-gold,
	.mnr-potion5 {
		color: #cb9519 !important;
	}

	.mnr-food {
		color: #ac6c53 !important;
	}

	.mnr-curse,
	.mnr-potion7 {
		color: #7740bf !important;
	}

	.mnr-weaken,
	.mnr-xp {
		color: #4ba2b4 !important;
	}

	.mnr-armor,
	.mnr-potion6 {
		color: #5d6163 !important;
	}

	.mnr-merchant {
		color: #ac6c53 !important;
	}

	.mnr-potion-slot .mnr-potion7 {
		color: hsla(0, 0%, 49%, .5) !important;
	}
}