@import "./common";

html[data-theme=dark] {
	#board {
		filter: invert(1);
	}

	#board>div {
		filter: invert(1);
	}

	#game_play_area {
		color: var(--light-80);
	}

	.mdx_possibleMove {
		background-color: #000;
	}
}