html[data-theme=dark] {
	.msm-suit1 {
		color: #bf3f65;
	}

	.msm-suit2 {
		color: #f2aa46;
	}

	.msm-suit3 {
		color: #80807e;
	}

	.msm-suit4 {
		color: #795ca2;
	}

	.msm-card {
		filter: var(--ext-bright);
	}
}