@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	#page-content {
		color: #fff;
	}

	.scrollerClass {
		border-color: var(--dark-20);
		background-color: var(--dark-back);
	}

	.otherPlayerPossibleMove,
	.possibleMove {
		filter: invert(0.7);
	}

	#popup {
		border-style: solid;
		border-width: 1px;
		background-color: var(--dark-40);
	}
}