#D {
	.ms_zone {
		background-color: var(--dark-back);
	}

	.ms_zone_title {
		text-shadow: none;
	}

	.ms_help_icon,
	.ms_invite_icon,
	.ms_log_symbol {
		filter: var(--highlight-min);
	}

	.ms_panel_value {
		color: var(--light-50);
	}

	.bga-help_button.mf_help_button_bg {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	button.bga-help_button.bga-help_popin-button.mf_help_button_bg.bg-first_player {
		color: transparent;
	}
}