@import "./common";

html[data-theme=dark] {
	#gamezone #playertables {
		background-color: #2a3d10;
	}

	#gamezone #playertables .playertable {
		background-color: var(--dark-20);
	}

	#direction-text {
		color: #fff;
	}

	#direction-play-symbol {
		filter: invert(1);
	}

	.counters .counter-icon.card,
	.counters .counter-icon.farmer-card {
		filter: var(--highlight-min);
	}

	.stockitem,
	#gamezone #playertables .row .rowIndicatorWrapper #rowIndicator #rowIndicatorBackground {
		filter: brightness(0.9);
	}
}