@import "./common";

html[data-theme=dark] {

	#goal-info-inner,
	.available-option-back,
	.available-option-front,
	.round,
	.tale {
		filter: var(--highlight);
	}

	span[style="color: blue"] {
		color: #6666ff !important;
	}

	.tooltip-text {
		color: var(--light-80);
	}
}