@import "./common";

html[data-theme=dark] {
	#mue_gametarget {
		color: #fff;
	}

	.mue_discard_btn {
		color: var(--light-70);
	}

	.mue_isinchiefteam {
		background-color: #141414e6;
	}

	.mue_isinmyteam,
	.mue_isinviceteam {
		background-color: #001a00e6;
	}

	.mue_isinotherteam {
		background-color: #290000e6;
	}

	.mue_infotable {
		background-color: #330;
		color: white;
	}

	.mue_infotablename {
		color: white !important;
	}
}