@import "./common";

html[data-theme=dark] {
	#board {
		background-image: none;
		border: 2px solid var(--dark-40);
		filter: var(--drop-shadow);
		background: var(--dark-10);
	}

	.coordinate {
		color: var(--light-80);
	}

	.square {
		box-shadow: inset 0 0 0 1px var(--dark-40);
	}

	.lastmove {
		background-color: var(--dark-40);
	}
}