@import "./common";

#D {

	#resource-supply .mtc_resource-quantity,
	.mtc_player-panel .mtc_tokens-container .mtc_token,
	.mtc_player-panel .mtc_round-information {
		color: #eb8b47;
	}

	div#player-crops div.mtc_player-crops {
		background-color: var(--dark-20);
		border: 2px solid var(--dark-10);
		box-shadow: 5px 5px 5px var(--dark-0);
	}

	div#player-crops div.mtc_player-crops .mtc_player-name {
		background-color: var(--dark-20);
		border: 2px solid var(--dark-10);
		border-bottom: none;
	}

	.mtc_player-panel .mtc_tokens-container .mtc_meeple {
		filter: var(--drop-shadow);
	}

	.mtc_first-player-marker-content {
		filter: invert(1);
	}

	#display-preferences button {
		background: linear-gradient(0deg, #342a19, #4e3418 50%);
		color: #cc6333;
	}

	#display-preferences button:hover {
		background: linear-gradient(0deg, #342a19, #4e3418);
	}

	div#deck-display {
		background-color: var(--dark-20);
		border: 2px solid var(--light-50);
		box-shadow: none;
		color: #cc6333;
	}

	#crops-deck,
	.mtc_crop,
	.mtc_field,
	.mtc_farmer-card {
		filter: brightness(0.9);
	}
}