@import "./common";

html[data-theme=dark].bgaext_bright {

	#main_area,
	.shelf-area {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	#settings-icon {
		filter: invert(1);
	}

	#board-scale {
		filter: grayscale(1);
	}

	#first_player_seat {
		filter: var(--drop-shadow);
	}

	.shelf-name {
		background-color: var(--dark-20);
	}
}