@import "./common";

html[data-theme=dark] {
	#settings-icon {
		filter: invert(1);
	}

	#board-scale {
		filter: grayscale(1);
	}

	#first_player_seat {
		filter: var(--drop-shadow);
	}

	#main_area,
	.shelf-area {
		filter: brightness(0.9);
	}

	.shelf-name {
		background-color: var(--dark-20);
	}
}