html[data-theme=dark] {
	.MAcard {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.MAicon {
		filter: var(--highlight-min);
	}

	#page-title,
	#topbar,
	.pageheader,
	.pagesection,
	.pagesection h2,
	.player-board,
	.roundedbox,
	.whiteblock {
		background-color: var(--dark-back-50) !important;
	}

	.MAplayerArea>.MAdiscard {
		background-color: var(--dark-back);
	}
}