@import "./common";

#D {
	#neom-hand {
		background-color: var(--dark-back);
	}

	.neom-cityboard-playername {
		filter: none;
		background-color: var(--dark-20);
		padding: 0.2em;
		border-radius: 8px;
		text-shadow: none;
	}

	.neom-income .neom-income-icon,
	.dijitTooltip .neom-svg-road {
		filter: invert(1);
	}

	.neom-income-text {
		color: var(--light-80);
	}
}