html[data-theme=dark] {
	--ext-overall-color: #00000044;

	.nrn-resource-slot .nrn-icon-qty,
	.nrn-resource-slot .nrn-resource-max {
		text-shadow: none;
	}

	.nrn-stackSlot .nrn-card,
	.nrn-combat-played .nrn-card,
	#nrn-hand .nrn-card,
	.nrn-hud,
	.nrn-heroDisplay .nrn-hero {
		filter: var(--ext-bright);
	}
}