@import "./common";

div.preference_choice:has(> div > div > select#preference_control_101),
div.preference_choice:has(> div > div > select#preference_fontrol_101) {
	display: none;
}

html.nft_background_space .logs_on_floating_panel .player-board {
	background-color: #333333 !important;
}

.logs_on_floating_panel #goto_wrap {
	top: -5px;
}