html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#player_boards hr {
		border: 1px solid var(--dark-40);
	}

	.ntn-top-tooltip-area {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.ntn_top_carousel_button:hover {
		background-color: var(--dark-10);
	}

	.ntn_top_carousel_button_content.ntn_top_carousel_button_content_text {
		color: #a85757;
	}

	#ntn_shop_area {
		background-color: var(--dark-20);
	}

	.player_summary_row .fa.fa-chevron-down,
	.player_summary_row .fa.fa-chevron-up {
		color: var(--red-10);
	}

	.tile-quick-action1,
	.tile-quick-action2,
	.tile-quick-action3,
	.tile-quick-action4,
	.tile-quick-action5,
	.tile-quick-action6,
	.tile-dev1_x4_backandfront,
	.tile-dev2_x4_backandfront,
	.tile-dev3_x4_backandfront,
	.tile-dev4_x4_backandfront,
	.tile-dev5_x4_backandfront {
		background-image: var(--quick-action-back) !important;
	}

	.tile-quick-action1 {
		background-position: 9.41836% .360006%
	}

	.tile-quick-action1,
	.tile-quick-action2 {
		background-size: 1177.01%;
	}

	.tile-quick-action2 {
		background-position: 9.41836% 4.90006%
	}

	.tile-quick-action3 {
		background-position: 9.41836% 9.30006%
	}

	.tile-quick-action3,
	.tile-quick-action4 {
		background-size: 1177.01%;
	}

	.tile-quick-action4 {
		background-position: 9.41836% 14.40006%
	}

	.tile-quick-action5 {
		background-position: .25% .2%
	}

	.tile-quick-action5,
	.tile-quick-action6 {
		background-size: 1264%;
	}

	.tile-quick-action6 {
		background-position: .25% 4.4%
	}

	.tile-dev1_x4_backandfront {
		background-position: 82.0771% 42.3279%;
		background-size: 796.887%;
	}

	.tile-dev2_x4_backandfront {
		background-position: 96.4824% 42.3279%;
		background-size: 796.887%;
	}

	.tile-dev3_x4_backandfront {
		background-position: .0558347% 51.2612%;
		background-size: 796.887%;
	}

	.tile-dev4_x4_backandfront {
		background-position: 14.4612% 51.2612%;
		background-size: 796.887%;
	}

	.tile-dev5_x4_backandfront {
		background-position: 28.8666% 51.2612%;
		background-size: 796.887%;
	}
}