@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0004;

	#ebd-body.nexmap-tokyo .bgaext_overlay {
		background-image: var(--back-tokyo) !important;
	}

	#ebd-body.nexmap-paris .bgaext_overlay {
		background-image: var(--back-paris) !important;
	}

	.nex_scorepad {
		color: #000;
	}

	#nex_mainboard,
	.nex_scorepad {
		filter: var(--ext-bright);
	}
}