@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.dijitTooltipContainer .tooltip-wrapper {
		background: transparent;
	}

	.dijitTooltipContainer .tooltip-wrapper .suits-container .suit-row:after {
		background-color: #da3d25;
	}

	.log-arrow {
		text-shadow: var(--text-w-shadow);
	}

	.a-card {
		filter: brightness(0.9);
	}
}