@import "./common";

html[data-theme=dark] {
	.spicy #overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.custom_popin .popin_footer,
	.custom_popin h2 {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.custom_popin {
		background-color: var(--dark-30);
		color: var(--light-80);
	}

	.title {
		color: #000;
		text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff, 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
	}

	.custom_popin h2,
	.custom_popin .popin_footer {
		border-color: var(--dark-40);
	}

	.canRecruit,
	.player-infos .tactic-counter {
		color: #000;
	}

	.player_config_row> :not(#help-mode-switch) svg,
	#help-card .inline-icon.icon-slash,
	#help-card .inline-icon.icon-arrow {
		filter: invert(0.9);
	}

	.nrd-card-container .nrd-card-inner,
	#trading .title,
	.accept,
	.reject,
	.numbered-icon[data-nb]:after {
		color: #000;
	}

	#card_choice #market-title {
		background-color: #5a0c5a;
		color: var(--light-80);
	}

	#card_choice {
		background-color: var(--dark-back);
		border: 1px solid var(--dark-40);
	}

	#help-card {
		background: var(--dark-20);
		color: var(--light-80);
	}

	#trading #trading-stock .trade-container {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	.nrd-card-front {
		filter: brightness(0.9);
	}
}