@import "./common";

html[data-theme=dark] {

	#nor-option-accordeon,
	#nor-options {
		color: #d04949;
	}

	.nor_icon-Normandy {
		filter: var(--highlight-min);
	}

	.nor_icon-1vp,
	.nor_icon-2vp,
	.nor_icon-silverCoin1,
	.nor_icon-silverCoin2,
	.nor_icon-silverCoin3 {
		border-radius: 50%;
	}
}