@import "./common";

#D {
	.player-board {
		background: transparent !important;
	}

	.player-board.selectable .player_board_inner {
		border-color: green !important;
	}

	.player-board.selectable .player_board_inner:hover {
		border-color: lime !important;
	}

	.placeCard .description,
	.placeCard h3,
	.huntCard p.phase,
	.huntCard p.description span,
	.huntCard h3 {
		color: #000;
	}

	.player-name {
		text-shadow: none;
	}
}