@import "./common";

html[data-theme=dark] {
	.wikicontent [style^="background: #FFF8E1;"] {
		background: var(--yellow-10) !important;
	}

	.wikicontent [style^="background: #E3F2FD;"] {
		background: var(--blue-10) !important;
	}

	#chatbar .chatwindowlogs_zone .roundedboxinner .msgtime {
		color: #777;
	}

	#chatbar .chatwindow .chatlog.ownchatlog .playername,
	#chatbar .chatwindow .chatlog.sameauthor .playername,
	#chatbar .chatwindow .chatwindowtype_privatechat .playername {
		display: none !important;
	}

	.load_previous_message {
		background: #00000080;
	}

	#nbchat .chatbarbelowinput {
		background: var(--dark-40);
	}

	.player-board .player-name a {
		text-shadow: 1px 1px #000 !important;
	}

	#nbprogress {
		background: var(--dark-20);
	}
}