@import "./common";

#darkmode-switch {
	display: none;
}

div.preference_choice:has(> div > div > select#preference_control_100) {
	display: none;
}

div.preference_choice:has(> div > div > select#preference_fontrol_100) {
	display: none;
}