html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="nylonppong"] .bgaext_overlay {
		display: block;
	}
}