@import "./common";

html[data-theme=dark] {
	.cards-counter.counter {
		filter: invert(0.7);
	}

	.title {
		background-color: var(--dark-20);
		padding: 0.2em 0.5em;
		top: -20px;
		border-radius: 8px;
	}
}