@import "./common";

html[data-theme=dark] {

	#odi_bluePort:before,
	#odi_redPort:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.odi_port {
		outline: var(--diceBorder) solid var(--dark-10);
	}

	#odi_mainboard,
	#dice_pit {
		filter: brightness(0.9);
	}
}