@import "./common";

html[data-theme=dark] {
	.background-container {
		filter: brightness(0.6);
	}

	.log-arrow.log-arrow-right {
		color: var(--light-80) !important;
	}

	.a-card.game-area-card {
		filter: var(--ext-bright);
	}

	.table-container .table-owner-name-container {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.table-container .table-owner-name-container .table-owner-player-name {
		text-shadow: none;
	}

	.odn-yellow-button {
		.orangeButton();
	}

	.odn-yellow-button:hover {
		.orangeButtonOver();
	}
}