@import "./common";

html[data-theme=dark] {

	#jewel_bag,
	.otr_cart_button,
	.otr_cart_ready {
		filter: var(--drop-shadow);
	}

	.otr_mission_counter_icon {
		filter: var(--highlight-min);
	}

	#board,
	#mission_stock {
		filter: brightness(0.9);
	}
}