@import "./common";

#D {
	#player_boards .tokencontainer {
		filter: var(--drop-shadow);
	}

	.exchangeImg {
		filter: invert(1);
	}

	.Help_info {
		background-color: var(--dark-10);
	}

	#buttontableelement,
	.buttonswapview {
		filter: invert(0.8);
	}
}