@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.playerPersonnalZone_playerName span {
		text-shadow: 2px 2px 15px #000, 0 0 25px #000, 0 0 30px #000;
	}

	.handCardZone {
		background-color: var(--dark-back);
		outline: var(--cardBorder) dashed var(--light-50);
	}

	#zoomControler {
		filter: invert(0.7);
	}
}