@import "./common";

#D {
	body {
		--theme-color: #8080ff;
	}

	.orp_questionLogContainer {
		background-color: var(--dark-back);
	}

	.orp_logHighlight,
	#orp_questionLogContainer {
		color: var(--light-80);
	}
}