@import "./common";

html[data-theme=dark] {
	#overall-content[style^="background"] {
		background-image: none !important;
		background-color: #1f6a6c !important;
	}

	.dijitTooltipContainer [style="color:purple"] {
		color: #e600e5 !important;
	}

	panel_card_space.empty {
		border: 2px dotted var(--light-50);
	}
}