html[data-theme=dark].bgaext_bright {

	.basket-card,
	.palourde-card {
		filter: var(--ext-bright) var(--drop-shadow);
		box-shadow: none;
	}
}

html[data-theme=dark].bgaext_dark {
	#maree-display {
		background: var(--dark-back);
		border: 2px solid #48c;
		border-color: var(--blue-50);
		color: var(--blue-50);
	}

	#table-separator {
		background: var(--light-50);
	}
}