html[data-theme=dark].bgaext_bright {

	#pp_scoring_ref,
	.bga-cards_card>.bga-cards_card-sides>.bga-cards_card-side {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	--bga_cards_text-color: #000;
	--bga_cards_text-background: #fff;

	.pp_player_area {
		background: var(--dark-back);
	}

	.pp_player_handcount {
		color: var(--light-60);
	}
}