@import "./common";

html[data-theme=dark] {

	.pks-canteen,
	.pks-backpack,
	.pks-passion,
	.pks-gear,
	.pks-board {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.pks-token.pks-token-resource {
		color: #000;
		filter: var(--drop-shadow);
	}

	#pks-bank {
		background-color: var(--dark-40);
	}
}