@import "./common";

html[data-theme=dark] {
	.playerdealer {
		background-color: var(--dark-40);
	}

	.playertable.activePlayer {
		border: 7px solid #000;
	}

	.standardDeck .suit.clubs,
	.fourColorDeck .suit.spades,
	.standardDeck .suit.spades {
		text-shadow: var(--text-w-shadow);
	}

	.fourColorDeck .suit.diamonds {
		color: #6666ff;
	}
}