@import "./common";

html[data-theme=dark].bgaext_bright {

	.pw_tile_select,
	.pw_tile_tile {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	--ext-overlay-color: #0001;

	#o-market {
		background-color: var(--dark-back);
	}

	.pw_note_word {
		background-color: var(--dark-10);
		border-color: var(--blue-50);
		color: var(--blue-50);
	}

	#o-notes,
	#o-notes>* {
		filter: invert(1) hue-rotate(180deg);
	}

	.pw-reward {
		background-color: var(--dark-10);
	}

	.pw-reward h2 {
		color: var(--light-60);
	}

	#o-aftertable,
	.pw-infostatus {
		color: var(--light-80);
	}

	#o-dbnogrid {
		background-color: var(--dark-back);
		color: #fff;
	}

	.dbnogrid-cell-button:hover {
		background-color: #00000066;
	}

	.pw-verify {
		background-color: var(--dark-20);
	}

	.pw-answer-word p[style*="color:#000000;"] {
		color: var(--light-80) !important;
	}

	.pw-answer-word p[style*="color: rgb(0, 0, 0);"] {
		color: #fff !important;
	}

	.pw-verify-words p {
		color: var(--blue-50);
	}

	.bg-status_wait {
		filter: invert(1);
	}

	.pw-answer-active:hover .pw-answer-word {
		background-color: #000;
	}
}