@import "./common";

html[data-theme=dark] {
	.prs_publicArea .prs_areaTitle {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.prs_corporationIcon {
		filter: var(--highlight-min);
	}
}