@import "./common";

#D {
	#targetTitle {
		color: var(--light-70);
	}

	[style*="color: Blue;"] {
		color: #6666ff !important;
	}

	#playertables {
		background-color: var(--green-30);
	}

	#turn_order {
		color: var(--green-50);
	}

	#logs [style="color:black;"] {
		text-shadow: var(--text-w-shadow);
	}
}