@import "./common";

#D {

	.psy_toolbtn,
	.psy_overlay_button {
		color: #fff;
		background: var(--dark-20);
		box-shadow: none;
		filter: var(--drop-shadow);
	}

	.psy_suncounter,
	.psy_token {
		color: #000;
		box-shadow: none;
	}

	#psy_turnindicator {
		color: #fff;
	}

	#player_boards [style*="color: #787878;"] {
		color: #fff !important;
	}

	#psy_mainboard,
	.psy_playermainboard {
		filter: brightness(0.9);
	}
}