@import "./common";

html[data-theme=dark] {
	#feeder_deck_count {
		text-shadow: none !important;
	}

	span[style^="background-color:white"] {
		background-color: var(--dark-back) !important;
		color: var(--light-80);
	}
}