html[data-theme=dark].bgaext_bright {

	.mf_item_front,
	.bga-cards_card-side {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	.player-table {
		position: relative;
	}

	.player-table:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #0009;
	}
}