html[data-theme=dark].bgaext_bright {

	.mf_item_front,
	.bga-cards_card-side {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	--ext-overall-color: #0009;

	#player-tables .player-table,
	#player-tables .player-table>* {
		filter: invert(1);
	}
}