@import "./common";

html[data-theme=dark] {
	.player-name {
		text-shadow: none;
	}

	.similar select {
		background: #000;
	}

	.vote label span {
		background: var(--dark-20);
		border: 3px solid var(--dark-10);
		color: var(--light-80);
	}

	.vote label input:checked+span {
		background: var(--dark-40);
	}

	#pingimus_canvas,
	#pictures img {
		filter: var(--ext-bright);
	}

	#canvas_container {
		box-shadow: 3px 3px 3px #50505080;
	}

	#pictures h3 {
		background: var(--dark-20);
		color: var(--light-80);
	}

	.guess.finished {
		background: var(--green-30);
	}

	.scoring_task {
		background: var(--dark-back);
	}

	.task_head {
		background: var(--dark-10);
		box-shadow: 1px 1px 1px #50505080;
		color: var(--light-80);
	}

	.scoring_player {
		background: var(--dark-0);
	}

	.guesses_head,
	.votes_head {
		color: var(--light-80);
	}

	.scoring_vote {
		background: var(--dark-10);
	}
}