@import "./common";

html[data-theme=dark] {
	.ppln_upgradeFlipToken {
		filter: brightness(0.8);
		border-radius: 50%;
	}

	.ppln_valuationCard {
		background-color: #360;
		color: var(--light-80);
	}

	.ppln_valuationTitle {
		background-color: var(--dark-back);
	}
}