@import "./common";

html[data-theme=dark] {
	.pom-tab {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	.pom-tab.pom-tab-selected,
	.pom-tab:not(.pom-tab-selected):hover {
		background-color: #000;
		color: #fff;
	}

	#pom-tabContents {
		background-color: var(--dark-back);
	}

	.pom-tabContent-tabTitle {
		background: #000;
		color: var(--light-80);
		border: 1px solid var(--dark-40);
	}

	.pom-diceDish {
		background-color: var(--dark-back);
	}

	.pom-resize {
		background: var(--dark-20);
		border: 1px solid var(--dark-40);
		color: var(--light-70);
	}

	.pom-resize:hover {
		background: #000;
	}

	#pom-buttonUndo {
		.redButton();
	}

	#pom-buttonUndo:hover {
		.redButtonOver();
	}

	.pom-playerName {
		text-shadow: none;
	}

	.pom-round {
		background: #000;
		color: var(--light-50);
	}

	.pom-scoreSheet thead tr:first-child,
	.pom-scoreSheet tr:nth-child(2n) {
		background-color: var(--dark-10);
	}

	.pom-scoreSheet tr:nth-child(odd) {
		background-color: var(--dark-30);
	}

	.pom-scoreSheet tr.pom-total {
		background-color: var(--dark-40);
	}

	.pom-warn {
		background-color: var(--red-10);
		color: var(--light-80);
	}

	.pom-explore,
	.pom-figurehead,
	.pom-card {
		filter: var(--ext-bright);
	}
}