@import "./common";

#D {

	#playmats .playmat h3,
	.block_title {
		background: var(--dark-20);
	}

	.piratas_tooltip_info span[style="color:black"] {
		color: var(--light-80) !important;
	}

	.piratas_table td,
	.piratas_table th {
		color: var(--light-80)
	}

	#playmats .playmat img,
	#playmats .playmat .playmat_content_card .playmat_card,
	.cardblock_content .stockitem {
		filter: brightness(0.9);
	}
}