@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.player-table {
		background: var(--dark-back);
	}

	.bga-help_popin-button {
		background: #3d5c28;
	}

	#help-popin h1 {
		color: #6aa046;
	}

	.round-result td,
	.round-result th:not(.empty) {
		background: var(--dark-20);
		color: var(--light-80);
	}

	.round-result th.name,
	.round-result th.sum {
		background: #162112;
	}

	.round-result th.type {
		background: #21311b;
	}
}