@import "./common";

.desktop_version.logs_on_floating_panel.score_visible #right-side-first-part {
	width: 350px !important;
}

.desktop_version.logs_on_floating_panel.score_visible #right-side-first-part.ext-overflow {
	width: 370px !important;
}

#D {

	#susan-container #susan-exterior,
	#susan-container #susan-exterior>* {
		filter: invert(1);
	}

	#susan-container #susan-interior {
		background: var(--dark-20);
	}

	#susan-container .susan-space .susan-counter {
		background: var(--dark-0);
		color: var(--light-80);
		border-color: var(--light-80);
	}

	#popin_chooseCard,
	#popin_showScores,
	#popin_showSettings,
	#popin_showSusan,
	.planetunknown_popin_cards {
		background-color: #62411e;
	}

	#popin_chooseCard h2,
	#popin_showScores h2,
	#popin_showSettings h2,
	#popin_showSusan h2,
	.planetunknown_popin_cards h2 {
		background: #433423;
		color: var(--light-80);
	}

	#decks-info .civ-deck-counter-wrapper {
		box-shadow: none;
		filter: var(--drop-shadow);
	}

	#popin_showScores #popin_showScores_contents table thead tr#scores-planets {
		background: #433423;
		color: var(--light-80);
	}

	#popin_showScores #popin_showScores_contents table thead tr th,
	#popin_showScores #popin_showScores_contents table tbody tr td {
		color: var(--light-80);
	}

	#popin_showScores #popin_showScores_contents table tbody tr:nth-child(odd) {
		background: #433423;
	}

	#popin_showScores #popin_showScores_contents table thead tr#scores-names,
	#popin_showScores #popin_showScores_contents table tbody tr#scores-row-total {
		background-color: var(--dark-40);
	}

	.pu-player-board-wrapper {
		background-color: #000;
	}

	#btnConfirmChoice {
		.yellowButton();
	}

	#btnConfirmChoice:hover {
		.yellowButtonOver();
	}
}