@import "./common";

#D {

	.poa_PopinContainer.displayDiceResult,
	.poa_PopinContainer.displayOrderPriorityChoice,
	.poa_PopinContainer.displayRessourceChoice {
		background: var(--dark-10);
		border: 1px solid var(--light-50);
		color: var(--light-80);
	}

	.poa_tooltip_status {
		color: var(--light-50);
	}

	.playerName {
		background: linear-gradient(90deg, #00000000, #00000000 30%, #000000e6 50%, #00000000 70%, #00000000);
	}

	#poa_mainBoard,
	#centralZone,
	.playerBoard_container,
	.logElementsContainer .poaVisitorCard,
	.logElementsContainer .poaMarketCard {
		filter: brightness(0.9);
	}
}