@import "./common";

.ressourceImg[style="background-position:-100% -000%;"],
.ressourceImg[style="background-position:-600% -000%;"],
.ressourceImg[style="background-position:-700% -000%;"] {
	border-radius: 50%;
}

html[data-theme=dark] {

	.ressourceImg,
	.cube_0,
	.cube_1,
	.cube_2,
	.cube_3 {
		filter: var(--drop-shadow);
	}

	#turnLabel {
		color: var(--light-80);
	}

	#zoomplus,
	#zoomminus {
		filter: invert(0.7);
	}

	#uiPanelBtn {
		background-color: var(--dark-10) !important;
	}

	#uiPanel>.uibtn {
		background-color: #b9b9b9 !important;
	}

	#uiPanel>.uibtn.selected {
		background-color: var(--blue-70) !important;
	}

	.tileBack {
		color: #000;
		text-shadow: var(--text-w-shadow);
	}
}