    html[data-theme=dark] {

    	.player_board_content>.player_score>.player_score_value,
    	.player_score.pyramis-panel-score-row>.player_score_value,
    	.pyramis-panel-summary>.player_score>.player_score_value {
    		color: var(--light-80);
    	}

    	.pyramis-panel-stat-bubble {
    		background: var(--dark-40);
    	}

    	.f7_zoom_icon {
    		fill: var(--light-60);
    	}

    	.f7_zoom_control:not(:disabled):not(.disabled):not([aria-disabled=true]):hover .f7_zoom_icon {
    		fill: var(--light-80);
    	}

    	.deck,
    	.card-exodus,
    	.card-exodus-back {
    		filter: var(--ext-bright);
    	}
    }