@import "./common";

html[data-theme=dark] {
	.crystal {
		filter: var(--highlight-min);
	}

	.quartz-table .quartz-mining-cart .quartz-mining-cart-title span {
		background-color: var(--dark-20);
	}

	.quartz-dice-stock-content .quartz-dice-stock-block {
		border: 2px solid var(--blue-70);
	}

	.quartz-dice-stock-content .quartz-dice-stock-block .quartz-dice-stock-block-icon {
		background: var(--blue-70);
	}

	.quartz-select-crystal input {
		border: 1px solid var(--light-50);
	}
}