@import "./common";

html[data-theme=dark] {
	#round_wrap {
		text-shadow: none;
	}

	#overall-content[style*="background"]:before {
		content: "";
		background: var(--dark-back);
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#pagesection_gameview {
		.whiteblock.playertable_ff0000 {
			background-color: #ff000055;
		}

		.whiteblock.playertable_008000 {
			background-color: #00800055;
		}

		.whiteblock.playertable_0000ff {
			background-color: #0000ff55;
		}

		.whiteblock.playertable_982fff {
			background-color: #982fff55;
		}

		.whiteblock.playertable_7b7b7b {
			background-color: #7b7b7b55;
		}
	}

	.playertablename {
		text-shadow: none;
	}

	#player_boards .player-name {
		text-shadow: none !important;
	}

	[style^="color:#0000ff;"] {
		color: var(--blue-50) !important;
	}

	.cardspace {
		color: #000;
	}

	.card,
	.card_back {
		filter: var(--ext-bright);
	}
}