html[data-theme=dark].bgaext_bright {

	#board,
	.captured-square {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {

	.player_2.piece_square,
	.player_2.piece_x {
		filter: var(--highlight-min);
	}

	.panel-player-2 .player-name {
		text-shadow: var(--text-w-shadow);
	}
}