@import "./common";

html[data-theme=dark].bgaext_bright {
	#board {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.custom-player-area .player-meeple-recap {
		filter: var(--highlight-min);
	}

	.player-area {
		background-color: var(--dark-back);
		color: #fff;
	}

	.player-meeple-zone-wrapper {
		background-color: var(--dark-20);
	}

	.meeple {
		filter: var(--drop-shadow);
	}
}