@import "./common";

html[data-theme=dark] {
	.custom-player-area .player-meeple-recap {
		filter: var(--highlight-min);
	}

	.player-area {
		background-color: var(--dark-back);
		color: #fff;
	}

	.player-meeple-zone-wrapper {
		background-color: var(--dark-20);
	}

	.meeple {
		filter: var(--drop-shadow);
	}

	#board {
		filter: var(--ext-bright);
	}
}