@import "./common";

html[data-theme=dark] {
	.quibbles #quibbles-ui-row-2 .whiteblock {
		background-color: #471e48;
	}

	#bga-zoom-controls {
		filter: invert(0.7);
	}

	.card-sides {
		filter: var(--ext-bright);
	}
}