html[data-theme=dark] {
	--ext-overlay-color: #0003;

	#player-tables>* {
		background-color: var(--dark-back);
	}

	.item {
		border-color: var(--light-50);
	}

	.quilt-board .card,
	.quilt-board .item,
	.quilt-board .temp-card,
	.quilt-controls-container .card {
		filter: var(--ext-bright);
	}
}