@import "./common";

html[data-theme=dark] {
	.playerPanel p {
		color: #fff;
	}

	.notif_species {
		filter: var(--highlight-min);
	}

	.jungleZoneBlock {
		background-color: #00000033;
		outline: 2px dashed #ffffff4d;
	}

	#rainForestContainer .playerSpeciesZone {
		border: 0.3vw dashed #898989;
	}

	.playerZone {
		background: var(--dark-back);
	}

	#mainBoard:before {
		.reduceBrightness();
		border: 1px solid var(--dark-10);
		box-sizing: border-box;
	}

	.largePlayerBoard,
	.notif_tile {
		filter: var(--ext-bright);
	}

	.species,
	.tile,
	.token {
		filter: drop-shadow(.1vw .1vw .1vw black) var(--ext-bright);
	}
}