@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	.timestamp {
		background-color: var(--dark-10);
	}

	#notification_panel_wrapper,
	#notification_banner {
		background-color: var(--dark-20);
		color: var(--light-80);
	}

	notification_element_total {
		border-top: 1px solid var(--light-50);
	}

	#map_container,
	#carskins img,
	#current-car-skins img {
		filter: brightness(0.9);
	}

	.notification_element_total {
		border-top: 1px solid var(--light-50);
	}

	#dice-panel .dice {
		border-radius: 25px;
	}
}