@import "./common";

#D {
	#overall-content {
		background: var(--dark-40);
	}

	/* for archive replay */
	#row-map-board-background-single #row-map-board-background-single-background,
	.row_row_boards_container .row_player_board_background {
		filter: brightness(0.9);
	}

	:root {
		--tooltip-text-color: var(--light-color);
		--board-default-background: var(--dark-back);
		--action-notification-background: var(--dark-10);
		--accent-color-1: #000000ad;
		--accent-color-1-notransparency: var(--dark-20);
		--highlighted-element-text-color: var(--light-80);
		--highlight-color: #007f80;
		--beige-background: var(--dark-back);
	}

	.row_player_board_overlay_doors:has(div),
	.row_player_board_overlay_skilltoken:has(div),
	.row_player_board_overlay_tents:has(div) {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.row_action_list_entry .row_action_list_entry_text {
		color: var(--light-80);
	}
}