html[data-theme=light] .logs_on_floating_panel .player-board {
	background-color: var(--bga-player-panel-background);
}

html[data-theme=dark] {
	--ext-overlay-color: #0003;

	.mf_shadow {
		filter: var(--drop-shadow);
	}

	.mf_zone_player:before {
		content: "";
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: var(--ext-alpha);
		border-radius: 5px;
	}

	.playername[style="color:#333"] {
		color: var(--light-70) !important;
		position: relative;
	}

	.mf_zone_history_column {
		background-color: transparent;
	}

	.mf_zone_history {
		filter: var(--ext-bright);
	}

	.mf_board_map,
	.mf_board_actions,
	.mf_item_front,
	.mf_item_back {
		filter: var(--ext-bright);
	}
}