@import "./common";

#D,
#D .mode_3d #game_play_area_background {
	background: #3b4442;
}

#D {
	#table-center #board:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.tooltip-tile-name {
		border-bottom: 1px solid #8469c9;
		color: #8469c9;
	}

	.card-side,
	.round-marker {
		filter: brightness(0.9);
	}

	#bga-zoom-controls {
		filter: invert(0.9);
	}

	#table-center #board #route {
		background: var(--dark-back);
	}

	.player-table,
	.player-table .bag .hand-wrapper {
		background: var(--dark-back);
		border: 1px solid var(--light-50);
	}

	.bga-cards_deck-counter.round {
		background: var(--dark-10);
		box-shadow: 0 0 2px 1px var(--light-70);
		color: var(--light-80);
	}

	.player-table .name-wrapper {
		background-color: var(--dark-20) !important;
	}

	#table-center #board .round-counter-wrapper>div {
		background: var(--dark-back);
		color: var(--light-80);
	}
}