@import './common';

html[data-theme=dark].bgaext_bright {
	.bga-cards_card-side:before {
		.reduceBrightness();
		border-radius: 6px;
	}
}

html[data-theme=dark].bgaext_dark {

	#player-tables .player-table,
	.player-board {
		background: var(--dark-back);
	}

	.card-stock.cards .slot {
		outline-color: var(--light-50) !important;
	}
}