@import "./common";

html[data-theme=dark] {

	#selection,
	#supply {
		background-color: var(--dark-back);
	}

	#zoomminus,
	#zoomplus {
		filter: invert(0.9);
	}

	.res {
		filter: var(--highlight-min);
	}

	#infoBox div {
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	#player_boards div:has(> .location) {
		filter: var(--drop-shadow-min);
	}

	.card {
		filter: brightness(0.9);
	}
}