@import "./common";

html[data-theme=dark] {

	#selection,
	#supply {
		background-color: var(--dark-back);
	}

	#zoomminus,
	#zoomplus {
		filter: invert(0.9);
	}

	.res {
		filter: var(--highlight-min);
	}

	.card {
		filter: brightness(0.9);
	}
}