@import "./common";

.logs_on_floating_panel #page-title {
	width: 100% !important
}

html[data-theme=dark] {
	.riftvalleyreserve-name-272c29 {
		text-shadow: var(--text-w-shadow);
	}

	.rvr-icon-element[data-color="272c29"][data-type=stop] {
		background-color: #fff;
		border-radius: 18px;
	}

	.rvr-icon-backpack,
	.rvr-tent-display {
		filter: var(--highlight-min);
	}
}