@import "./common";

h3 {
	padding: 0.2em;
}

#D {
	#backgroundGlobal {
		color: var(--light-80);
	}

	.board-outline {
		outline-color: var(--light-50);
	}

	.token-card-hand {
		filter: invert(0.7);
	}

	.token-card-back {
		filter: var(--drop-shadow);
	}

	.rft-guild-text,
	.rft-tooltip-text {
		color: #000;
	}
}