html[data-theme=dark] {
	.white_border {
		background-color: var(--dark-back);
	}

	:root {
		--card_red_color: var(--red-80);
	}

	.card_red_color {
		color: var(--red-80);
	}

	.card_black_color {
		text-shadow: var(--text-w-shadow);
	}

	span[style="color: blue"] {
		color: #6565ff !important;
	}

	span[style="color: red"] {
		color: var(--red-80) !important;
	}
}