@import "./common";

html[data-theme=dark] {

	.rt300_metropad:before,
	.rt300_playerheader:before {
		content: "";
		background: var(--ext-alpha);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.dice {
		filter: var(--ext-bright);
	}
}