@import "./common";

#rr-area-pref-background {
	display: none !important;
}

html[data-theme=dark] {

	div.player-name>a,
	span.player-name {
		background-color: transparent !important;
	}

	#rr-area-player-container .rr-area-player,
	#rr-area-pref {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.bx-counter {
		color: var(--light-80);
		background-color: var(--dark-10);
		border: 1px solid var(--light-80);
	}

	.custom_popin {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.bx-pill {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	.rr-card {
		filter: var(--ext-bright);
	}
}