@import "./common";

#rr-area-pref-background {
	display: none !important;
}

#D {

	div.player-name>a,
	span.player-name {
		background-color: transparent !important;
	}

	#rr-area-player-container .rr-area-player,
	#rr-area-pref {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.bx-counter {
		color: var(--light-80);
		background-color: var(--dark-10);
		border: 1px solid var(--light-80);
	}

	.custom_popin {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.bx-pill {
		background-color: var(--dark-40);
		color: var(--light-80);
	}

	.bx-checkbox-switch i {
		background-color: var(--light-50);
	}

	.bx-checkbox-switch i:before {
		background-color: var(--dark-40);
	}

	.bx-checkbox-switch i:after {
		transform: translate3d(4px, 3px, 0);
		background-color: #fff;
		height: 20px;
		width: 20px;
	}

	.bx-checkbox-switch input:checked+i {
		background-color: var(--blue-70);
	}

	.bx-checkbox-switch input:checked+i:after {
		transform: translate3d(22px, 3px, 0);
	}

	.rr-card {
		filter: brightness(0.9);
	}
}