@import "./common";

html[data-theme=dark] {
	body {
		background-color: var(--dark-40);
	}

	.rb_results_player,
	.rb_playdice {
		background-color: var(--dark-back);
	}

	.bg-sword_1,
	.bg-sword_2,
	.bg-sword_3 {
		filter: var(--drop-shadow);
	}
}