@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="sail"] .bgaext_overlay {
		display: block;
	}

	#map_move_left,
	#map_move_right {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.first_player_token {
		filter: var(--highlight);
	}
}