@import "./common";

html[data-theme=dark].bgaext_bright {

	.power-container .mini-card,
	#scene-container canvas,
	#left-cloud,
	#right-cloud {
		filter: var(--ext-bright);
	}

	#overall-content:before {
		background: #76cfe9;
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	.power-ext {
		color: #000;
	}
}