@import "./common";

html[data-theme=dark] {
	.player-name {
		text-shadow: none;
	}

	#startplayer {
		filter: var(--highlight);
	}

	.deck_holder .tile,
	.stockTile,
	.player_board,
	.token_pool .token {
		filter: brightness(0.9);
	}
}