@import "./common";

html[data-theme=dark] {
	.playertablename {
		text-shadow: none;
	}

	.table_color {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	span[style="color:black"] {
		text-shadow: var(--text-w-shadow);
	}
}