html[data-theme=dark].bgaext_bright {
	.scp_board {
		filter: var(--ext-bright);
	}

	.bga-cards_card-side,
	.scp_tooltip .bga-cards_card {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.scp_tooltip {
		color: var(--light-70) !important;
	}
}

.scp_pref-themedBg .bgext_avatar {
	background-color: #666 !important;
	color: #eee !important;
}

.scp_pref-themedBg .bga-help_button,
html[data-theme=dark].bgaext_bright .bga-help_button {
	outline: 1px solid #555;
}