@import "./common";

.desktop_version.logs_on_floating_panel #right-side-first-part {
	width: 240px;
}

html[data-theme=dark] {

	#page-title,
	#maingameview_menuheader,
	#maingameview_menufooter {
		border: 1px solid var(--dark-40);
	}

	#maingameview_menuheader {
		border-top: none;
		top: -1px;
	}

	#player_board_config {
		background: var(--dark-20);
	}

	#player_board_config #player_config #help-mode-switch .label {
		outline: 1px solid var(--light-50);
	}

	#player_board_config #player_config #help-mode-switch .label .ball {
		background-color: var(--light-50);
	}

	#btnConfirm,
	#btnConfirmChoice {
		.yellowButton();
	}

	#btnConfirm:hover,
	#btnConfirmChoice:hover {
		.yellowButtonOver();
	}

	#btnUndoLastStep {
		.redButton();
	}

	#btnUndoLastStep:hover {
		.redButtonOver();
	}

	#pagemaintitletext span[style*="color:#e50028;"] {
		text-shadow: var(--text-w-shadow) !important;
	}

	#popin_showScores table th {
		background: var(--dark-20);
		color: var(--light-80);
		border-bottom: 1px solid #919191;
	}

	#popin_showScores td[style="color:#111111"] {
		text-shadow: var(--text-w-shadow);
	}

	#popin_showScores table tbody tr td:first-of-type {
		background: var(--dark-20);
	}

	#popin_showScores table td {
		background: var(--dark-30);
		color: var(--light-80);
	}

	#popin_showScores table tbody tr td:last-of-type {
		background: var(--dark-20);
	}

	#popin_showScores .icon-container {
		filter: var(--highlight-min);
	}

	#popin_auction h2,
	#popin_showFaction h2,
	#popin_showScores h2,
	#popin_showSettings h2,
	#popin_showTour h2 {
		background: var(--dark-20);
		color: var(--light-80);
	}

	.faction-infos .player-mat-holder {
		color: #000;
	}

	.objective-card .objective-card-inner .objective-text {
		color: #000;
	}

	span.factionname {
		background-color: rgba(0, 0, 0, 0) !important;
	}

	#more-settings {
		background: var(--dark-10);
		border-color: var(--light-50);
		color: var(--light-50);
	}

	#more-settings:hover {
		color: var(--light-80);
	}

	#quick-access {
		background: var(--dark-back);
		box-shadow: 1px 1px 2px #888;
	}

	#scythe-tracks-wrapper,
	.structure-bonus {
		filter: var(--ext-bright);
	}
}