@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #0009;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#player_boards .icon_cristal,
	#player_boards .invocation_level,
	#player_boards .hand,
	#logs .energy0 {
		filter: invert(0.9);
	}

	.cardtooltip .energy0,
	.cardtooltip .icon_active,
	.cardtooltip .icon_permanent {
		filter: var(--highlight);
	}

	#settings-controls-container {
		background-color: var(--dark-20);
		background: var(--dark-20);
	}

	desktop_version .tableau,
	.transmutation_bar {
		filter: brightness(0.9);
	}
}