@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#discard-pick,
	.player-table {
		background: var(--dark-back);
	}

	.player-table {
		border: 2px solid var(--dark-40);
	}

	.player-table .name-wrapper {
		background: var(--dark-10);
	}

	#popin_seasaltpaperHelpDialog {
		background: var(--dark-10);
		color: #fff;
	}

	#help-popin .help-section {
		background-color: #18494e;
	}

	#cards-points-tooltip {
		color: var(--light-80);
	}

	#table-center #deck-and-discards .discard-stack {
		background-color: var(--dark-back);
	}

	#seasaltpaper-help-button {
		background: #1f4b7a;
	}

	[style="color: darkred;"] {
		color: #bf4040 !important;
	}
}

#D #table-center,
#D.expansion #table-center {
	background: var(--dark-20);
	border: 2px solid var(--dark-40);
}

#D #table-center #pick,
#D.expansion #table-center #pick {
	background-color: var(--dark-30);
}

#D #table-center #pick:before,
#D.expansion #table-center #pick:before {
	border-color: var(--dark-30) transparent;
}

#D #table-center #pick[data-visible=true],
#D.expansion #table-center #pick[data-visible=true] {
	background-color: var(--dark-40);
}

#D #table-center #pick[data-visible=true]:before,
#D.expansion #table-center #pick[data-visible=true]:before {
	border-color: var(--dark-40) transparent;
}