html[data-theme=dark].vgincLib_thematic_background_on {
	background: #000;
}

html[data-theme=dark] {
	.player-table {
		background-color: var(--dark-back-50);
	}

	.beach-board-token.logitem {
		filter: var(--drop-shadow);
	}

	.player-components .player-mat,
	#token-stocks .bga-cards_card-sides,
	.card-stock .bga-cards_card-sides,
	.vgincLib_tooltipBody .bga-cards_card-sides {
		filter: var(--ext-bright);
	}

	#sun-tile-stock {
		filter: var(--ext-bright) var(--drop-shadow);
	}
}