html[data-theme=dark].vgincLib_thematic_background_on {
	background: #000;
}

html[data-theme=dark].boardlessVariant {
	#token-stocks .bga-cards_card-sides {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark]:not(.boardlessVariant) {
	#beach-board {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark] {
	.player-table {
		background-color: var(--dark-back-50);
	}

	.beach-board-token.logitem {
		filter: var(--drop-shadow);
	}

	#score-sheet {
		background: var(--dark-back);
		border-radius: 1em;
		color: var(--light-70);
	}

	.bga-score-sheet_sheet tr:not(:last-child) {
		box-shadow: 0 6px 2px -4px #ffffff1a;
	}

	.player-components .player-mat,
	#shapes-cards-deck .bga-cards_card-sides,
	#colors-cards-deck .bga-cards_card-sides,
	#cards-line .bga-cards_card-sides,
	#scoring-card .bga-cards_card-sides,
	.vgincLib_tooltipBody .bga-cards_card-sides {
		filter: var(--ext-bright);
	}

	#sun-tile-stock {
		filter: var(--ext-bright) var(--drop-shadow);
	}
}