@import "./common";

html[data-theme=dark] {
	.table_bordered {
		border: 3px ridge #999;
	}

	.flower_line_icon,
	.rotate_icon {
		filter: var(--drop-shadow);
	}

	#flower_score_table {
		background: var(--dark-back);
		color: var(--light-80);
	}
}