@import "./common";

#D {
	body {
		background: none !important;
	}

	.mur-placeholder:before {
		color: var(--light-80);
	}

	#mur-deployment .mur-placeholder {
		outline: 4px dotted var(--yellow-10);
	}

	.mur-player-name {
		background-color: var(--dark-back);
		padding: 0.2em 0.5em;
		border-radius: 4px;
	}
}