@import "./common";

html[data-theme=dark] {
	.player_board_wrap {
		background: #00000090;
	}

	span.tcoin {
		color: var(--light-80);
	}

	#discard_count,
	#trees h3 {
		color: var(--light-80);
	}

	.cardinfos [style*="color:#723216"] {
		color: #e28d69 !important;
	}

	.cardinfos [style*="color:#0276b1"] {
		color: #03a9fc !important;
	}

	.cardinfos [style*="color:#d6040f"] {
		color: #fc6970 !important;
	}

	.cardname {
		color: #000;
	}
}