@import "./common";

html[data-theme=dark] {

	.card_outline.science_progress,
	.card_outline:empty,
	.progress_token_outline {
		box-shadow: inset 0 0 calc(var(--scale) * 4px) calc(var(--scale) * 1px) #ffffff80;
	}

	.end_game_player_name,
	#game_play_area .whiteblock h3,
	.science_progress {
		text-shadow: none;
	}

	.end_game_blue {
		color: #002f4dab;
	}

	.end_game_green,
	.end_game_progresstokens {
		color: #00b35cab;
	}

	.end_game_purple {
		color: #9c82b0ab;
	}

	.end_game_military {
		color: #db2433ab;
	}

	.mythology_token,
	.mythology_token_outline,
	.offering_token,
	.offering_token_outline {
		filter: invert(1);
	}

	.offering_token_tooltip span[style="color: #58585a"] {
		color: #aaa !important;
	}

	.cardinfos [style$="color: #db5824"] {
		color: #702c12 !important;
	}

	.cardinfos [style$="color: #41499a"] {
		color: #6f76c3 !important;
	}

	.cardinfos [style$="color: #702c12"] {
		color: #db5824 !important;
	}

	.cardinfos [style$="color: #b7110e"] {
		color: #ef2d2a !important;
	}

	.cardinfos [style$="color: #000000"] {
		color: #fff !important;
	}

	.cardinfos [style$="color: #0275aa"] {
		color: #1cb5fd !important;
	}

	.cardinfos [style$="color: #58585a"] {
		color: #aaa !important;
	}

	.cardinfos [style$="color: #027234"] {
		color: #03c95c !important;
	}

	#mythology_decks_container>div:nth-of-type(4) h3 span {
		color: #aaa;
	}

	.swd_title {
		color: #000;
	}
}