@import "./common";

html[data-theme=dark].darkpanel #player_boards {
	.player-board {
		background: var(--dark-30) !important;
	}

	.player-board.stw_activepl {
		background: var(--dark-40) !important;
	}
}

#D {
	body {
		background: none !important;
	}

	#centralaround.stw_emptypile {
		background: #80808099;
	}

	.stw_log_icon {
		filter: var(--drop-shadow);
	}

	.stw_activepl {
		background-color: var(--dark-20);
	}

	.choiceitem {
		background: var(--dark-40);
	}
}