@import "./common";

html[data-theme=dark] {
	#shogiban:before {
		.reduceBrightness();
	}

	.komadai {
		background-color: var(--dark-back);
	}

	.shg_piece-count {
		background-color: var(--dark-10);
		border: 1px solid var(--light-70);
		color: var(--light-80);
	}

	.shg_piece {
		filter: var(--ext-bright);
	}
}