@import "./common";

html[data-theme=dark] {
	.komadai {
		background-color: var(--dark-back);
	}

	.shg_piece-count {
		background-color: var(--dark-10);
		border: 1px solid var(--light-70);
		color: var(--light-80);
	}
}