html[data-theme=dark].bgaext_bright {
	.stockitem {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	.saphir-color {
		color: var(--blue-50);
	}

	.rubis-color {
		color: var(--red-80);
	}

	.diamond-color {
		color: var(--yellow-50);
	}

	.emeraude-color {
		color: var(--green-80);
	}

	.stockitem_selected {
		border-color: var(--red-80);
	}
}