@import "./common";

html[data-theme=dark] {
	#table:before {
		content: "";
		background: var(--ext-alpha);
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.mines,
	.yours {
		position: relative;
	}

	.tokens {
		filter: var(--ext-bright);
	}
}