@import "./common";

#D {

	.player-teams .player-team-score .tile-meeple .tile-background,
	#logs .scity-meeple .tile-background,
	#pagemaintitletext .scity-meeple .tile-background {
		filter: var(--highlight-min);
	}

	.player-teams .player-team-score i {
		color: var(--light-80);
	}

	#popin_showOverview #popin_showOverview_contents table thead {
		background: #0000004d;
	}

	#popin_showOverview #popin_showOverview_contents {
		background: #066036db;
		color: var(--light-80);
	}
}