@import "./common";

html[data-theme=dark] {
	.sxt_dice_area {
		background-color: var(--dark-20);
		border: 3px solid #396138;
	}

	.sxt_dice_area_wanted_color {
		background-color: #193418;
	}

	.sxt_player_name {
		background-color: var(--dark-20);
	}
}