html[data-theme=dark] {
	.trick_compteur {
		color: #c46f3b;
	}

	.modal-content {
		background: var(--dark-10);
	}

	.tooltip_subtitle,
	.tooltip_desc,
	.tooltip_bigtitle,
	.tooltip_title {
		color: #7ab87e;
	}

	#skullking_help_button {
		background: #13373a;
	}

	.stockitem {
		filter: brightness(0.9);
	}
}