html[data-theme=dark] {
	color: var(--light-80);

	.slambo-total-label,
	#slambo-stability-value {
		color: var(--light-80);
	}

	.slambo-opponent-name {
		width: fit-content;
		margin: auto;
		background: var(--dark-back);
		padding: 0.2em 0.5em;
		border-radius: 5px;
	}

	#slambo-stability-container {
		background: var(--dark-back);
	}

	#slambo-gauge-track {
		background: var(--dark-10);
		outline: 1px solid var(--dark-40);
	}

	#bga-zoom-wrapper #bga-zoom-controls button {
		background: var(--dark-back);
		color: var(--light-60);
	}

	#bga-zoom-wrapper #bga-zoom-controls button:hover {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.slambo-opponent-cardback,
	#slambo-shame-pot img,
	#slambo-played-card,
	#slambo-start-card,
	.slambo-reference-card,
	#slambo-hand .bga-cards_card>.bga-cards_card-sides>.bga-cards_card-side,
	#slambo-preview-card {
		filter: var(--ext-bright);
	}
}