@import "./common";

html[data-theme=dark] {
	.sw_popup_content {
		background-color: #272a2ff2;
		border: 2px solid var(--light-50);
		color: var(--light-80);
	}

	.sw_board {
		filter: var(--ext-bright);
	}

	.sw_combo_infos {
		color: var(--light-70);
	}
}