@import "./common";

#D {
	.sw_popup_content {
		background-color: #272a2ff2;
		border: 2px solid var(--light-50);
		color: var(--light-80);
	}

	.sw_board {
		filter: brightness(0.9);
	}

	.sw_combo_infos {
		color: var(--light-70);
	}
}