@import "./common";

.bgaext_bright {

	.TileOnBoard,
	.stockitem {
		filter: var(--ext-bright);
	}

	.boat_disabled {
		filter: contrast(.5);
	}
}

.bgaext_dark {
	body {
		background: none !important;
	}

	#stacks {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#zoomin,
	#zoomout {
		filter: invert(0.8);
	}
}