@import "./common";

html[data-theme=dark] {

	#page-title,
	#maingameview_menuheader,
	#maingameview_menufooter {
		border: 1px solid var(--dark-40);
	}

	#maingameview_menuheader {
		border-top: none;
		top: -1px;
	}

	#btn-follow {
		.greenButton();
	}

	#btn-follow:hover {
		.greenButtonOver();
	}

	#btn-pass {
		.orangeButton();
	}

	#btn-pass:hover {
		.orangeButtonOver();
	}

	#market-area,
	#my-hand-area,
	#my-tableau-area,
	.tableau-section {
		border: 1px solid var(--dark-40);
	}

	.tableau-section.other-player-board {
		outline: 1px solid transparent;
	}

	.card,
	#trade-mat-tokens {
		filter: var(--ext-bright);
	}
}