@import "./common";

#D {
	#pagemaintitletext {
		background: none !important;
	}

	#right-side-second-part {
		background: transparent !important;
	}

	#logs .log .roundedbox {
		background: rgba(0, 0, 0, .5);
		color: #fff;
	}
}