@import "./common";

html[data-theme=dark] {

	.playername,
	.playername.pos0 {
		background-color: var(--dark-back);
	}

	.anatcard {
		outline: 2px solid var(--light-50);
	}

	.aide,
	.card {
		filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .7)) var(--ext-bright);
	}
}