@import "./common";

html[data-theme=dark] {
	#overall-content:before {
		content: "";
		background: #000000bb;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.player-table {
		background: var(--dark-back);
	}

	.token .card-sides .card-side {
		filter: var(--drop-shadow-min);
	}

	.player-table .hand-wrapper,
	.privilege-zone:not(:empty) {
		background: var(--dark-10);
	}

	.bga-help_popin-button {
		background-color: #394260;
	}
}