@import "./common";

#D {
	#overall-content {
		background-image: none;
	}

	#player-area-containers {
		background-color: var(--dark-back);
	}

	.spl_player-icon {
		filter: invert(0.8);
	}

	.spl_small-keyhole {
		filter: invert(0.8);
	}
}