@import "./common";

html[data-theme=dark] {
	#turn_no_wrap {
		color: var(--light-80);
	}

	.market_cardplace {
		background-image: none;
		background-color: var(--dark-back);
		filter: var(--drop-shadow);
		display: inline-block;
	}

	.worker {
		filter: var(--drop-shadow);
	}
}