@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.se_player_flowers {
		background-color: var(--dark-back);
	}

	.se_zoom_icon {
		filter: invert(0.8);
	}

	.se_player_name .ml-6 {
		color: var(--light-80) !important;
	}

	.se_count {
		color: #000;
	}

	.se_token_seedy .sprite-seedy-f {
		filter: var(--drop-shadow);
	}

	#se_btn_undo {
		.redButton();
	}

	#se_btn_undo:hover {
		.redButtonOver();
	}
}