@import "./common";

html[data-theme=dark] {

	.vls-scoreImage,
	.vls-good,
	.vls-personal_good {
		filter: var(--drop-shadow);
	}

	.vls-firstPlayerToken {
		filter: var(--highlight-min);
	}

	#boardBackground,
	.vls-playerMap,
	.vls-action-tile,
	.vls-action-tile-owner {
		filter: brightness(0.9);
	}
}