@import "./common";

html[data-theme=dark] {

	#zoom-out,
	#zoom-in {
		filter: invert(0.7);
	}

	#card_marketback_val {
		color: #fff;
	}

	.containerbackground {
		background-color: var(--dark-20);
	}

	.portfolioval {
		color: #fff;
	}

	.titleicon {
		filter: var(--drop-shadow);
	}

	.tooltip_card_wrap {
		color: var(--dark-10);
	}
}