@import "./common";

html[data-theme=dark].bgaext_bright {
	#sta_board:before {
		.reduceBrightness();
	}

	.card,
	.building {
		filter: var(--ext-bright);
	}

	.card.sta_grayed,
	.building.sta_grayed {
		filter: var(--ext-bright) grayscale(60%);
	}
}



html[data-theme=dark].bgaext_dark {

	.sta_boardBuildingCounter,
	.sta_boardCardCounter {
		color: #fff;
	}

	#player_boards .sa_icon {
		filter: var(--drop-shadow);
	}

	#diceboard {
		background-color: var(--dark-back);
		color: var(--light-80);
		border: 2px solid var(--dark-10);
	}
}