@import "./common";

html[data-theme=dark] {

	[style*="color:#ffff00"],
	[style*="color: #ffff00"],
	[style*="color:#ffffff"],
	[style*="color: #ffffff"] {
		text-shadow: none !important;
	}

	.tbp-ownerToken {
		filter: var(--highlight-min);
	}

	#tbp-board-outer {
		background: var(--dark-back);
	}

	.tbp-endGameBanner {
		background-color: var(--red-10);
	}
}