@import "./common";

#D {

	.stm_label_333333,
	.stm_label_ff0000,
	.stm_label_0000ff,
	.stm_label_00cc00,
	.stm_label_ffa500 {
		text-shadow: none;
	}

	.stm_panel {
		background: var(--dark-20);
	}

	#autorotate {
		filter: invert(1);
	}

	.stm_action_card_empty {
		box-shadow: inset 0 0 50px #55555599;
	}

	.stm_icon_rotate_arrow {
		background-color: #fff;
		opacity: .5;
	}

	.stm_icon_rotate_arrow:hover {
		opacity: .7;
	}
}

#D.darkpanel #player_boards .player-board.stm_player_passed {
	background: var(--dark-40) !important;
}