@import "./common";

html[data-theme=dark].bgaext_bright {

	.smlb_scorecard,
	.smlb_lucky_box,
	.smlb_number_cards>.stockitem {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {

	.smlb_x_icon,
	.smlb_x_icon .smlb_pb_count {
		filter: invert(1);
	}

	.smlb_scorecard {
		color: #000;
	}
}