@import "./common";

#D {

	.herocard,
	.actioncard .fluff,
	.actioncard .power {
		color: var(--dark-10);
	}

	.showHero {
		background-color: var(--dark-20);
	}

	.midSizeDialog .description {
		color: #000;
	}
}