@import "./common";

html[data-theme=dark] {
	.bgaext_overlay:before {
		content: "";
		background: #00000040;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.player-board.ext-overlay {
		background-attachment: fixed;
		background-position: 50%;
		background-size: cover;
	}

	#carousel .carousel-header {
		background: var(--dark-back);
	}

	.carousel-title[style="color: rgb(45, 87, 135);"] {
		color: #5c7da2 !important;
	}

	.carousel-title[style="color: rgb(97, 61, 49);"] {
		color: #a96a55 !important;
	}

	.carousel-title[style="color: rgb(243, 108, 69);"] {
		color: #f36d46 !important;
	}

	.carousel-title[style="color: rgb(139, 78, 110);"] {
		color: #9a6480 !important;
	}

	.carousel-content-container[style="border-color: rgb(45, 87, 135);"] {
		border-color: #5c7da2 !important;
	}

	.carousel-content-container[style="border-color: rgb(97, 61, 49);"] {
		border-color: #a96a55 !important;
	}

	.carousel-content-container[style="border-color: rgb(243, 108, 69);"] {
		border-color: #f36d46 !important;
	}

	.carousel-content-container[style="border-color: rgb(139, 78, 110);"] {
		border-color: #9a6480 !important;
	}

	#carousel .carousel-header button {
		background-color: var(--dark-0);
	}

	#carousel .carousel-header button:hover {
		background-color: var(--dark-10);
	}

	.player-board .counter,
	.player-board .player_showcursor,
	.player-board .player_table_status {
		color: #8383af;
	}

	.money-counter span {
		color: #090;
	}

	.balloon-help-button {
		color: var(--light-80);
	}
}