@import "./common";

#D {
	.block_title {
		background-image: none;
		background-color: var(--dark-20);
	}

	.tooltip_card_text {
		background-color: var(--dark-20);
	}

	.tooltip_card_text table {
		background-color: var(--dark-40);
	}
}