@import "./common";

html[data-theme=dark] {
	.block_title {
		background-image: none;
		background-color: var(--dark-20);
	}

	#sushigoparty_menu_wrapper {
		background: var(--dark-back);
		color: #fff;
	}

	#sushigoparty_menu_wrapper>h1>span {
		color: var(--light-80);
	}

	.tooltip_card_text {
		background-color: var(--dark-20);
	}

	.tooltip_card_text table {
		background-color: var(--dark-40);
	}

	.select_predef_menu {
		background: var(--dark-10);
		color: var(--light-80);
	}

	.block_title,
	.block_title2 {
		background: var(--dark-back);
	}
}