html[data-theme=dark] {
	--ext-overlay-color: #0002;

	.suspeicao-deck-counter {
		background: var(--dark-20);
		color: var(--light-80);
	}

	.suspeicao-incriminating-box .suspeicao-incriminating-player-box span {
		color: #000;
		text-shadow: var(--text-w-shadow);
	}

	.suspeicao-card .suspeicao-card-back,
	.suspeicao-card .suspeicao-card-front,
	.suspeicao-table-image,
	.suspeicao-scene-card {
		filter: var(--ext-bright);
	}
}