@import "./common";

html[data-theme=dark] {
	--ext-overall-color: #00000080;

	.nameplayer,
	.nameplayer_mini_1_3,
	.nameplayer_mini_1_4,
	.nameplayer_mini_3_3,
	.nameplayer_mini_2_4,
	.nameplayer_mini_3_4,
	nameplayer_mini_2_2,
	.nameplayer_mini_2_2_duel,
	.nameplayer_mini_2_2_duel_2,
	.river,
	.river2 {
		background-color: var(--dark-back);
	}

	[style*="border-top: 2px solid #0000ff;"] {
		border-color: #6565ff !important;
	}

	[style*="border-top: 2px solid #ff0000;"] {
		border-color: #ff6565 !important;
	}

	[style*="border-top: 2px solid #008000;"] {
		border-color: #54aa54 !important;
	}

	[style*="border-top: 2px solid #ffa500;"] {
		border-color: #ffc965 !important;
	}

	.scorepad {
		color: #000;
		filter: invert(1);
	}
}