@import "./common";

#D {
	#overall-content {
		background: #12353b;
	}

	.icon.ladybug,
	#firstPlayerToken {
		filter: var(--highlight);
	}

	.log .icon.black,
	#page-title .icon.black {
		filter: invert(1);
	}

	.rule-block {
		background: var(--dark-20);
	}

	.rule-block .rules-bonus-grid {
		background: var(--dark-30);
	}

	.rule-block .rule-title {
		border-bottom: 3px dotted var(--red-10);
		color: var(--red-10);
	}

	#rules {
		color: var(--light-80);
	}

	div[style*="--color: #de6393"] {
		--color: #7e1b41 !important;
	}

	div[style*="--color: #2eb7d7"] {
		--color: #186d81 !important;
	}

	div[style*="--color: #fdc300"] {
		--color: #997500 !important;
	}

	div[style*="--color: #68b32e"] {
		--color: #467a1f !important;
	}

	.player-table .name,
	popin_bgaHelpDialog {
		background-color: var(--dark-20);
		text-shadow: none;
	}

	.bga-dice_line-stock.selectable .bga-dice_die6.takenokolor-die.selectable:before {
		background: var(--dark-back);
		box-shadow: 0 0 5px 5px #000;
	}
}