@import "./common";

.logs_on_floating_panel #player_board_config {
	background-color: rgb(218, 211, 193);
}

html[data-theme=dark] {
	#breadcrumbs {
		color: #fff;
		background: #1d2023;
	}

	#player_board_config {
		background-color: #272a2f !important;
		position: relative;
	}

	.playerArea {
		background-color: #2d2d2d80;
	}

	.tooltipcontainer .icon_VP {
		filter: var(--highlight-min);
	}

	.bgabutton {
		box-shadow: 0 1px 0 #555 !important;
	}

	#player_config_row :hover {
		opacity: 0.9;
	}

	.playerBoard,
	.player_extra {
		filter: brightness(0.9);
	}

	.undomarker {
		background-color: var(--dark-0);
		color: var(--light-80);
	}

	#allcards a {
		color: var(--light-80);
	}

	.track_color_1 {
		color: var(--blue-50);
	}

	.track_color_2 {
		color: var(--green-50);
	}

	.track_color_3 {
		color: var(--red-50);
	}
}