@import "./common";

html[data-theme=dark].bgaext_bright {

	.highform,
	.stockitem {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	#warp {
		filter: invert(1);
	}

	.dimmedbutton div {
		background-color: #1d2023;
	}

	.pieceschoice,
	.piecesicon,
	.piecesdiff,
	.upgradeddiff {
		filter: var(--drop-shadow);
	}
}