@import "./common";

#D {
	#descriptionrounddiv {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.hand_square,
	.square {
		background-color: #000;
	}

	.square {
		opacity: .4;
	}
}