@import "./common";

html[data-theme=dark] {

	#game_board:before,
	.faction_board:before {
		.reduceBrightness();
	}

	#faction_selection,
	.faction_supply {
		background-color: var(--dark-back);
	}

	#logs .tmlogs_icon div[class^="trans_"] {
		border-radius: 12px;
	}

	.control_box {
		background-color: var(--dark-20);
	}

	.faction_selection_item,
	.player_faction {
		color: var(--light-80);
		text-shadow: none;
	}

	.bridge {
		border-radius: 50%;
	}

	#actions_overview,
	.bonus_card,
	.structure,
	.track_token,
	.power_token,
	.terrain_tile,
	.town_tile,
	.bridge,
	#scoring_endofgame,
	.scoring_tile_holder {
		filter: var(--ext-bright);
	}
}