@import "./common";

html[data-theme=dark] {
	#player_boards .priest {
		background-image: none;
	}

	#player_boards .ttpriestincome {
		color: var(--light-80) !important;
	}

	.faction_selection_item,
	.player_faction {
		text-shadow: none;
		color: #fff;
	}

	#logs .tmlogs_icon div[class^="trans_"] {
		border-radius: 12px;
	}

	.control_box {
		background-color: var(--dark-20);
	}

	.priests_collection {
		filter: var(--highlight-min);
	}

	.structure_marker {
		filter: var(--drop-shadow);
	}

	#faction_selection,
	.faction_supply,
	.favors_collection {
		background-color: var(--dark-back);
	}

	#faction_name_alchemists,
	#faction_name_darklings {
		color: #5d7689 !important;
		text-shadow: #222222 1px 0px 1px, #222222 0px -1px 1px, #222222 0px 1px 1px, #222222 -1px 0px 1px !important;
	}

	#faction_name_halflings,
	#faction_name_cultists {
		color: #a2602a !important;
	}

	#faction_name_chaosmagicians,
	#faction_name_giants {
		color: #c5202e !important;
	}
}