@import "./common";

html[data-theme=dark].bgaext_bright {
	#table:before {
		.reduceBrightness();
		border-radius: 300px;
	}
}

html[data-theme=dark].bgaext_dark {

	.dark-wood-horizontal-background body,
	.dark-wood-vertical-background body {
		background: none !important;
	}

	.label {
		color: var(--light-70);
	}
}