@import "./common";

.bgaext_bright {
	#board_wrap:before {
		.reduceBrightness();
		border-radius: 8px;
	}

	.die,
	.tile,
	.start_end {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {

	#player_stacks,
	#own_tiles_container {
		background-color: var(--dark-back);
	}

	#own_tiles_0 {
		background-color: var(--dark-20);
		color: #fff;
	}

	.main_box {
		border: 1px solid var(--light-50);
	}
}