@import "./common";

#D {

	#player_boards .tty-pawn-000000,
	.tty-log-entry.tty-log-move-pawn-000000,
	.tty-log-entry.tty-log-move-pawn-ffffff {
		filter: var(--highlight-min);
	}

	.tty-rock-label {
		color: var(--light-80);
	}

	.player-board {
		background-color: var(--dark-10);
	}

	.tty-hat-000000 {
		filter: var(--highlight-min);
	}
}