@import "./common";

html[data-theme=dark] {
	#pagesection_gameview .whiteblock {
		color: #000;
	}

	#universities {
		background: var(--dark-20);
	}

	#builderdeck,
	#loans .stockitem,
	#prisoners .stockitem,
	#tools .stockitem,
	#universities .stockitem {
		box-shadow: 5px 5px 5px 0 #555;
	}
}