@import "./common";

html[data-theme=dark] {
	.to_translate {
		font-weight: normal !important;
		text-shadow: none !important;
	}

	#player_boards .player-name {
		text-shadow: none !important;
	}

	.cardspace,
	#tile_discard_counter {
		color: #000;
	}

	.card.empty,
	.card_back.empty {
		outline: 2px dotted var(--light-50);
	}
}