@import "./common";

html[data-theme=dark] {
	--ext-overlay-color: #fff6;

	.bgaext_overlay {
		background: var(--ext-game-back) !important;
		background-size: 100% !important;
		display: none;
	}

	#overall-content[style*="thefoxintheforest"] .bgaext_overlay {
		display: block;
	}

	.playertablename.text_shadow {
		text-shadow: none;
	}

	#odd_card_list,
	#trick_score_table {
		background: var(--dark-back);
		color: var(--light-80);
	}

	.cardspace,
	.stockitem {
		color: #000;
	}

	b[style="color:#5e3f85"] {
		color: #7b52ad !important;
	}

	span[style="color: green;"],
	td[style="color:green"] {
		color: var(--green-80) !important;
	}

	td[style="color:red"] {
		color: var(--red-80) !important;
	}
}