@import "./common";

html[data-theme=dark] {
	.gnomunculus {
		filter: invert(0.9);
	}

	.alchemister,
	.emeromobile1,
	.emeromobile2,
	.emeromobile3,
	.emeromobile4,
	.emeromobile5 {
		filter: var(--drop-shadow);
	}

	.tooltip_card_text {
		background-color: #232a24;
	}

	#container1 .helpertext {
		background: var(--dark-10);
		color: var(--light-80);
		border: 2px solid #000;
		height: 32px;
		margin-top: -10px;
		box-sizing: border-box;
		cursor: pointer;
	}

	#helper .helpertext {
		background: var(--dark-30);
		box-sizing: border-box;
		border-style: solid;
		border-width: 1px 2px;
		border-color: #000;
		margin-top: -2px;
	}

	#helper .helpertext:nth-child(odd) {
		background: var(--dark-20);
	}

	#helper .helpertext:first-child {
		background: var(--dark-10);
		border-top-width: 2px;
	}

	#helper .helpertext:last-child {
		border-bottom-width: 2px;
	}
}