html[data-theme=dark] {

	.specialcard,
	.card,
	.help_card,
	.token_img {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	background: #7b561e;

	.plboard,
	.hand_groupzone {
		background: var(--dark-back);
	}
}