@import "./common";

html[data-theme=dark].bgaext_dark {
	.lwc-seat-btn {
		.defaultButton();
	}

	.lwc-seat-btn:hover {
		.defaultButtonOver();
	}

	.lwc-missions-bar,
	.lwc-missions-seg {
		background: var(--dark-20);
		border-color: var(--light-50);
	}

	.lwc-artifacts-container,
	.agent-selection-panel {
		background: var(--dark-back);
		border-color: var(--dark-40);
		color: var(--light-80);
	}

	.agent-selection-panel .agent-selection-header h3 {
		color: var(--light-80);
	}

	.lwc-card-modal {
		background: var(--dark-20);
	}

	.lwc-card-modal-caption {
		color: var(--light-80);
	}

	.lwc-card-modal-help {
		background: var(--dark-10);
		color: var(--light-50);
	}
}