@import "./common";

html[data-theme=dark]:not(.no-custom-background) #overall-content:before {
	content: "";
	background: #00000080;
	position: absolute;
	width: 100%;
	height: 100%;
}

html[data-theme=dark] {
	#twc-draft-area {
		background-color: var(--dark-back);
	}

	.twc-actions-tooltip .twc-actions-tooltip-action-block[data-type=light] {
		background-color: var(--dark-40);
	}

	#twc-main-game-panel img,
	#popin_twcHelpDialog,
	#popin_twcHelpDialog>*,
	#popin_twcHelpDialog_title img {
		filter: invert(1);
	}

	#jj-preferences-panel #jj-preferences-panel-content .jj-preferences-panel-category-label {
		background: var(--dark-back);
	}

	#popin_twcHelpDialog #popin_twcHelpDialog_contents {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	#popin_twcHelpDialog {
		border-color: #fff;
	}

	#popin_twcHelpDialog_title {
		color: var(--light-80);
	}

	.twc-icon-art.game-log {
		filter: var(--highlight-min);
	}

	.twc-dice-icon {
		filter: var(--drop-shadow-min);
	}

	#twc-player-areas .twc-player-area .twc-player-board .twc-player-name-wrapper {
		background-color: var(--dark-back);
	}

	.jj-preferences-panel-text {
		background: var(--dark-20) !important;
	}

	.jj-ui-hint-box {
		background-color: var(--dark-40);
		box-shadow: 0 0 2px 1px var(--light-50);
	}

	#popin_twc-scoresheet-dialog {
		background: var(--dark-10);
	}

	#undoAll,
	#undoLast {
		.redButton();
	}

	#undoAll:hover,
	#undoLast:hover {
		.redButtonOver();
	}

	.twc-main-card,
	#twc-main-game-board,
	.twc-player-area {
		filter: brightness(0.9);
	}

	#jj-zoom-controls {
		background: var(--dark-10);
		color: var(--light-70);
	}
}