@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	.wolves-status-icon svg path {
		fill: var(--dark-20);
		stroke: var(--light-80);
	}

	.wolves-status-icon:after {
		background: var(--dark-0);
		box-shadow: 0 0 4px #fff, 0 1px 2px #000;
		color: var(--light-80);
	}

	#wolves-game {
		filter: var(--ext-bright);
	}
}