@import "./common";

html[data-theme=dark] {
	body {
		background-color: #442908;
	}

	.yh_preview {
		background-color: var(--dark-back);
	}

	.yh_sidetitle span {
		background-color: var(--dark-back);
		color: var(--light-80);
	}

	.yh_item {
		color: var(--light-80);
	}

	.bgabutton_blue[style="background: rgb(151, 91, 147); border-color: rgba(0, 0, 0, 0.5);"] {
		.purpleButton();
	}

	.bgabutton_blue[style="background: rgb(151, 91, 147); border-color: rgba(0, 0, 0, 0.5);"]:not(.disabled):hover {
		.purpleButtonOver();
	}

	.bgabutton_blue[style="background: rgb(213, 69, 76); border-color: rgba(0, 0, 0, 0.5);"] {
		.redButton();
	}

	.bgabutton_blue[style="background: rgb(213, 69, 76); border-color: rgba(0, 0, 0, 0.5);"]:not(.disabled):hover {
		.redButtonOver();
	}

	.bgabutton_blue[style="background: rgb(241, 180, 29); border-color: rgba(0, 0, 0, 0.5);"] {
		.yellowButton();
	}

	.bgabutton_blue[style="background: rgb(241, 180, 29); border-color: rgba(0, 0, 0, 0.5);"]:not(.disabled):hover {
		.yellowButtonOver();
	}

	.bgabutton_blue[style="background: rgb(59, 145, 77); border-color: rgba(0, 0, 0, 0.5);"] {
		.greenButton();
	}

	.bgabutton_blue[style="background: rgb(59, 145, 77); border-color: rgba(0, 0, 0, 0.5);"]:not(.disabled):hover {
		.greenButtonOver();
	}

	.yh_popup_content {
		background-color: var(--dark-20);
		border-color: var(--light-50);
		color: var(--light-80);
	}
}