@import "./common";

#D {
	span[style^="color:#3a371e"] {
		text-shadow: var(--text-w-shadow) !important;
	}

	.player_can_take_cards,
	.player_cannot_take_cards {
		background-color: transparent;
	}

	.sprite-first_player_marker {
		border-radius: 48px;
	}
}