@import "./common";

#D {
	#pagesection_gameview .whiteblock .playertablename[style="color:#000000"] {
		text-shadow: var(--text-w-shadow);
	}

	#currentTrickDiv {
		background: var(--dark-20);
		padding: 0.3em 0.5em;
		border-radius: 6px;
		color: #fff;
	}

	#pagesection_gameview .whiteblock.lastComboPlayer {
		background-color: rgb(183 183 87 / 70%);
	}

	#pagesection_gameview .whiteblock.disabled:not(.lastComboPlayer) {
		background-color: hsla(0, 0%, 45%, .7);
	}

	.grandtichublack,
	.tichublack,
	.grandtichucolor,
	.tichucolor {
		filter: var(--drop-shadow);
	}

	#buttons {
		background: var(--dark-back);
		color: #fff;
	}

	#game_play_area {
		background: var(--dark-back);
	}

	#card-last-played-area .last-played-container {
		background: var(--dark-40);
	}

	.last-played-player .last-played-icons .count {
		color: #fff;
	}

	.player_board_inner {
		background-color: transparent !important;
	}

	.icon.hand,
	.icon.star {
		filter: var(--drop-shadow);
	}

	.playertablename {
		padding-left: 0.1em;
	}

	tichu-status {
		filter: invert(1);
	}
}