@import "./common";

html[data-theme=dark] {
	--ext-overall-color: #00000060;

	.player-table {
		background: var(--dark-back);
	}

	#map:before,
	#destination-deck:before {
		content: "";
		background: var(--ext-alpha);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	.train-car-card,
	#train-car-deck-hidden-pile .deck-level,
	#destination-deck-hidden-pile .deck-level,
	.stockitem,
	.train-car-card,
	#map-and-borders .illustration,
	.wagon {
		filter: var(--ext-bright);
	}

	.player-board:before {
		opacity: 0.6;
	}

}