@import "./common";

html[data-theme=dark] {
	#piste:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#moimeme {
		background-color: var(--dark-back);
	}

	.card,
	.pari {
		filter: var(--ext-bright) drop-shadow(1px 1px 1px black);
	}
}