@import "./common";

html[data-theme=dark] {

	.log .point,
	.mini_monument_lower {
		filter: var(--highlight-min);
	}

	.player_leader_wheel,
	#hand_leaders .mini_leader {
		filter: var(--drop-shadow);
	}

	.player-board {
		background-color: var(--dark-20);
	}

	#overlay:before {
		.reduceBrightness();
	}

	.tile,
	.leader {
		filter: var(--ext-bright);
	}
}