@import "./common";

html[data-theme=dark].bgaext_bright {

	.ananas,
	.badananas,
	.villages,
	.token1,
	.token2 {
		filter: var(--ext-bright);
	}

	.villages {

		.token1,
		.token2 {
			filter: none;
		}
	}
}

html[data-theme=dark].bgaext_dark {
	.bgae_panel .bgae_content .panel {
		background-color: var(--dark-back);
	}
}