@import "./common";

#D {

	#settings,
	#TED_zoom_plus,
	#TED_zoom_minus,
	.TED-inline-icon,
	.TED .tooltip-ability-icon {
		filter: invert(1);
	}

	span[style^="color: #444444;"] {
		color: #aaaaaa !important;
	}

	.TED#bgaimagebutton_submenu_wrap {
		background-color: var(--dark-10);
	}

	.bgaimagebutton-submenu-icon .sprite-icon-symbol-Move,
	.bgaimagebutton-submenu-icon .sprite-icon-symbol-Secure,
	#board .sprite-icon-symbol-Moven .dijitTooltipContainer .tooltip-ability-icon {
		filter: invert(0.7);
	}

	#board .sprite-icon-symbol-Move:hoVer {
		filter: invert(1);
	}
}