@import "./common";

html[data-theme=dark] {
	.playerBoardContainer>div:first-child {
		background-color: var(--dark-back) !important;
	}

	#zoomControls {
		filter: invert(0.7);
	}

	#popin_gameScoringAid_contents>div:first-child {
		background-color: #283b12 !important;
	}

	.barnContainer>div:first-child {
		color: var(--light-80);
		text-shadow: none !important;
	}
}