@import "./common";

html[data-theme=dark] {
	background-color: #2a3418;

	#left-side-wrapper {
		background-color: #2a3418;
	}

	.playerPawnsStack {
		background-color: var(--dark-back);
	}

	.offering_icon {
		border: 1px solid #fff;
		border-radius: 20px;
	}

	#externalBoard {
		margin-top: 1em;
	}

	#failedCropWindow,
	#offeringWindow,
	#possibleActionsWindow,
	#selectCropWindow,
	#successCropWindow {
		background: var(--dark-back);
		color: var(--light-80);
	}

	#externalBoard,
	#terrainStacks .terrainStack {
		filter: var(--ext-bright);
	}
}