html[data-theme=dark] {
	.tomatoss-player-zone__top {
		background: var(--dark-back-50);
	}


	.tomatoss-player-zone__namebar {
		background: var(--dark-10);
	}

	#tomatoss-layout {
		--ink: #eca579;
	}

	.tomatoss-zoom-button {
		background: var(--dark-20);
	}

	.tomatoss-zoom-button:not(.disabled):hover {
		background: var(--dark-10);
	}

	.slot-card-host[data-empty=true]:before {
		background: var(--dark-back-50);
	}

	.deck-count {
		background: var(--dark-back);
		color: #e38968;
		border-color: #d0572f;
	}

	.card-node,
	.tomatoss-player-board,
	#festival-board,
	#token-reserve {
		filter: var(--ext-bright);
	}
}