@import "./common";

html[data-theme=dark] {
	#global_big_id:before {
		.reduceBrightness();
	}

	.bgaext_overlay {
		filter: invert(0.75) !important;
	}

	.tooltip_info {
		color: var(--blue-50);
	}

	.board {
		filter: var(--ext-bright);
	}

	#help-mode-switch .label {
		background-color: var(--light-50);
	}

	#help-mode-switch .checkbox:checked+.label {
		background-color: var(--blue-70);
	}

	#help-mode-switch .fa-group {
		filter: invert(1);
	}

	.sideleft,
	.sideright,
	.goodie,
	.rack_red,
	.rack_blue,
	.troop,
	.deck {
		filter: var(--ext-bright);
	}
}