@import "./common";

html[data-theme=dark] {
	.tqt_draw_count {
		filter: invert(1);
	}

	#tqt_discardpile,
	.tqt_placement {
		background: var(--dark-back);
	}

	.tqt_numbercard {
		filter: var(--ext-bright);
	}
}