html[data-theme=dark] {
	#start_message_background {
		background: var(--dark-back);
	}

	#start_message {
		background: var(--dark-10);
		color: var(--light-80);
	}

	#black_captured,
	#white_captured {
		color: var(--light-80);
	}
}