@import "./common";

html[data-theme=dark] {
	.playerLabelContainer {
		justify-content: space-between;
	}

	.playerLabelContainer .bgabutton[style="display: none;"] {
		display: block !important;
		visibility: hidden;
	}

	#central_table,
	.playerArea {
		background: var(--dark-back) !important;
	}
}