@import "./common";

html[data-theme=dark] {

	#game_map,
	#game_map>* {
		filter: invert(1);
	}

	.track {
		border: 2px solid var(--light-80);
	}

	text {
		fill: var(--light-80);
	}

	circle {
		stroke: var(--light-50);
	}
}