#D {

	#overall_status_board_0,
	#ti4-scroll-move-path-dlg,
	#ti4-scroll-top {
		background-color: var(--dark-20);
	}

	.ti4-scoreboard-icon.ti4-strat-none {
		background-color: var(--dark-40);
	}

	#status_board_0,
	.ti4-sb-label,
	#ti4-scroll-move-path-dlg,
	#ti4-scroll-top>.fa {
		color: var(--light-80);
	}
}