@import "./common";

.bgaext_bright {
	#board:before {
		.reduceBrightness();
	}
}

.bgaext_dark {

	.firstplayernotice,
	.instantwin_recall {
		color: var(--light-80);
	}

	.boardslot {
		border-radius: 4px;
		background: var(--dark-40);
	}

	.stockitem {
		filter: brightness(0.8);
	}
}