@import "./common";

html[data-theme=dark] {

	.firstplayernotice,
	.instantwin_recall {
		color: var(--light-80);
	}

	.boardslot {
		border-radius: 4px;
		background: var(--dark-40);
	}

	#board:before {
		.reduceBrightness();
	}

	.stockitem {
		filter: brightness(0.8);
	}
}