@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #000000A0;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#thething:before {
		filter: brightness(0.5);
	}

	.player-name,
	.player_board_inner,
	.player_score {
		background-color: transparent;
	}
}