html[data-theme=dark].bgaext_bright {

	.pl1PColor,
	.pl2PColor {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.grid-item-on {
		color: var(--light-80);
	}

	.player-board-game-specific-content .pl1PColor {
		outline: 1px solid var(--light-50);
	}

	.borderlast {
		outline-color: var(--green-50);
	}
}