@import "./common";

#D {
	#pagemaintitletext {
		background: var(--dark-20) !important
	}

	#pagemaintitletext * {
		background-color: transparent !important;
	}

	.USElog_phase {
		background-color: var(--orange-30);
	}

	[style="background-color:#e7cca5;font-weight:bold;"] {
		color: #000;
	}
}