html[data-theme=dark] {
	.undertheleaves-box .undertheleaves-player {
		background-color: var(--dark-back);
	}

	.undertheleaves-box .undertheleaves-header .undertheleaves-offer .undertheleaves-bag span {
		background: var(--dark-back);
		color: var(--light-70);
		outline: 1px solid var(--light-70);
	}

	.undertheleaves-card-tooltip .undertheleaves-card-tooltip-type,
	.undertheleaves-card-tooltip .undertheleaves-card-tooltip-description {
		color: var(--light-70);
	}

	.undertheleaves-card-tooltip .undertheleaves-card-tooltip-name {
		color: var(--light-80);
	}

	[style="--color: #000000"]:before,
	[style="--color: #000000"]:after {
		background-color: #fff;
	}

	.undertheleaves-tile-front,
	.undertheleaves-tile-back,
	.undertheleaves-card {
		filter: var(--ext-bright);
	}
}