@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	.icone_n,
	.icone_p,
	.icone_k,
	.icone_c,
	.iconeracine_6c4740,
	.iconeracine_708975,
	.iconesemi_6c4740,
	.iconesemi_708975,
	.iconearbre_6c4740,
	.iconearbre_708975,
	.icone_activation_b,
	.icone_activation_p,
	.icone_activation_g,
	.icone_activation_y,
	#firstplayer {
		filter: var(--drop-shadow);
	}

	.zoom {
		filter: invert(0.7);
	}

	#goals,
	#playerhand,
	#playertiles {
		background: var(--dark-back);
		color: #517b5b;
		outline: 4px solid #517b5b;
	}

	#carbontrack,
	#scorepad {
		outline: 4px solid #517b5b;
	}
}