@import "./common";

html[data-theme=dark] {
	#ve_round {
		color: var(--light-80);
	}

	.ve_header_phase,
	.ve_tooltip_cost {
		color: var(--light-70);
	}

	.ve_zone,
	.ve_tooltip_title {
		text-shadow: var(--text-w-shadow);
	}

	.ve_zone_market,
	.ve_placeholder {
		background-color: var(--dark-back);
	}
}