@import "./common";

html[data-theme=dark].bgaext_bright {
	#board {
		filter: var(--ext-bright);
		background-color: var(--light-70);
	}
}

html[data-theme=dark].bgaext_dark {
	.coord_label.luis {
		color: var(--light-70);
	}
}