@import "./common";

#D {
	.board:before {
		content: "";
		background: #00000060;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 8px;
	}

	.container2 {
		color: var(--light-80);
	}

	.character {
		filter: drop-shadow(.2vw .4vw .6vw black) brightness(0.9);
	}

	#QF,
	#QN,
	#SP {
		filter: brightness(0.9);
	}
}