@import "./common";

html[data-theme=dark] {
	.board:before {
		.reduceBrightness();
		border-radius: 8px;
	}

	.character {
		filter: drop-shadow(.2vw .4vw .6vw black) var(--ext-bright);
	}

	#QF,
	#QN,
	#SP,
	#NF,
	#NP,
	#SB,
	#SF,
	#days {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.container2 {
		color: var(--light-80);
	}
}