#D {
	.player-table .name-wrapper {
		background-color: var(--dark-10);
	}

	.player-table .name-wrapper .name {
		text-shadow: none;
	}

	.bgabutton:disabled {
		border-color: var(--dark-40);
	}

	.bgabutton:disabled:hover {
		background: #787878 !important;
	}

	#bga-zoom_controls {
		filter: invert(0.8);
	}
}