@import "./common";

#D {

	.vmg_portal_icon,
	.vmg_yellow_icon,
	.vmg_purple_icon,
	.vmg_green_icon,
	.vmg_blue_icon {
		filter: var(--highlight-min);
	}

	#vmg_portalstockrow,
	.vmg_playerportalactiverow {
		background: var(--dark-20);
	}

	.vmg_playerportaldonerow {
		background: var(--dark-40);
	}

	#vmg_myportalactiverow {
		background-color: #00191a;
	}

	#vmg_myportaldonerow {
		background-color: #040415;
	}

	.vmg_card-tooltip-image:before {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 5px solid #262626;
		box-sizing: border-box;
		content: "";
	}

	#vmg_tokenhelpimage,
	.vmg_refcard-tooltip-image,
	.stockitem {
		filter: brightness(0.9);
	}
}