html[data-theme=dark] {
	--ext-overall-color: #0005;

	.mf_label>div {
		background-color: #000;
		color: var(--light-70);
	}

	.mf_playerboard span {
		text-shadow: none;
	}

	.mf_item_front.bg-icon_zoom_in,
	.mf_item_front.bg-icon_zoom_out {
		filter: invert(0.8);
	}

	.mf_item_back,
	.mf_item_front {
		filter: var(--ext-bright);
	}
}