@import "./common";

html[data-theme=dark] {

	#player_boards .cc_counter,
	.playerboard_row_header .cc_counter,
	#pagesection_gameview #board-row .whiteblock {
		color: #000;
	}

	#player_boards .player-board {
		background: var(--dark-20) !important;
	}

	#player_boards .player-board.vit_passed,
	#player_boards .playerboard_row.vit_passed {
		background: var(--dark-40) !important;
	}

	.expandabletoggle:active,
	.expandabletoggle:hover,
	.expandabletoggle:link,
	.expandabletoggle:visited {
		color: #fff !important;
	}

	.player_last_turn {
		background-color: transparent !important;
	}

	.token.component {
		filter: var(--drop-shadow);
	}

	#player_boards .cc_counter,
	.playerboard_row_header .cc_counter,
	.deck_count,
	#turn_header {
		color: var(--light-80);
		background: var(--dark-20);
	}

	.label_boardLabels,
	.label_playerBoardLabels,
	.playerboard .building_slot,
	.playerBoardLabels {
		color: #000;
	}

	.dijitTooltipContents .token.small {
		filter: var(--drop-shadow);
	}

	.card.blueCard .name,
	.card.yellowCard .name,
	.card .description {
		color: #000;
	}

	.mamaPapaCard {
		color: #000;
	}

	.stock_active_slot .inner_element {
		border-color: var(--blue-50);
	}

	.stock_active_slot .inner_element:hover {
		border-color: var(--blue-70);
	}
}