html[data-theme=dark] {
	body {
		background: #634c36;
	}

	.mf_zone {
		background-color: var(--dark-back);
	}

	.mf_zone_nobg {
		background-color: transparent;
	}

	.bga-help_button.mf_help_button_bg {
		background-color: var(--dark-30);
		color: var(--light-80);
	}
}