@import './common';

#cde-floating-menu-score .fa-star {
	display: block;
}

html[data-theme=dark].bgaext_bright {
	.vyg_twb #vyg_map_img {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark {
	body {
		background: #5b4824;
	}

	.bgabutton_blue:not(.disabled):not(:disabled):hover.vyg_confirm_outer:hover {
		background: transparent !important;
	}

	.bgabutton_blue .bgabutton_blue {
		.blueButton()
	}

	.bgabutton_blue:hover .bgabutton_blue {
		.blueButtonOver()
	}

}