html[data-theme=dark] {

	.help-ref-image,
	.turn-track,
	.end-scoreboard-frame,
	#hex-grid {
		filter: var(--ext-bright);
	}
}

.bgaext_dark {
	.help-modal-content {
		background: var(--dark-20);
		outline: 1px solid var(--dark-40);
	}


	.help-modal-close {
		color: var(--light-60);
	}

	.help-modal-close:hover {
		color: var(--light-80);
	}

	.player-area {
		background: var(--dark-back);
	}

	#zoom-controls button,
	#help-button {
		background: var(--dark-20);
		border-color: var(--light-50);
		color: var(--light-60);
	}

	#zoom-controls button:hover,
	#help-button:hover {
		background: var(--dark-10);
		color: var(--light-80);
	}
}