// resolve render issues of game tiles
html:not(.bgaext_cust_back):not(.bgaext_solid_back) body {
	background: none !important;
}

#D {
	.wtw_spellTooltip {
		background-color: var(--dark-back);
		background-image: none;
	}

	.wtw_whiteblock {
		background-color: var(--dark-30);
	}

	.wtw_discardTitle {
		color: var(--light-80);
	}
}
