@import "./common";

html[data-theme=dark] {
	#player_board_id:before {
		.reduceBrightness();
		border-radius: 4px;
	}

	#team_board_id {
		background-color: var(--dark-20) !important;
	}

	.board_font {
		color: var(--light-80);
	}

	.unit,
	.unit_popup,
	.markerhex {
		filter: var(--ext-bright);
	}
}