html[data-theme=dark].bgaext_bright {

	.tableau .card_space,
	.tableau .pboard,
	.tableau .card_land,
	.tableau .card_water,
	.carddisplay .card,
	.carddisplay .deck,
	.mainboard {
		filter: var(--ext-bright);
	}
}

html[data-theme=dark].bgaext_dark:before {
	background-image: var(--ext-game-back);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	content: " ";
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
	filter: invert()hue-rotate(180deg) grayscale(0.5);
	opacity: 0.7;
}

html[data-theme=dark].bgaext_dark {

	#player_boards {

		.player-board,
		.player-board>* {
			filter: invert(1) hue-rotate(180deg);
		}
	}

	.miniboard {

		.counter,
		.guild_count,
		.jtag_count,
		.tracker {
			color: #000;
			text-shadow: var(--text-w-shadow);
		}
	}

	.tooltipcontainer,
	.tundra .dijitTooltipContainer {
		background: var(--dark-10);
	}

	.pboard:after {
		background-color: var(--dark-back);
	}
}