@import "./common";

html[data-theme=dark] {
	#page-content h3 {
		color: #fff;
	}

	.modal-content {
		background-color: var(--dark-20);
	}

	.close:focus,
	.close:hover {
		color: #fff;
	}

	.player_sheets_wrap,
	.stockitem {
		filter: brightness(0.9);
	}
}