@import "./common";

#D {

	#welcometo-container #plan-cards-container,
	#welcometo-container #construction-cards-container,
	.score-sheet-wrapper .score-sheet-holder .score-sheet .player-name {
		background-color: var(--dark-back);
	}

	.wttm-player-panel .numbers-status,
	.log-number,
	.card-number {
		color: #000;
	}

	#player_config .player_config_row#scenario-name {
		background: var(--dark-0);
		border-color: var(--dark-40);
	}

	.score-sheet-wrapper .score-sheet-holder .score-sheet,
	.construction-card-holder .construction-card-back {
		filter: brightness(0.9);
	}

	#popin_chooseNumber,
	#popin_showOverview {
		background-color: var(--dark-20);
		color: var(--light-80)
	}

	#popin_showOverview #popin_showOverview_contents table tbody tr:nth-of-type(odd) {
		background-color: var(--dark-40);
	}

	#popin_showOverview #popin_showOverview_contents table tbody tr td span.details,
	#popin_showOverview #popin_showOverview_contents table tbody tr td i {
		color: var(--light-50);
	}

	#btnUndoLastStep {
		.orangeButton();
	}

	#btnUndoLastStep:hover {
		.orangeButtonOver();
	}

	#btnRestartTurn {
		.redButton();
	}

	#btnRestartTurn:hover {
		.redButtonOver();
	}
}