@import "./common";

#D {
	#player_boards .houses-status>svg {
		filter: invert(1);
	}

	#player_boards .houses-status>div,
	#player_boards .refusal-status>div {
		color: #fff;
	}

	#plan-cards-container,
	#construction-cards-container {
		background: var(--dark-back);
	}

	#layout-controls-container[data-mode="0"] #layout-control-0,
	#layout-controls-container[data-mode="1"] #layout-control-1 {
		.blueButton();
	}

	#layout-controls-container[data-mode="0"] #layout-control-0:hover,
	#layout-controls-container[data-mode="1"] #layout-control-1:hover {
		.blueButtonOver();
	}

	#layout-controls-container #layout-control-merged-switch input[type=radio]:checked+label svg {
		color: var(--blue-80);
	}
}