@import "./common";

html[data-theme=dark] {
	.i-mana-x {
		color: #6666ff;
	}

	.player_small_board .hand-icon-wrapper .hand-icon {
		filter: invert(1);
	}

	.wg-tooltip-card .wg-tooltip-left .wg-tooltip-header {
		border-bottom: 2px solid var(--light-70);
	}

	.wg-title,
	.player-table .wg-health {
		background-color: var(--dark-20);
	}

	.bga-cards_deck-counter.round {
		background: var(--dark-30);
		color: #fff;
	}

	.wg-card-gametext {
		color: #000;
	}

	.player_small_board .icon-wrapper>div,
	.player_small_board .icon-wrapper>div.game-info {
		background: var(--dark-40);
	}

	.player_small_board .icon-wrapper .hand {
		filter: invert(0.7);
	}

	#wg-phase-selector {
		border: 2px solid var(--light-70);
	}

	.player_small_board .icon-wrapper>div.choice {
		background-color: var(--green-30);
	}

	.player_small_board .icon-wrapper>div.attacker {
		background-color: var(--red-30);
	}
}