@import "./common";

#D {
	#overall-content:before {
		content: "";
		background: #00000080;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.zone-title {
		color: #e3a34f;
	}

	.deck[data-empty=true] {
		outline: 2px dashed #e3a34f;
	}

	.player-board[data-player-color=fff]:before {
		background-color: #bbb;
	}

	.player-board[data-player-color=fff] {
		color: #fff;
	}

	.player-board[data-player-color=fff] .player_score,
	.player-board[data-player-color=fff] .player_score * {
		color: #000;
	}

	#board .duel-zone {
		background-color: #403a5f;
	}

	.bga-help_popin-button {
		background: var(--dark-40);
		color: var(--light-80);
	}

	#help-popin ol {
		background-color: var(--dark-30);
	}

	#help-popin .powers .power-type {
		filter: invert(0.88);
	}

	.element-icon {
		border-radius: 50%;
	}

	#player-help-visible-wrapper {
		position: relative;
	}

	.card-stock .slot {
		background: var(--dark-back);
	}

	div[data-player-color=fff] .slot {
		box-shadow: 0 0 3px 5px #aaa9;
	}

	.counters {
		margin: 15px 0;
	}

	[style="color: #000;"] {
		text-shadow: var(--text-w-shadow);
	}
}