@import "./common";

html[data-theme=dark] {

	#top_files,
	#left_ranks {
		color: var(--light-80);
	}

	#right_ranks,
	#bottom_ranks {
		color: var(--red-50);
	}

	#board {
		filter: brightness(0.9);
	}
}