	#D {

		#gipf-move-history {
			color: var(--light-80);
		}

		#gipf-move-history-header,
		.gipf-move-history-table tr:nth-child(odd),
		#gipf-move-history-expand-collapse {
			background-color: var(--dark-20);
		}

		.gipf-move-history-table tr:nth-child(2n) {
			background-color: var(--dark-30);
		}

		.yinsh-marker-black,
		.yinsh-piece-black,
		.gipf-move-history-player-black {
			filter: var(--highlight-min);
		}

		.gipf-button-panel {
			background-color: var(--dark-20);
			color: var(--light-50);
		}

		.gipf-camera-reset:hover,
		.gipf-render-quality:hover,
		.gipf-settings:hover {
			color: var(--light-70);
		}

		.gipf-settings-panel {
			background-color: var(--dark-20);
		}

		#gipf-settings-label {
			color: var(--light-80);
		}

		.gipf-move-history-slider::-webkit-slider-runnable-track,
		.gipf-move-history-slider::-moz-range-track,
		.gipf-move-history-slider::-ms-track {
			background-color: transparent !important;
		}
	}