@import "./common";

html[data-theme=dark] {

	div#grid-container,
	.domino,
	.domino .domino-arrow {
		background-color: var(--dark-40);
		border-color: var(--light-70);
	}

	div#yinyang-mask .square {
		border-bottom: 1px solid var(--red-30);
	}

	div#yinyang-grid {
		border: 2px solid var(--light-70);
	}

	div#yinyang-grid div.square,
	.domino div.square,
	.domino .domino-cause,
	.domino .domino-effect {
		border-color: var(--light-70) !important;
	}
}