@import "./common";

html[data-theme=dark] {
	.firstplayer {
		filter: invert(1);
	}

	#player_boards .crystal,
	#player_boards .boardblock .character,
	#player_boards .shadowdice,
	#player_boards .xp,
	.shadowcardinhand,
	.shadowcard {
		filter: var(--drop-shadow-min);
	}

	#popin_appendix {
		background-image: none;
	}

	#container_game {
		filter: var(--ext-bright);
	}
}