@import "./common";

html[data-theme=dark] {
	#overall-content {
		background: none !important;
	}

	.playertablename {
		text-shadow: none;
	}

	.tooltiptext [style="color:#000000;"] {
		color: #fff !important;
	}

	b[style="color:#000000;"] {
		text-shadow: var(--text-w-shadow);
	}
}