@import "./common";

html[data-theme=dark] {
	body {
		background: none !important;
	}

	#hints_wrap {
		color: #fff;
	}

	#deck {
		border: 1px solid var(--light-70);
	}

	.Hint,
	.Yokai {
		filter: brightness(0.9);
	}
}