@import "./common";

html[data-theme=dark] {
	#eog_triggers>div:first-child {
		background-color: var(--dark-10) !important;
	}

	.mngt_button {
		color-scheme: dark;
		background-color: var(--dark-20);
	}
}