@import "./common";

html[data-theme=dark] {
	.zn_panel {
		background-color: var(--dark-back);
		border: 5px solid var(--dark-10);
		color: var(--light-80);
	}

	* .bg-hand {
		filter: invert(0.9);
	}

	#zn_board_diplo img,
	#zn_board_planet img,
	.zn_tech {
		filter: var(--ext-bright);
	}

	.bgabutton_blue[style="background-color: rgb(222, 106, 86); color: rgb(0, 0, 0); text-shadow: none;"] {
		.redButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(222, 106, 86); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.redButtonOver();
	}

	.bgabutton_blue[style="background-color: rgb(225, 195, 207); color: rgb(0, 0, 0); text-shadow: none;"] {
		.pinkButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(225, 195, 207); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.pinkButtonOver();
	}

	.bgabutton_blue[style="background-color: rgb(195, 157, 217); color: rgb(0, 0, 0); text-shadow: none;"] {
		.purpleButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(195, 157, 217); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.purpleButtonOver();
	}

	.bgabutton_blue[style="background-color: rgb(254, 232, 147); color: rgb(0, 0, 0); text-shadow: none;"] {
		.yellowButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(254, 232, 147); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.yellowButtonOver();
	}

	.bgabutton_blue[style="background-color: rgb(255, 177, 30); color: rgb(0, 0, 0); text-shadow: none;"] {
		.orangeButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(255, 177, 30); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.orangeButtonOver();
	}

	.bgabutton_blue[style="background-color: rgb(151, 193, 175); color: rgb(0, 0, 0); text-shadow: none;"] {
		.greenButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(151, 193, 175); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.greenButtonOver();
	}

	.bgabutton_blue[style="background-color: rgb(75, 157, 217); color: rgb(0, 0, 0); text-shadow: none;"] {
		.blueButton();
	}

	.notouch-device .bgabutton_blue[style="background-color: rgb(75, 157, 217); color: rgb(0, 0, 0); text-shadow: none;"]:not(disabled):hover {
		.blueButtonOver();
	}
}