@import "./common";

#D {
	.doubleempty {
		color: #fff;
	}

	#inside-me>div[style*="background-color: white;"] {
		background: var(--dark-back) !important;
	}

	.writes.lg {
		background: var(--dark-back);
		color: var(--light-80);
	}

	#inside-me>div:first-child,
	#inside-me .writes.wh {
		background: var(--dark-20) !important;
		color: #fff;
	}
}