@import "../common";

#popin_chooseLayout { background-color: #4b3901; }
#popin_chooseLayout_contents .layout-prompt { background-color: #7e5d01; }
#popin_chooseLayout_contents .layout-prompt:hover { background-color: #c59207; }
