body {
	background-color: #303030 !important;
}

.gb_zone {
	background-color: var(--dark-back);
}

.gb_playerpanel_special_value {
	color: var(--light-80);
}

.gb_zone_boards {
	filter: brightness(0.9);
}

[class*="bg-board_main"],
[class*="bg-board_action"] {
	filter: brightness(0.9);
}