@import "../common";

.gw-miner { filter: var(--drop-shadow); }
#gw-board, .stockitem, .gw-player-board { filter: brightness(0.9); }
.gw-player-board-resource-group { background-color: var(--dark-back); color: var(--light-80); }
