@import "../common";

#pagemaintitletext span[style*="background-color:#bbbbbb"] { background-color: transparent !important; }
.black_token { filter: var(--highlight-min); }
#overall-content { color: var(--light-80); }
.mountain { background-color: transparent; }
.horseman { color: #4778b8; }
