@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; }
.dc_zone { background-color: var(--dark-back); }
.dc_zone_nobg { background-color: transparent; }
#dc_gameover { background-color: var(--yellow-10); color: var(--light-80); }
