@import "../common";

#overall-content:before { content: ""; background: #000000A0; position: absolute; width: 100%; height: 100%; }
#zoom-controls, .coc_scroll_arrow, .coc_hand_icon { filter: invert(0.7); }
