@import "../common";

#overall-content:before { content: ""; background: #00000050; position: absolute; width: 100%; height: 100%; }
.castletile-box p { background: var(--dark-20); }
.player-box .block-title { background: var(--dark-10); }
.whiteblock, .castle { background: var(--dark-back) !important; }
