@import "../common";

.nib_board, .nib_counter .nib_disc, .card-stock.slot-stock, .nib_separators { filter: brightness(0.8); }
#bga-zoom-controls { filter: invert(0.8); }
.nib_collectionTitle { background-color: var(--dark-20); }
