@import "../common";

.give_want_arrow { filter: invert(0.7); }
.bean_count_label { color: var(--light-80); text-shadow: none; filter: var(--drop-shadow); }
.bean_field_block > div:first-child > div:first-child { background: var(--dark-20) !important; }
[style*="background-color:#bbbbbb"] { background-color: transparent !important; }
.farm_icon { filter: var(--drop-shadow); }
