@import "../common";

.word { background: var(--dark-20); border: 1px solid #aaa; box-shadow: 2px 2px 2px rgba(255,255,255,.5); color: #fff; }
#clue_builder_container h3, .clue_container h3 { color: #fff; text-shadow: none; }
#clue_builder .word:hover { color: #222; }
.word_remove { color: #fff; }
.word_add { color: #ffffff66; }
.guess, .player_word div { background: var(--dark-back); }
