@import "../common";

.um_board p { background-color: var(--dark-20); }
#um_label_left, #um_toggle_only_board { color: var(--light-80); }
.bg-point { filter: var(--drop-shadow); }
.um_board, .um_inter { filter: brightness(0.9); }
.um_popup_content { background-color: var(--dark-20); }
