@import "../common";

.sc_zone { background-color: var(--dark-back); color: var(--light-80); }
.sc_zone_nobg { background-color: transparent; }
#page-content { color: var(--light-80); }
.bga-help_button.mf_help_button_bg { background-color: var(--dark-20); color: var(--light-80); }
.sc_help table th { background-color: var(--dark-10); color: var(--blue-50); }
.sc_help table td { background-color: var(--dark-20); }
.bg-flea_mini { filter: brightness(1.5); }
.sc_popup { background-color: var(--dark-back); }
.sc_popup_content { background-color: var(--dark-20); }
.sc_final_scoring th, .sc_final_scoring td  { border-color: var(--light-50); }
