@import "../common";

#overall-content:before { content: ""; background: #000000A0; position: absolute; width: 100%; height: 100%; }
.st_header { position: relative; }
.st_zone { background-color: var(--dark-back); }
#st_layout_change a, #st_layout_change p, .st_help_spirit { color: var(--light-80); }
.st_label { background-color: var(--dark-10); color: var(--light-80); }
.st_zone_title .player-name { filter: none; }
.st_card_alphabg .st_card_back, .st_card_alphabg .st_card_front { filter: brightness(0.9); }
