@import "../common";

#overall-content[style^="background"]:before { content: ""; background: #000000aa; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
.playertablename { text-shadow: none; }
#logs [style^="color:#0000dd;"] { color: var(--blue-80) !important; }
#logs [style^="color:#800080;"] { color: var(--violet-80) !important; }
#logs [style^="color:#800000;"] { color: var(--red-50) !important; }
