@import "../common";

.clc_playertableicon { filter: invert(1); }
#popin_startDialogId { background: var(--blue-10); }
#popin_startDialogId_title, .golden_title { background-image: none; background-color: var(--yellow-10); }
