@import "../common";

#spectator-notification .spectator-banner, #display-all-scores-button, #bottom-retract-scores-button { background-color: var(--dark-10); color: var(--light-80); }
.gaming-section .score-board .player-score .header { color: var(--light-80); background-color: var(--dark-40); }
.gaming-section .score-board .player-score .content { color: var(--light-80); background-color: var(--dark-20); }
.gaming-section .score-board .player-score .header .playerIdentification { background-color: var(--dark-10); }
.gaming-section .score-board .player-score .content.content-turn-malus1, .gaming-section .score-board .player-score .content.content-turn-malus2 { background-color: var(--red-10); }
.gaming-section .score-board .player-score .content.content-turn-bonus1, .gaming-section .score-board .player-score .content.content-turn-bonus2 { background-color: var(--blue-50); }
.gaming-section .score-board .player-score .setScore { background-color: var(--yellow-10); }
.gaming-section .score-board .player-score .finalScore { background-color: var(--orange-30); }
.gaming-section .score-board .player-score>* { border: 1px solid var(--light-50); }
.statistiques-container__cards .number { background-color: var(--dark-20); color: var(--light-80); }
.players_panel_value, #logs [style*="background-color: #b2bb97"] { background-color: var(--green-30) !important; }
.players_panel_value.panel_combos, #logs [style*="background-color: #c1e1ff"] { background-color: var(--blue-10) !important; }
.players_panel_value.panel_lost_ball, #logs [style*="background-color: #ffc2b6"] { background-color: var(--red-10) !important; }
.players_panel_value.panel_total, #logs [style*="background-color: #fae5b7"] { background-color: var(--yellow-10) !important; }
.custom-tooltip-button { background-color: var(--dark-10)!important; border: .15rem solid var(--light-70); cursor: pointer;}
.decks-remaining-number { background-color: var(--dark-10); border: .2rem dashed var(--light-70); color: var(--light-70); }
.board-container .discard-section { background-color: var(--dark-20); border: .2rem dashed var(--light-70); }
.animation-control-title { color: var(--light-80); }
.animation-control-container .control-panel { background-color: var(--dark-10); }
.animation-control-container .control-panel__field { background-color: var(--dark-20); color: var(--light-80); }
#top-retract-scores-button { background-color: var(--blue-70); }
#top-retract-scores-button:hover { background-color: var(--blue-80); color:#fff; }
.cp_board__character-logo { filter: drop-shadow(2px 3px 2px var(--light-50)); }
