@import "../common";

.playmat_on body { background: none !important; background-color: #081020 !important; }
#krakenToken, #scourgeToken { filter: var(--highlight); }
.icon { filter: var(--highlight-min); }
.icon-key { filter: var(--highlight); }
.icon-lord { border-radius: 50%; }
.player-panel .player-name { text-shadow: none; }
#gameplay-options { background-color: #0e0e3f; }
.dijitTooltipContainer [style="color: blue"], #logs [style="color:blue"] { color: #6666ff !important; }
.dijitTooltipContainer [style*="background-color: blue;"] { background-color: #6666ff !important; }
.dijitTooltipContainer [style="color: purple"], #logs [style="color:purple"] { color: #cc00cc !important; }
.dijitTooltipContainer [style*="background-color: purple;"] { background-color: #cc00cc !important; }
.abs-tooltip-leviathan table td, .abs-tooltip-leviathan table th { border: 1px solid var(--light-50); }
#conspiracy-help-button { color: #000; }
