@import "../common";

#sld_midzone { background: #04040466; }
#popin_score_dlg_title { font-weight: normal; }
#scoretable .scorecell { border-color: var(--light-50); }
#scoretable { outline-color: var(--light-50); }
#scoretable .header, #scoretable .lheader { background-color: var(--dark-20); }
#scoretable .scorecell.score.header.total { background-color: var(--dark-40); }
#scoretable .vtext { color: var(--light-80); }
