@import "../common";

#cards #shapes .pile-wrapper .pile:empty { border: 1px dashed #ccc; }
#zoom-controls { filter: invert(0.7); }
#popin_lookatthestarsHelpDialog { background: var(--dark-20); color: #fff; }
#lookatthestars-help-button { background: var(--dark-30); color: var(--light-80); }
