@import "../common";

.game-table { background-image: none; background-color: var(--dark-back); }
.game-table [style*="color:black"] { color: var(--light-80) !important; }
.bg-light { background-image: none; background-color: var(--dark-20); }
.player-board-info-row { background-color: var(--orange-30); }
