@import "../common";

.mad_layout_selector_inner { background: #000; border: 1px solid #fff; }
.mad_layouticon { background-color: #fff; }
.mad_score_icon { filter: var(--highlight-min); }
#mad_bg { background: none; }
.mad_playerboard_nameholder { background-color: var(--dark-20); border: 2px solid var(--light-50); }
