@import "../common";

.ea-player-panel-pill { background-color: var(--dark-40); }
.ea-pill-counter { color: #fff; }
.ea-objective-button .ea-pill-counter { color: #fff !important; }
.bx-checkbox-switch i { background-color: var(--light-50); }
.bx-checkbox-switch i:before { background-color: var(--dark-40); }
.bx-checkbox-switch i:after { transform: translate3d(4px, 3px, 0); background-color: #fff; height: 20px; width: 20px; }
.bx-checkbox-switch input:checked+i { background-color: var(--blue-70); }
.bx-checkbox-switch input:checked+i:after { transform: translate3d(22px, 3px, 0); }
.ea-player-panel-pill div[class^="ea-icon"]:not([class="ea-icon-card-type-fauna"]) { filter: invert(1); }
#logs div[class^="ea-icon"], .bgabutton_gray div[class^="ea-icon"], #pagemaintitletext div[class^="ea-icon"] { filter: invert(1); }
.ea-mini-card, .ea-main-action-id-color { border: 2px solid var(--light-70); }
.player-name a { background-color: transparent !important; }
.custom_popin { background: var(--dark-10); color: var(--light-80); }
.custom_popin_closeicon { color: #aaa !important; }
.notouch-device .custom_popin_closeicon:hover { color: #fff !important; }
.ea-dialog-card-detail-grid .ea-dialog-card-detail-jumper .ea-dialog-card-detail-jump-selected { border-bottom: 1px solid #fff; border-top: 1px solid #fff; }
#ea-area-card-hand .ea-card-bottom, .ea-area-player-tableau .ea-card-bottom, .ea-hand-float #ea-area-card-hand .ea-card-bottom { background-color: var(--dark-10); }
.ea-card-bottom i { text-shadow: none; }
#ea-area-card-hand-container, #ea-area-card-hand-container.ea-hand-float { background-color: var(--dark-back); }
.ea-counter { background-color: var(--dark-10); border: 1px solid var(--light-80); color: var(--light-80); }
.ea-objective-button { background-color: var(--dark-10); filter: var(--drop-shadow); }
.ea-dialog-objective-detail-player-name > span, .ea-objective-detail-progress > span { background-color: transparent !important; }
a.ea-main-action-id-color-0.ea-main-action-id-color-0, a.ea-main-action-id-color-0.ea-main-action-id-color-0:active { .greenButton(); }
a.ea-main-action-id-color-0.ea-main-action-id-color-0:not(.disabled):hover { .greenButtonOver(); }
a.ea-main-action-id-color-1.ea-main-action-id-color-1, a.ea-main-action-id-color-1.ea-main-action-id-color-1:active { .orangeButton(); }
a.ea-main-action-id-color-1.ea-main-action-id-color-1:not(.disabled):hover { .orangeButtonOver(); }
a.ea-main-action-id-color-2.ea-main-action-id-color-2, a.ea-main-action-id-color-2.ea-main-action-id-color-2:active { color: #fff!important; }
a.ea-main-action-id-color-3.ea-main-action-id-color-3, a.ea-main-action-id-color-3.ea-main-action-id-color-3:active { .yellowButton(); }
a.ea-main-action-id-color-3.ea-main-action-id-color-3:not(.disabled):hover { .yellowButtonOver(); }
a.ea-main-action-id-color-1.ea-main-action-id-color-1 div[class^=ea-icon], a.ea-main-action-id-color-2.ea-main-action-id-color-2 div[class^=ea-icon],
a.ea-main-action-id-color-3.ea-main-action-id-color-3 div[class^=ea-icon], a.ea-main-action-id-color-4.ea-main-action-id-color-4 div[class^=ea-icon], .bx-top-button-invalid div[class^=ea-icon] { filter: invert(1); }
.bx-top-button-invalid { .disabledButton(); }
.bgabutton_red { .redButton(); }
.bgabutton_red:hover { .redButtonOver(); }
#ea-area-card-hand-config, #ea-area-card-hand-config-control, .ea-hand-float #ea-area-card-hand-config, .ea-hand-float #ea-area-card-hand-config-control { background-color: var(--dark-40); }
#ea-area-card-hand-config-controller, .ea-hand-float #ea-area-card-hand-config-controller { color: var(--light-80); }
.ea-card-help { background-color: var(--blue-70); }
#ea-shortcut-area { background-color: var(--dark-back); color: var(--light-80); }
#ea-scorepad-container { background-color: var(--dark-back); }
#ea-scorepad { background: var(--dark-30); color: var(--light-80); }
#ea-scorepad-table .ea-scorepad-icon-container { color: #000; }
#ea-scorepad-table * { border-color: var(--light-50) !important; }
