@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; }
#right-side-buttons { position: relative; }
#sbk-game-holder #sbk-board-holder { filter: brightness(0.9); }
#sbk-game-holder #sbk-board-holder #deck-holder { background-color: var(--dark-back); color: var(--light-80); }
#sbk-game-holder #sbk-board-holder #deck-holder .sprite-tile { filter: var(--drop-shadow); }
