@import "../common";

.smlb_x_icon, .smlb_x_icon .smlb_pb_count { filter: invert(1); }
.smlb_en .smlb_scorecard { color: #000; filter: brightness(0.9); }
.smlb_en .smlb_lucky_box, .smlb_number_cards>.stockitem { filter: brightness(0.9); }
