@import "../common";

#player_boards .resource, #logs .resource, #player_boards .cellcount, #player_boards .sigil { filter: var(--highlight-min); }
.tooltipLine { border-bottom: 2px solid var(--light-80); }
.actioncustombutton { background: #4d671999 !important; }
.actioncustombutton:hover { background: #4d6719 !important; color: #fff !important; }
