@import "../common";

#page-title, .current_player_is_active #page-title, .gamestate_gameEnd #page-title { background: #b32041 !important; background-clip: content-box !important; }
#pagemaintitletext span[style*="color:#e50028;"] { text-shadow: var(--text-w-shadow) !important; }
#popin_showScores table th { background: var(--dark-20); color: var(--light-80); border-bottom: 1px solid #919191; }
#popin_showScores td[style="color:#111111"] { text-shadow: var(--text-w-shadow); }
#popin_showScores table tbody tr td:first-of-type { background: var(--dark-20); }
#popin_showScores table td { background: var(--dark-30); color: var(--light-80); }
#popin_showScores table tbody tr td:last-of-type { background: var(--dark-20); }
#popin_showScores .icon-container { filter: var(--highlight-min); }
#popin_auction h2, #popin_showFaction h2, #popin_showScores h2, #popin_showSettings h2, #popin_showTour h2 { background: var(--dark-20); color: var(--light-80); }
.faction-infos .player-mat-holder { color: #000; }
.objective-card .objective-card-inner .objective-text { color: #000; }
span.factionname { background-color: rgba(0, 0, 0, 0) !important; }
