@import "../common";

.player_config_row svg, #board .flower .hint svg { filter: invert(0.7); }
#board .flower .flower-heart .stack-container .flo-label { filter: drop-shadow(1px 1px 2px black) drop-shadow(1px 1px 2px black); }
#board .flower .hint { background-color: var(--dark-40); border: 1px solid var(--dark-0); color: var(--light-80); }
