@import "../common";

body { color: var(--light-80); }
.wsh_playername_wrapper_000000, .wsh_playername_wrapper_000000 .playername { background-color: transparent!important; text-shadow: var(--text-w-shadow); }
.wsh_playername_wrapper_ffffff, .wsh_playername_wrapper_ffffff .playername { background-color: transparent!important; text-shadow: none; }
