@import "../common";

.auction-bidding-item, .cc_counter { background: var(--dark-20); }
.token24 { filter: var(--highlight-min); }
.tiles.fog { opacity: .5; filter: invert(1); }
#actions_overview, #imported-goods { color: #000; }
.active_turn { background: var(--dark-40); }
table.formResources { background: var(--dark-back); border: 1px solid var(--dark-40); border-collapse: collapse; }
table.formResources td { padding: 0.2em; }
