@import "../common";

.hand_text { color: var(--light-80); }
.hand_token_space { background-color: var(--dark-back); }
#bga-zoom-controls { filter: invert(0.7); }
.suggestion_area { background-color: var(--dark-back); color: var(--light-80); }
.card_space, .hours_card, .card_back, #deck_next_card_space { filter: brightness(0.9); }
