@import "../common";

.settings_modal h2 { background-color: #123754; }
.settings_modal, #bt_tabbed_column { background-color: var(--dark-20); color: var(--light-80); }
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab[data-state=selected] { background-color: var(--dark-20); }
.settings_modal #setting_modal_content .settings_modal_tabs .settings_modal_tab, #bt_tabbed_column .bt_tabbed_column_tab[data-state=inactive] { background-color: var(--dark-40); }
#clipboard_button svg, #battle_log_button .battle_log_icon, #information_button .information_modal_icon { fill: var(--light-50); }
#show_settings_menu:hover { color: #fff; }
#bt_cards_in_play, .bt_battle_info { background-color: var(--dark-20); }
.bt_unit_pool_container { background-color: var(--dark-30); }
#step_tracker li[data-active=true] { background-color: var(--dark-0); }
