@import "../common";

#overall-content:before { content: ""; background: #000000A0; position: absolute; width: 100%; height: 100%; }
.playertablename { text-shadow: none; }
.card { filter: brightness(0.9); }
