@import "../common";

.player_panel_character, .skill_value { color: var(--light-80) !important; }
.skill_icon, .rogue_container { filter: invert(0.9); }
.player-name { background-color: var(--dark-20) !important; }
button.enhance .text, button.trade .text, .midSizeDialog div[style*="border-radius: 10px"] { color: #000; }
button.enhance:disabled .text, button.trade:disabled .text { color: var(--dark-40); }
button.switch, .check { background: var(--dark-10) !important }
