@import "../common";

.cardspace { color: #000; }
.meld_card_counter_wrap { background-color: var(--dark-back); }
.team_board_wrap { background-color: var(--green-30); }
.card_1, .card_2 { filter: var(--drop-shadow) brightness(0.9); box-shadow: none; } }
