@import "../common";

font[color="blue"] { color: #8080ff !important; }
font[color="#000"], font[color="black"]  { text-shadow: var(--text-w-shadow); }
font[color="red"] { color: #ff3333 !important; }
