@import "../common";

#AMBDisplayOptionsToggle { filter: invert(0.7); }
.amb-rank-icon, .amb-inner-icon { filter: var(--highlight-min); }
.amb-lap .amb-icon .amb-inner-icon { filter: var(--drop-shadow); }
.amb-card-tooltip-header-area { color: #000; }
.amb-card-tooltip-label { color: #bfbfbf; }
.amb-card-tooltip-noundo { color: #ff3333; }
