@import "../common";

.playercard { color: #000; }
.arcicon { filter: var(--drop-shadow) !important; }
.hwcard  .hwtext { color: #000; }
.discard, .hwturns .score { background-color: var(--dark-back); color: var(--light-80); }
.discard {  box-sizing: border-box; }
