@import "../common";

.game-content { color: var(--light-80); }
#bga-zoom-controls { filter: invert(0.8); }
.aurumwhiteblock { background-color: var(--dark-back); }
.trick-title-background { background-color: var(--dark-20); }
