.player-board,
.player-board>*,
.ap-player-area-block.ap-player-docking-mat,
.ap-player-area-block.ap-player-docking-mat>* {
	filter: invert(1);
}

.ap-icon-art[data-type=queens-favor] {
	filter: var(--highlight) !important;
}

#ap-game .ap-player-area .ap-player-area-above-hive .ap-player-area-block.ap-player-docking-mat .ap-player-area-block-header {
	color: var(--light-80);
}

#jj-zoom-controls {
	background: var(--dark-10);
	color: var(--light-70);
}