@import "../common";

.note-line { color: #000; }
#o-aftertable { color: var(--light-80); }
#o-dbnogrid { background-color: var(--dark-back); color: #fff; }
.dbnogrid-cell-button:hover { background-color: #00000066; }
