@import "../common";

#available_dice .title, .rolled_dice_container .title, .dice_hand_container .title { color: #fff; }
#available_dice, .rolled_dice_container, .dice_hand_container { background-color: var(--dark-back); }
.whiteboard { background-color: #000; }
.dc_black { text-shadow: var(--text-w-shadow); }
.log_dice { filter: var(--drop-shadow); }
