@import "../common";

.wsp_background_paper body { background: none !important; }
.wsp_background_paper #overall-content:before { content: ""; background: #000000b3; position: absolute; width: 100%; height: 100%; }
#spectatorbox { background-color: var(--dark-20) !important; }
.player_board_content, .wsp_playerboard_card_icon { color: #000; }
.wsp_tooltip_header span[style$="color: #666666"] { color: #ccc !important; }
#goal_current_round, #goal_title, #goal_forecast_option, .wsp_aviarycounter_turnsleft,
.player_board_content, .wsp_playerboard_card_icon, .player_score_value, #discard_label, #birdtray_label, .wsp_scoresheet_text { color: var(--light-80); }
#goal_appendix { color: var(--light-70); }
.wsp_playermat_opponent_label, .player_board_inner>.player-name, #player_board_inner_ffa500>.player-name,.wsp_player_ffa500>.wsp_playermat_opponent_label,
#player_board_inner_008000>.player-name,.wsp_player_008000>.wsp_playermat_opponent_label { text-shadow: 1px 0 2px #00000099,0 -1px 2px #00000099,0 1px 2px #00000099,-1px 0 2px #00000099 }
.wsp_birdtray_largecards #tray_img { background-color: var(--dark-10); }
#goal_board_img, .wsp_card_ontray, .wsp_playermat_img, .wsp_tooltip_bird_img, .wsp_card_aviary, #bird_discard,
#bird_draw, #bonus_discard, #bonus_draw, #logs .wsp_card_notif, .wsp_tooltip_bonus_img, .wsp_dice { filter: brightness(0.9); }
#wsp_show_underlay { background-color: #000; }
#goal_forecast_option_checkbox, #birdtray_zoom, .fa-star:not(.rating_star), #feeder_outside, .wsp_scoresheet_img, .wsp_scoresheet_img > * { filter: invert(1); }
#feeder_outside > div { filter: brightness(0.9) invert(1); }
.wsp_scoresheet_img { box-shadow: 1px 1px 8px #fff; }
.wsp_scoresheet_name, .wsp_scoresheet_ffa500, .wsp_scoresheet_008000 { text-shadow: none; }
.wsp_scoresheet_counter { color: var(--light-80); text-shadow: none; }
