@import "../common";

#cde-floating-menu-score > .fa-star { background-image: none !important; filter: none !important; left: 0px; }
#cde-floating-menu-score > .fa-star:before { content: "\\f005" !important; }
