@import "../common";

#player_boards .tribeMember, #player_boards .hut { filter: var(--highlight-min); }
body { background: none !important; }
.handtile, #map_container .tile_art, #tile_in_title .tile_art { filter: brightness(0.9); }
