@import "../common";

#overall-content, #overall-content > * { filter: invert(1); }
.cn_player-board-first-player-token, .cn_icon { filter: var(--drop-shadow); }
.cn_placement { background-color: #80808066; }
#logs [style="color:blue;"] { color: #6666ff !important; }
#logs [style="color:purple;"] { color: #e600e5!important; }
#logs [style="color:green;"] { color: #00e600!important; }
#logs [style="color:red;"] { color: #f33!important; }
