@import "../common";

#board_area div[class^="player_name"] { background: var(--dark-30); border-radius: 8px; text-align: center; padding: 0.3em 0.5em; }
#board_area div[style^="color:#{PLAYER"] { display: none; }
#equipment_reference_header { color: #fff; }
.large_equipment_name, .large_equipment_effect { color: #000; }
