@import "../common";

.sta_boardBuildingCounter, .sta_boardCardCounter { color: #fff; }
#sta_adjustZoom,#sta_zoomIn,#sta_zoomOut { filter: invert(0.8) !important; }
#sta_adjustZoom:hover,#sta_zoomIn:hover,#sta_zoomOut:hover { filter: invert(1) drop-shadow(0 0 3px #fff) !important; }
#player_boards .sa_icon { filter: var(--drop-shadow); }
#diceboard { background-color: var(--dark-back); color: var(--light-80); border: 2px solid var(--dark-10); }
#sta_finalScore table, #sta_finalScore table * { border-color: var(--light-50) !important; }
.sta_auto_play_preference_box { background-color: #00224d; }
