@import "../common";

.card-stock .slot { background: var(--dark-back); }
.card-stock.event-slot .slot { background: var(--dark-20); }
.card-stock.event-slot .slot:nth-child(2n) { background: var(--dark-30); }
#settings-controls-container { background: var(--dark-10); }
