@import "../common";

#board:before { content: ""; background: #00000040; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
#characterInfo { background: var(--dark-back); }
.characterAbility { background: var(--dark-10); color: var(--light-80); }
.characterAbilityHeading, .characterName { color: var(--light-80); text-shadow: none; }
.action-button.act-btn--disabled { text-shadow: none !important; }
.action-button#xp-ChosenTokens { color: var(--light-80); }
.xpToken { border-radius: 50%; }
#bon-statusBar.visible { background: var(--blue-70); }
.playerZone .playerBoard, .biome { filter: brightness(0.9); }
.card, #playerHand .equipment, #playerHand .species, #playerHand--overlay .equipment, #playerHand--overlay .species { filter: brightness(0.9) drop-shadow(2px 2px 1px black); }
