@import "../common";

#player_board_id:before { content: ""; background: #00000060; position: absolute; width: 100%; height: 100%; border-radius: 4px; }
#team_board_id { background-color: var(--dark-20) !important; }
.board_font { color: var(--light-80); }
.unit, .unit_popup { filter: brightness(0.9); }
