.aero-jail {
	color: var(--blue-70);
}

.aero-box .aero-dices .aero-dices-lock .aero-dices-lock-icon {
	background: var(--blue-70);
}

.aero-box .aero-dices .aero-dices-lock {
	border-color: var(--blue-70);
}