@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; }
#overall-content { color: var(--light-80); }
#zone_market { background-color: var(--dark-back); }
.ma_zone_nobg { margin-top: 1px; }
.ma_zone_player_1, .ma_zone_playername_1 span { background-color: #684c5c; }
.ma_zone_player_2, .ma_zone_playername_2 span { background-color: #5c5250; }
.ma_zone_player_3, .ma_zone_playername_3 span { background-color: #56604f; }
.ma_zone_player_4, .ma_zone_playername_4 span { background-color: #726745; }
.ma_zone_player_5, .ma_zone_playername_5 span { background-color: #405b68; }
#player_board_config { background-color: var(--dark-40) !important; margin-bottom: 0.5em; }
.ma_header_buttons { filter: invert(1); }
.ma_popup_cards { background-color: var(--dark-20); }
#ma_event_title { color: var(--light-70); }
.ma_lineinfo_event { border: 1px solid var(--light-50); }
