@import "../common";

#warp { filter: invert(1); }
.dimmedbutton div { background-color: #1d2023; }
.pieceschoice, .piecesicon, .piecesdiff, .upgradeddiff { filter: var(--drop-shadow); }
.highform, .stockitem { filter: brightness(0.9); }
