@import "../common";

#page-title { z-index: 1050; }
#common_table, #player_hand, .bar-container { background-color: var(--dark-back)!important; }
.card-header { color: var(--light-80)!important; }
.day li.grid-cell { border-color: var(--light-50)!important; }
