@import "../common";

#decrev_player_name, .bgann_dealerindicator { color: #fff !important; }
.bgann_firstplayer { border: 2px dashed var(--light-80); }
.bgann_icon { filter: var(--highlight-min); }
.bgann_trump_black, .bgann_trump_none { text-shadow: var(--text-w-shadow); }
