.dgt_columnLabel:nth-child(odd),
.dgt_rowLabel:nth-child(2n) {
	background-color: var(--dark-10);
}

.dgt_columnLabel:nth-child(2n),
.dgt_rowLabel:nth-child(odd) {
	background-color: var(--dark-40);
}

.dgt_lineMarker-confirmed {
	-webkit-text-stroke: initial;
	color: var(--red-30);
}

.dgt_digitLabel {
	background-color: var(--dark-10);
	color: var(--light-80);
}

#bga-zoom-wrapper #bga-zoom-controls {
	filter: invert(0.9);
}