@import "../common";

.fled_pile,
.fled_inventory-slot {
	border: .1rem dotted var(--light-70);
}

.fled_pile label {
	color: var(--light-70);
}

.fled_inventory-slot:before {
	opacity: .2;
}

.fled_board-button {
	background-color: var(--dark-10);
	border: .1em solid var(--light-80);
	color: var(--light-80);
	box-shadow: .2em .2em .2em rgb(255 255 255 / 20%);
}