@import "../common";

.wizLogColor { color: #000; }
.wizPrefDeckFantasy .wizLogColor1 { background-color: var(--orange-30); }
.wizPrefDeckFantasy .wizLogColor2 { background-color: var(--green-30); }
.wizPrefDeckFantasy .wizLogColor3 { background-color: var(--red-30); }
.wizPrefDeckFantasy .wizLogColor4 { background-color: var(--blue-10); }
.wizPrefDeckStandard .wizLogColor1, .wizPrefDeckMedieval .wizLogColor1, .wizPrefDeckStandard .wizLogColor3, .wizPrefDeckMedieval .wizLogColor1 { color: var(--red-30); }
.wizPrefDeckStandard .wizLogColor2, .wizPrefDeckStandard .wizLogColor4, .wizPrefDeckMedieval .wizLogColor2 { text-shadow: var(--text-w-shadow); }
.wizPrefDeckMedieval .wizLogColor3 { color: var(--violet-80); }
.wizPrefDeckMedieval .wizLogColor4 { color: var(--green-30); }
.card .card-sides .card-side, #wizTrumpSelectionColor, #wizScorePad { filter: brightness(0.9); }
