@import "../common";

.prk_player_tiles { background-color: var(--dark-30); border-top: 4px groove var(--dark-40); }
#deadpool { background-color: var(--dark-40); }
.prk_permission_box[style="background-color: #E53738;"] { background-color: var(--red-10) !important; }
.prk_permission_box[style="background-color: #FFF;"] { background-color: var(--light-70) !important; }
.prk_permission_box[style="background-color: #E5A137;"] { background-color: var(--orange-30) !important; }
.dijitTooltipContainer  [style="background-color: #DAE3EA;"] { background-color: var(--dark-20) !important; }
.prk_location_vp_text {  background-color: var(--dark-30); }
.dijitTooltipContainer h2 { color: #000; }
.dijitTooltipContainer hr { display: none; }
