@import "../common";

.cng_firstplayer { filter: var(--highlight); }
.cng_token,  .player_score > i { filter: var(--drop-shadow); }
.cng_playerboard_counter { filter: invert(1); }
#pagemaintitletext > span { background-color: transparent !important; }
#timeline_block, #deptboard, .cng_company_block { background-color: #0a292980; color: #fff; }
.cng_company_label { background: var(--dark-20); color: #fff; border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
.cng_companyboard_counter { color: var(--light-70); text-shadow: none; }
