@import "../common";

#cde-floating-menu-score > .fa-star { background-image: none !important; }
#cde-floating-menu-score > .fa-star:before { content: "\\f005" !important; }
.logs_on_floating_panel .player-board { background-color: #97a09b; }
