@import "../common";

.playertable_ff0000 { background-color: #1a000080 !important; background-image: none !important; }
.playertable_008000 { background-color: #001a0080 !important; background-image: none !important; }
.playertable_0000ff { background-color: #00001a80 !important; background-image: none !important; }
.playertable_f07f16 { background-color: #180c0280 !important; background-image: none !important; }
.playertable_982fff { background-color: #0d001a80 !important; background-image: none !important; }
.playertable_72c3b1 { background-color: #08121080 !important; background-image: none !important; }
#player_boards .white_text_shadow { text-shadow: none; }
