@import "../common";

.scv-pile-count { color: #fff; }
.dijitTooltipContents,.standard_popin { filter: none; color: var(--light-80); }
.dijitTooltipContents .scv-icon, .standard_popin .scv-icon, .scv-card-stats .scv-card-stat.scv-card-stat-add .scv-card-stat-value { filter: none; }
.dijitTooltipContents h3:before, .standard_popin h3:before { background-color: #fff; border: 2px solid #fff; color: #000; }
