@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
.log, .roundedbox { background-image: none; }
.player_board_inner .player-name a { text-shadow: none; }
