#chatbar .chatwindowcollapsed {
  background: var(--dark-10);
  color: var(--light-80);
}

#chatbar .chatwindowcollapsed .chatwindowcollapsedtitle {
  color: var(--light-80);
}

#chatbar .chatwindowlogs_zone {
  background: var(--dark-40);
  color: var(--light-80);
}

#chatbar .chatwindowlogs_zone .roundedbox {
  background-image: none;
}

#chatbar .chatwindowlogs_zone .roundedboxinner,
#chatbar .cplayernotification_not_read {
  background: var(--dark-20);
  color: var(--light-80);
}

#chatbar .chatwindowmorelogs {
  background: var(--dark-40);
}

#chatbar .chatwindowlogs_zone .roundedboxinner .msgtime {
  color: var(--light-100);
}

#chatbar .timestamp,
#chatbar .bga-link {
  color: var(--light-80);
}

#chatbar .chatwindowexpanded {
  background: var(--dark-40);
  color: var(--light-80);
}

#chatbar #chatbarinput_stopnotif_general {
  background: var(--dark-40);
  color: var(--light-80);
}

#chatbar .chatbarinput_stopnotif input {
  margin-right: 7px;
}

#chatbar .whiteblock {
  color: var(--dark-10);
}

#chatbar .chatwindow .playername {
  display: inline !important;
}

#chatbar textarea {
  background: var(--dark-20);
  color: var(--light-80);
}

.chatbarbelowinput i,
.chatbarbelowinput .icon20_meeple_wb {
  filter: invert(70%);
}