:root {
  --dark-0: #000000;
  --dark-10: #1d2023;
  --dark-20: #272a2f;
  --dark-30: #35373c;
  --dark-40: #404347;

  --blue-10: #003b85;
  --blue-50: #7289da;
  --blue-80: #11a9bb;

  --red-10: #993333;
  --red-50: #ff0000;

  --green-10: #01663a;
  --green-30: #009e0a;
  --green-50: #00ff00;

  --yellow-10: #996300;

  --violet-60: #5a4275;
  --violet-80: #8f5fbd;

  --orange-10: #383b1b;

  --light-70: #ccc;
  --light-80: #dcddde;
  --light-100: #ffffff;

  --highlight-max: drop-shadow(0px 0px 8px #fff);
  --highlight: drop-shadow(0px 0px 4px #fff);
  --highlight-min: drop-shadow(0px 0px 1px #fff);
}

.bgabutton_red {
  background: linear-gradient(180deg, #db661f, #84461f);
}

.bgabutton_red:hover,
.notouch-device .bgabutton_red:hover {
  background: linear-gradient(180deg, #ff8e47, #84461f)
}

.bgabutton_red:active,
.notouch-device .bgabutton_red:active {
  background: linear-gradient(180deg, #84461f, #db661f)
}

.bgabutton_blue {
  background: linear-gradient(180deg, #0ba9b7, #248189);
}

.bgabutton_blue:hover,
.notouch-device .bgabutton_blue:hover {
  background: linear-gradient(180deg, #06d7ea, #248189)
}

.bgabutton_blue:active,
.notouch-device .bgabutton_blue:active {
  background: linear-gradient(180deg, #248189, #0ba9b7)
}

/* Modales et popin */
.standard_popin,
.bga-popup-modal__content,
.bga-popup-modal__content [class*=bg-bga-graybg],
.bga-popup-modal__content [class*=text-bga-gray] {
  background: var(--dark-10);
  color: var(--light-80);
}

.bga-popup-modal [class*=bg-bga-gray] {
  background-color: transparent;
}

.bga-popup-modal .bga-popup-modal__content {
  padding: 10px;
}

.bga-popup-modal__content [class*=bg-bga-graybg] .whiteblock {
  background: var(--dark-40);
}

.bga-popup-modal__content .bga-checkbox__label [slot=label] {
  color: var(--light-80);
}

.bga-popup-modal__content .bga-checkbox--checked .bga-checkbox .bga-checkbox__checkmark * {
  color: var(--light-80);
}

.standard_popin_underlay {
  background: var(--dark-40);
}

.standard_popin_closeicon,
.standard_popin_helpicon {
  color: #aaa !important;
}

.notouch-device .standard_popin_closeicon:hover,
.notouch-device .standard_popin_helpicon:hover {
  color: #fff !important;
}