:root {
  --dark-0: #000000;
  --dark-10: #1d2023;
  --dark-20: #272a2f;
  --dark-30: #35373c;
  --dark-40: #404347;

  --blue-10: #003b85;
  --blue-50: #7289da;
  --blue-80: #11a9bb;

  --red-10: #993333;
  --red-50: #ff0000;

  --green-10: #01663a;
  --green-30: #009e0a;
  --green-50: #00ff00;

  --violet-60: #5a4275;
  --violet-80: #8f5fbd;

  --orange-10: #383b1b;

  --light-70: #ccc;
  --light-80: #dcddde;
  --light-100: #ffffff;

  --highlight-max: drop-shadow(0px 0px 8px #fff);
  --highlight: drop-shadow(0px 0px 4px #fff);
  --highlight-min: drop-shadow(0px 0px 1px #fff);
}