:root {
  --dark-back: #272a2fbf;
}

.gamestart_overlay {
  background: none var(--dark-20);
  color: var(--light-80);
}

#topbar,
#page-title,
.current_player_is_active #page-title,
.gamestate_gameEnd #page-title {
  background: var(--dark-10) !important;
  color: var(--light-80);
}

#ingame_menu_content {
  background: var(--dark-30);
  color: var(--light-100);
}

#ingame_menu_content a {
  color: var(--light-100);
}

.ingame_menu_item {
  color: var(--light-100) !important;
}

.ingame_menu_item:hover {
  color: var(--violet-80) !important;
}

.player-board {
  color: var(--light-80);
}

html.darkpanel .player-board,
html.darkpanel .player-board .roundedboxinner,
html.darkpanel .player-board .roundedboxinner b,
.player-board .roundedbox_main,
.player-board .roundedbox_topleft,
.player-board .roundedbox_topmain,
.player-board .roundedbox_topright,
.player-board .roundedbox_bottomleft,
.player-board .roundedbox_bottommain,
.player-board .roundedbox_bottomright {
  background: var(--dark-20) !important;
}

.log .roundedbox .playername {
  display: inline !important;
}

#logs .log .roundedbox {
  background: var(--dark-10);
  color: var(--light-80);
  text-shadow: none;
}

#logs .log .timestamp {
  color: var(--light-80);
}

#logs .log:hover .timestamp {
  background: var(--dark-40);
}

#logs span[style="color:black"] {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bgabutton_gray {
  background-color: var(--dark-40) !important;
  color: var(--light-80) !important;
}

.bgabutton_gray:hover {
  background-color: var(--dark-40) !important;
  color: var(--violet-80) !important;
}

.pagesection {
  background: var(--dark-20);
  color: var(--light-80);
}

.pagesection .whiteblock {
  background: none var(--dark-40);
}

#pagesection_gameview .whiteblock {
  background: var(--dark-back);
  color: white;
}

.pagesection h2,
.pagesection h3 {
  background: var(--dark-10);
  color: var(--light-80);
}

.pagesection .bga-link {
  color: var(--blue-80);
}

.pagesection .bga-link:hover {
  color: var(--violet-80);
}

.pagesection .icon20_stat {
  filter: invert(0.7);
}

.preference_control {
  background: var(--dark-40);
  color: var(--light-80);
}

.chatwindowtype_table .chatbarbelowinput_item {
  color: var(--light-80);
}

.chatwindowtype_table .chatbarbelowinput_item:hover {
  color: var(--violet-80);
}

#loader_mask {
  background: var(--dark-40);
}

a.replay_last_move_button {
  color: var(--light-80) !important;
}

a.replay_last_move_button:hover {
  color: var(--dark-20) !important;
}

span.playername,
#pagemaintitletext>span:first-child {
  background: transparent !important;
}

.icon32_replaylastmoves,
.ingame_menu_item .icon64,
.winpoints>img {
  filter: invert(0.7);
}

.notouch-device .ingame_menu_item:hover {
  background-color: transparent;
  color: var(--violet-80) !important;
}

#maingameview_menuheader,
#maingameview_menufooter {
  filter: invert(0.9);
}

.avatar_active,
#active_player_statusbar_icon {
  filter: drop-shadow(0px 0px 2px white);
}

.standard_popin_underlay {
  background-color: #000;
}

:root,
select,
input,
textarea {
  color-scheme: dark;
}

/* Menu flottant */
#right-side-second-part {
  background: black !important;
}

.player-board .player-hand-card {
  filter: invert(0.7);
}

#seemorelogs {
  filter: grayscale(1);
}

/* tournament (to complete) */

#tournament-module {
  color: var(--light-80);
}