:root {
  --dark-back: #272a2fbf;
}

.gamestart_overlay {
  background: none var(--dark-20);
  color: var(--light-80);
}

#topbar,
#page-title,
.current_player_is_active #page-title,
.gamestate_gameEnd #page-title {
  background: var(--dark-10) !important;
  color: var(--light-80);
}

#ingame_menu_content {
  background: var(--dark-30);
  color: var(--light-100);
}

#ingame_menu_content a {
  color: var(--light-100);
}

.ingame_menu_item {
  color: var(--light-100) !important;
}

.ingame_menu_item:hover {
  color: var(--violet-80) !important;
}

.player-board {
  color: var(--light-80);
}

html.darkpanel .player-board,
.player-board .roundedbox_main,
.player-board .roundedbox_topleft,
.player-board .roundedbox_topmain,
.player-board .roundedbox_topright,
.player-board .roundedbox_bottomleft,
.player-board .roundedbox_bottommain,
.player-board .roundedbox_bottomright {
  background: var(--dark-20) !important;
}

.log .roundedbox .playername {
  display: inline !important;
}

#logs .log .roundedbox {
  background: var(--dark-10);
  color: var(--light-80);
}

#logs .log .timestamp {
  color: var(--light-80);
}

#logs .log:hover .timestamp {
  background: var(--dark-40);
}

#logs span[style="color:black"] {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bgabutton_gray {
  background-color: var(--dark-40) !important;
  color: var(--light-80) !important;
}

.bgabutton_gray:hover {
  background-color: var(--dark-40) !important;
  color: var(--violet-80) !important;
}

.pagesection {
  background: var(--dark-20);
  color: var(--light-80);
}

.pagesection .whiteblock {
  background: none var(--dark-40);
}

#pagesection_gameview .whiteblock {
  background: var(--dark-back);
  color: white;
}

.pagesection h2,
.pagesection h3 {
  background: var(--dark-10);
  color: var(--light-80);
}

.pagesection .bga-link {
  color: var(--blue-80);
}

.pagesection .bga-link:hover {
  color: var(--violet-80);
}

.pagesection .icon20_stat {
  filter: invert(0.7);
}

.preference_control {
  background: var(--dark-40);
  color: var(--light-80);
}

.chatwindowtype_table .chatbarbelowinput_item {
  color: var(--light-80);
}

.chatwindowtype_table .chatbarbelowinput_item:hover {
  color: var(--violet-80);
}

#loader_mask {
  background: var(--dark-40);
}

a.replay_last_move_button {
  color: var(--light-80) !important;
}

a.replay_last_move_button:hover {
  color: var(--dark-20) !important;
}

[style*=";color:#000000"],
[style*=";color: #000000"],
[style*="; color:#000000"],
[style*="; color: #000000"],
[style^="color:#000000"],
[style^="color: #000000"],
[style*=";color:#101820"],
[style*=";color: #101820"],
[style*="; color:#101820"],
[style*="; color: #101820"],
[style^="color:#101820"],
[style^="color: #101820"],
[style*=";color:#123888"],
[style*=";color: #123888"],
[style*="; color:#123888"],
[style*="; color: #123888"],
[style^="color:#123888"],
[style^="color: #123888"],
[style*=";color:#1e2e3d"],
[style*=";color: #1e2e3d"],
[style*="; color:#1e2e3d"],
[style*="; color: #1e2e3d"],
[style^="color:#1e2e3d"],
[style^="color: #1e2e3d"],
[style*=";color:#404040"],
[style*=";color: #404040"],
[style*="; color:#404040"],
[style*="; color: #404040"],
[style^="color:#404040"],
[style^="color: #404040"],
[style*=";color:#272c29"],
[style*=";color: #272c29"],
[style*="; color:#272c29"],
[style*="; color: #272c29"],
[style^="color:#272c29"],
[style^="color: #272c29"],
[style*=";color:#3d1303"],
[style*=";color: #3d1303"],
[style*="; color:#3d1303"],
[style*="; color: #3d1303"],
[style^="color:#3d1303"],
[style^="color: #3d1303"],
[style*=";color:#2D2926"],
[style*=";color: #2D2926"],
[style*="; color:#2D2926"],
[style*="; color: #2D2926"],
[style^="color:#2D2926"],
[style^="color: #2D2926"],
[style*=";color:#3b3232"],
[style*=";color: #3b3232"],
[style*="; color:#3b3232"],
[style*="; color: #3b3232"],
[style^="color:#3b3232"],
[style^="color: #3b3232"] {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

[style*=";color:#0000ff"],
[style*=";color: #0000ff"],
[style*="; color:#0000ff"],
[style*="; color: #0000ff"],
[style^="color:#0000ff"],
[style^="color: #0000ff"],
[style="color: rgb(0, 0, 255);"] {
  color: #8080ff !important;
}

[style*=";color:#982fff"],
[style*=";color: #982fff"],
[style*="; color:#982fff"],
[style*="; color: #982fff"],
[style^="color:#982fff"],
[style^="color: #982fff"] {
  color: #bf80ff !important;
}

[style*=";color:#1863a5"],
[style*=";color: #1863a5"],
[style*="; color:#1863a5"],
[style*="; color: #1863a5"],
[style^="color:#1863a5"],
[style^="color: #1863a5"] {
  color: #8fc2ef !important;
}

[style*=";color:#0000dd"],
[style*=";color: #0000dd"],
[style*="; color:#0000dd"],
[style*="; color: #0000dd"],
[style^="color:#0000dd"],
[style^="color: #0000dd"] {
  color: #8080ff !important;
}

[style*=";color:#442df0"],
[style*=";color: #442df0"],
[style*="; color:#442df0"],
[style*="; color: #442df0"],
[style^="color:#442df0"],
[style^="color: #442df0"] {
  color: #9588f7 !important;
}

[style*=";color:#2a05df"],
[style*=";color: #2a05df"],
[style*="; color:#2a05df"],
[style*="; color: #2a05df"],
[style^="color:#2a05df"],
[style^="color: #2a05df"] {
  color: #5837fb !important;
}

[style*=";color:#ff0000"],
[style*=";color: #ff0000"],
[style*="; color:#ff0000"],
[style*="; color: #ff0000"],
[style^="color:#ff0000"],
[style^="color: #ff0000"],
[style="color: rgb(255, 0, 0);"] {
  color: #ff3333 !important;
}

[style*=";color:#800000"],
[style*=";color: #800000"],
[style*="; color:#800000"],
[style*="; color: #800000"],
[style^="color:#800000"],
[style^="color: #800000"] {
  color: #cc0000 !important;
}

[style*=";color:#1a355e"],
[style*=";color: #1a355e"],
[style*="; color:#1a355e"],
[style*="; color: #1a355e"],
[style^="color:#1a355e"],
[style^="color: #1a355e"] {
  color: #3771c8 !important;
}

[style*=";color:#4e186f"],
[style*=";color: #4e186f"],
[style*="; color:#4e186f"],
[style*="; color: #4e186f"],
[style^="color:#4e186f"],
[style^="color: #4e186f"] {
  color: #932ed1 !important;
}

[style*=";color:#325089"],
[style*=";color: #325089"],
[style*="; color:#325089"],
[style*="; color: #325089"],
[style^="color:#325089"],
[style^="color: #325089"] {
  color: #446ebb !important;
}

[style*=";color:#044396"],
[style*=";color: #044396"],
[style*="; color:#044396"],
[style*="; color: #044396"],
[style^="color:#044396"],
[style^="color: #044396"] {
  color: #066ff9 !important;
}

[style*=";color:#003377"],
[style*=";color: #003377"],
[style*="; color:#003377"],
[style*="; color: #003377"],
[style^="color:#003377"],
[style^="color: #003377"] {
  color: #006eff !important;
}

[style*=";color:#0000aa"],
[style*=";color: #0000aa"],
[style*="; color:#0000aa"],
[style*="; color: #0000aa"],
[style^="color:#0000aa"],
[style^="color: #0000aa"] {
  color: #006eaa !important;
}

[style*=";color:#773300"],
[style*=";color: #773300"],
[style*="; color:#773300"],
[style*="; color: #773300"],
[style^="color:#773300"],
[style^="color: #773300"] {
  color: #b34d00 !important;
}

[style*=";color:#5D0075"],
[style*=";color: #5D0075"],
[style*="; color:#5D0075"],
[style*="; color: #5D0075"],
[style^="color:#5D0075"],
[style^="color: #5D0075"] {
  color: #8f00b3 !important;
}

[style*=";color:#6c3161"],
[style*=";color: #6c3161"],
[style*="; color:#6c3161"],
[style*="; color: #6c3161"],
[style^="color:#6c3161"],
[style^="color: #6c3161"] {
  color: #9e478e !important;
}

[style*=";color:#483d8b"],
[style*=";color: #483d8b"],
[style*="; color:#483d8b"],
[style*="; color: #483d8b"],
[style^="color:#483d8b"],
[style^="color: #483d8b"] {
  color: #7c71c1 !important;
}

span.playername,
#pagemaintitletext>span:first-child {
  background: transparent !important;
}

.icon32_replaylastmoves,
.ingame_menu_item .icon64,
.winpoints>img {
  filter: invert(0.7);
}

.notouch-device .ingame_menu_item:hover {
  background-color: transparent;
  color: var(--violet-80) !important;
}

#maingameview_menuheader,
#maingameview_menufooter {
  filter: invert(0.9);
}

.avatar_active,
#active_player_statusbar_icon {
  filter: drop-shadow(0px 0px 2px white);
}

/* Menu flottant */
#right-side-second-part {
  background: black !important;
}

.player-board .player-hand-card {
  filter: invert(0.7);
}

#seemorelogs {
  filter: grayscale(1);
}

/* tournament (to complete) */

#tournament-module {
  color: var(--light-80);
}