:root {
  --dark-back: #272a2fbf;
  --drop-shadow: drop-shadow(2px 2px 1px #000) drop-shadow(0 0 2px #fff);
  --drop-shadow-min: drop-shadow(1px 1px 1px #000) drop-shadow(0 0 1px #fff);
  --text-w-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

:root,
select,
input,
textarea {
  color-scheme: dark;
}

.gamestart_overlay {
  background: none var(--dark-20);
  color: var(--light-80);
}

#topbar,
#page-title,
.current_player_is_active #page-title,
.gamestate_gameEnd #page-title {
  background: var(--dark-10) !important;
  color: var(--light-80);
}

#ingame_menu_content {
  background: var(--dark-30);
  color: var(--light-100);
}

#ingame_menu_content a {
  color: var(--light-100);
}

.ingame_menu_item {
  color: var(--light-100) !important;
}

.ingame_menu_item:hover {
  color: var(--violet-80) !important;
}

.player-board {
  color: var(--light-80);
}

html.darkpanel .player-board,
html.darkpanel .player-board .roundedboxinner,
html.darkpanel .player-board .roundedboxinner b,
.player-board .roundedbox_main,
.player-board .roundedbox_topleft,
.player-board .roundedbox_topmain,
.player-board .roundedbox_topright,
.player-board .roundedbox_bottomleft,
.player-board .roundedbox_bottommain,
.player-board .roundedbox_bottomright {
  background: var(--dark-20) !important;
}

.log .roundedbox .playername {
  display: inline !important;
}

#logs .log .roundedbox {
  background: var(--dark-10);
  color: var(--light-80);
  text-shadow: none;
}

#logs .log .timestamp {
  color: var(--light-80);
}

#logs .log:hover .timestamp {
  background: var(--dark-40);
}

#logs span[style="color:black"] {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#logs .timestamp {
  text-shadow: none;
}

.log_replayable:hover {
  background-color: #130d06
}

.bgabutton_gray {
  background-color: var(--dark-40) !important;
  color: var(--light-80) !important;
}

.bgabutton_gray:hover {
  background-color: var(--dark-40) !important;
  color: var(--light-70) !important;
}

.bgabutton_red,
.notouch-device .bgabutton_red:hover {
  background: #db661f;
}

.bgabutton_blue,
.notouch-device .bgabutton_blue:hover {
  background: #39838a;
}

.pagesection {
  background: var(--dark-20);
  color: var(--light-80);
}

.pagesection .whiteblock {
  background: none var(--dark-40);
}

#pagesection_gameview .whiteblock,
#table-decision,
#neutralized_game_panel {
  background: var(--dark-back);
  color: white;
}

#log_history_status {
  background-color: var(--dark-20);
}

#log_history_status div[class^="roundedbox"] {
  background-color: transparent;
}

#log_history_status .ui-progress-bar {
  background-color: var(--dark-40);
}

#log_history_status .ui-progress {
  background-color: #3b7920;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1rem, hsl(0deg 0% 100% / 10%) 0, hsl(0deg 0% 100% / 10%) 2rem);
}

#log_history_status_text {
  color: var(--light-70);
}

#logs [style^="color:#000000"],
#logs [style="color:#000"],
#logs [style$=";color:#000"] {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.pagesection h2,
.pagesection h3 {
  background: var(--dark-10);
  color: var(--light-80);
}

.pagesection .bga-link {
  color: var(--blue-80);
}

.pagesection .bga-link:hover {
  color: var(--violet-80);
}

.pagesection .icon20_stat {
  filter: invert(0.7);
}

.preference_control {
  background: var(--dark-40);
  color: var(--light-80);
}

.chatwindowtype_table .chatbarbelowinput_item {
  color: var(--light-80);
}

.chatwindowtype_table .chatbarbelowinput_item:hover {
  color: var(--violet-80);
}

#loader_mask {
  background: var(--dark-40);
}

a.replay_last_move_button {
  color: var(--light-80) !important;
}

a.replay_last_move_button:hover {
  color: var(--dark-20) !important;
}

span.playername,
#pagemaintitletext>span:first-child {
  background: transparent !important;
}

.icon32_replaylastmoves,
.ingame_menu_item .icon64,
.winpoints>img {
  filter: invert(0.7);
}

.notouch-device .ingame_menu_item:hover {
  background-color: transparent;
  color: var(--violet-80) !important;
}

#maingameview_menuheader,
#maingameview_menufooter {
  filter: invert(0.9);
}

.avatar_active,
#active_player_statusbar_icon {
  filter: drop-shadow(0px 0px 2px white);
}

/* popups */

.standard_popin {
  background: var(--dark-20);
}

.standard_popin_underlay {
  background-color: #000;
}

.tableWindow td {
  border-bottom: 1px solid #ccc;
  color: var(--light-70);
}

.tableWindow td [style="color:black"] {
  text-shadow: var(--text-w-shadow);
}

.tableWindow tbody tr:hover td {
  color: var(--light-100);
}

.tableWindow th {
  border-bottom: 2px solid #cccccc;
  color: #3377ff;
}

/* Menu flottant */
#right-side-second-part {
  background: black !important;
}

.player-board .player-hand-card {
  filter: invert(0.7);
}

#seemorelogs {
  filter: grayscale(1);
}

/* Hide the "You may note something for next time..." popup that would appear during round end, hiding the score and animation. */
#turnBasedNotesIncent {
  display: none;
}

/* tooltips */

.dijitTooltipContainer {
  background-image: none !important;
  background-color: #373737 !important;
  border: 1px solid #7c7c7c !important;
  color: var(--light-80);
}

.dijitTooltipContainer>div,
.dijitTooltipContainer>div>div {
  background-color: transparent !important;
}

.tooltipcontainer,
.tundra .dijitTooltipContainer {
  color: var(--light-80);
}

.dijitTooltipConnector {
  filter: invert(0.8) grayscale(1);
}

.dijitTooltipContainer .black {
  text-shadow: var(--text-w-shadow);
}

.dijitTooltipContainer .blue {
  color: #6666ff !important;
}

.dijitTooltipContainer .red {
  color: #ff3333 !important;
}

.dijitTooltipContainer .imgtext {
  filter: var(--highlight);
}

.dijitTooltipContainer .imgtext[src$="/img/layout/help_info.png"] {
  content: url("chrome-extension://__MSG_@@extension_id__/img/dark_theme/tooltip/help_info.png");
  filter: none;
  padding-bottom: 3px;
}

.dijitTooltipContainer .icon.help,
.dijitTooltipContainer .icon_help {
  background-color: transparent;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/dark_theme/tooltip/help_info.png");
}

.help-marker {
  color: #000;
}

.male {
  color: #6666ff;
}

.female {
  color: #ff33a0;
}

/* Tisaac games settings */

#player_config #help-mode-switch .label,
.player_config_row #help-mode-switch .label {
  background-color: #697061;
}

#player_config #help-mode-switch svg,
#player_config #help-mode-switch svg *,
.player_config_row #help-mode-switch svg {
  /* question mark icon */
  width: 27px;
  color: #fff;
}

#player_config #show-settings svg {
  color: #fff;
}

#settings-controls-container #settings-controls-header div {
  background: #4e3b27;
  color: var(--light-80);
}

#settings-controls-container .row-data .row-label,
#layout-controls-container .row-data .row-label {
  color: #fff;
}

#settings-controls-container .row-data label.switch .slider {
  background-color: #697061;
}

#settings-controls-container .row-data label.switch input:checked+.slider {
  background-color: #39838a;
}

#popin_showSettings,
#popin_showTour {
  background-color: #62411e;
}

#popin_showSettings h2,
#popin_showTour h2 {
  background: #433423;
  color: #fff;
}

.noUi-target {
  background: #444;
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 1px #444, 0 3px 6px -5px #aaa;
}

.noUi-handle {
  background: #444;
  border: 1px solid #d9d9d9;
  box-shadow: inset 0 0 1px #000, inset 0 1px 7px #aaa, 0 3px 6px -3px #333;
}

#popin_showSettings_close,
#popin_showTour_close {
  background-color: #62411e !important;
}

#popin_showTour #tour-slider-container .slide .bubble,
#popin_showTour #tour-slider-container .slide .bubble-tour {
  background: #433423;
  color: var(--light-80);
}

#popin_showTour #tour-slider-container .slide .bubble:before,
#popin_showTour #tour-slider-container .slide .bubble-tour:before {
  filter: var(--drop-shadow);
}

#popin_showTour #tour-slide-footer {
  background-color: #433423;
  color: var(--light-80);
}

#popin_showTour #tour-slider-container .slide {
  color: var(--light-80);
}

#popin_showTour #tour-slider-container .slide .tour-remark {
  background: #00000066;
  color: var(--light-80);
}

div[id*="popin"][id$="underlay"] {
  background-color: #000 !important;
}

/* tournament (to complete) */

#tournament-module {
  color: var(--light-80);
}