:root {
  color-scheme: dark;
}

.loading_icon,
#loading,
#overall_loading {
  filter: invert(0.7) grayscale(1);
}

/* Formulaires */
input,
input:focus,
textarea,
select {
  color-scheme: dark;
  background: var(--dark-40);
  color: var(--light-80);
  border: 1px solid #b3b3b3;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  border: 1px solid #fff;
}

.tundra .dijitSelectFocused,
.tundra .dijitTextBoxFocused,
.tundra .dijitSelectFocused TD,
.tundra .dijitTextBoxFocused .dijitButtonNode,
.tundra .dijitDialog,
.tundra .dijitTooltipContainer,
.tundra .dijitMenu,
.tundra .dijitMenuBar,
.tundra .dijitSelectFocused TD,
.tundra .dijitTextBoxFocused .dijitButtonNode,
.tundra .dijitButtonActive .dijitButtonNode,
.tundra .dijitButtonContentsActive,
.tundra .dijitDownArrowButtonActive,
.tundra .dijitDropDownButtonActive .dijitButtonNode,
.tundra .dijitStackController .dijitToggleButtonChecked .dijitButtonNode,
.tundra .dijitToggleButtonActive .dijitButtonNode,
.tundra .dijitUpArrowButtonActive .dijitColorPalette {
  border-color: #fff;
}

.tundra .dijitButtonHover .dijitButtonNode,
.tundra .dijitButtonNodeHover,
.tundra .dijitComboButton .dijitButtonContentsHover,
.tundra .dijitComboButton .dijitDownArrowButtonHover,
.tundra .dijitDropDownButtonHover .dijitButtonNode,
.tundra .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitSelectHover,
.tundra .dijitSelectHover TD,
.tundra .dijitComboBoxHighlightMatch {
  border-color: #fff;
}

.tundra .dijitSelectHover,
.tundra .dijitSelectHover TD {
  background: none;
  border-color: #fff !important;
}

.tundra .dijitSelectActive,
.tundra .dijitSelectActive TD,
.tundra .dijitSelectOpened,
.tundra .dijitSelectOpened TD {
  border-color: #fff !important;
}

.tundra .dijitComboBoxHighlightMatch {
  background-color: var(--dark-40);
}

.board_fake_input {
  filter: invert(1);
}

.extended_message_hidden:after {
  background: linear-gradient(180deg, hsla(0, 0%, 95%, 0), var(--dark-10));
}

.bga-popup-modal__content .bga-textfield {
  background-color: var(--dark-40) !important;
}

select.colorselector {
  color: var(--dark-40);
}

.dijitSelect input.dijitInputField {
  filter: invert(1);
  background-color: transparent !important;
}

.dijitMenuItem {
  background-color: var(--dark-10);
  color: var(--light-80);
}

.bga-lobby-table-item__bg {
  background: linear-gradient(to bottom, var(--dark-10) 0%, var(--dark-30) 89%, var(--dark-40) 100%) !important;
}

.bga-lobby-table-item__pointer stop[stop-color="#e8e8e8"] {
  stop-color: var(--dark-10) !important;
}

.bga-lobby-table-item__pointer stop[stop-color="#c4c4c4"] {
  stop-color: var(--dark-30) !important;
}

.bga-lobby-table-item__pointer stop[stop-color="#b6b6b6"] {
  stop-color: var(--dark-40) !important;
}

.bga-lobby-table-item-wrap>div:last-child {
  background: none !important;
}

.desktop_version .season-progress-bar-wrap {
  background-color: var(--dark-10);
}

.season-progress-histogram-bar {
  background-color: #1d202333;
}

#close_arena_tuto {
  color: #fff;
}

.bga-invite-player-modal__content {
  background: linear-gradient(180deg, var(--dark-20) 0px, var(--dark-20) 7px) !important;
}

.bga-invite-player-modal__table-link {
  background: linear-gradient(to top, var(--dark-30) 0%, var(--dark-30) 100%) !important;
}

.bga-invite-player-modal__content .bga-hover-for-list:hover,
.bga-toast-holder .bga-hover-for-list:hover {
  background: linear-gradient(180deg, var(--dark-30) 20%, var(--dark-30) 80%) !important;
}

.bga-invite-player-modal__content .icon32_hotseat {
  filter: invert(1);
}

/* Liens */
.bga-link,
.bga-link .pagesection__content,
a.gamename {
  color: var(--blue-80);
}

.bga-link:hover,
.bga-link:hover .pagesection__content,
a.gamename:hover {
  color: var(--violet-80);
}

.bgaext_ratingdetails a {
  color: var(--blue-80);
  text-decoration: none;
}

.bgaext_ratingdetails a:hover {
  color: var(--violet-80);
  text-decoration: underline;
}

.bga-link-inside a:not(.playername, .gamename, .bgabutton) {
  color: var(--blue-80);
}

.bga-link-inside a:not(.playername, .gamename, .bgabutton):hover {
  color: var(--violet-80);
}

/* Accordéon */
.tabbed_slider_bar .tabbed_slider_bar_barcenter {
  background: var(--dark-10);
  color: var(--light-80);
}

.tabbed_slider_bar .tabbed_slider_bar_left,
.tabbed_slider_bar .tabbed_slider_bar_right {
  border-top-color: var(--dark-10);
}

/* Menus déroulants */
.bga-dropdown__options,
.sectiontitle_dropdown_menu {
  background: var(--dark-10);
  color: var(--light-80);
}

.text-bga-link {
  color: var(--blue-50);
}

/*.bga-dropdown__options .text-bga-link,*/
.bga-dropdown__options .optionRightIcon--set,
.sectiontitle_dropdown_menu a {
  color: var(--light-80);
}

/*.bga-dropdown__options .text-bga-link:hover,*/
.sectiontitle_dropdown_menu a:hover {
  background: var(--dark-40) !important;
}

/* Barre de menu */
#menubar,
#menubar-holder .bga-menu-bar {
  background: var(--dark-10);
  color: var(--light-80);
}

#menubar .bga-link,
#menubar-holder .bga-link {
  color: var(--light-80);
}

#menubar .bga-link:hover,
#menubar-holder .bga-link:hover {
  color: var(--violet-80);
}

#menubar-holder .bga-menu-subbar,
#menubar-holder .bga-sub-menu {
  background: var(--dark-40);
  color: var(--light-80);
}

#menubar-holder .bga-omni-bar input {
  background: var(--dark-40);
  color: var(--light-80);
}

.bga-mobile-sub-bar div.text-center {
  color: var(--light-80);
}

.bga-menu-bar-items.bga-mobile .bga-menu-bar-items__menu-item {
  background: var(--dark-20) !important;
}

.bga-menu-bar-items.bga-mobile .bga-menu-bar-items__menu-item--active {
  color: var(--violet-80) !important;
}

/* Barre de recherche */
.bga-omni-bar-panel-players__list .bga-player-tag-holder,
.bga-omni-bar-panel-groups__group {
  background-color: var(--dark-40) !important;
}

.bga-omni-bar-panel-players__list .bga-player-tag-holder .text-gray-500 {
  color: var(--light-80);
}

.bga-omni-bar-panel-players__list .bga-player-tag-holder .text-gray-500 a {
  color: var(--blue-50);
}

/* Liste d’amis */
.bga-friends-icon__dropdown {
  background: var(--dark-10);
  color: var(--light-80);
}

/* Barre personnelle */
.bga-player-menu {
  color: var(--light-80);
  background-color: var(--dark-40) !important;
}

.bga-player-menu .bg-bga-whitebg {
  background: var(--dark-10);
  color: var(--light-80);
}

.bga-player-menu .bga-hover-for-list:hover,
.bga-player-menu .bga-matchmaking-list-item:hover {
  background: none var(--orange-10) !important;
}

.bga-player-menu .bga-hover-for-list:hover .playername:hover,
.bga-player-menu .bga-hover-for-list:hover a,
.bga-player-menu .bga-hover-for-list a .gamename {
  color: var(--light-80);
}

.bga-player-menu .bga-player-menu__tab:hover,
.bga-player-menu .bga-player-menu__tab--active {
  color: var(--violet-80) !important;
}

.bga-player-menu .bga-player-menu__tab-indicator {
  background: var(--violet-80) !important;
}

.bga-player-menu .notification-unread {
  background: var(--violet-60) !important;
}

.bga-player-menu .notification-unread .notification-time {
  color: var(--light-80) !important;
}

.bga-table-list-item--searching {
  background: none var(--dark-10) !important;
}

/* Barres d’informations */
#connect_status,
#connect_status .roundedbox_main,
#connect_status .roundedbox_topleft,
#connect_status .roundedbox_topmain,
#connect_status .roundedbox_topright,
#connect_status .roundedbox_bottomleft,
#connect_status .roundedbox_bottommain,
#connect_status .roundedbox_bottomright {
  background: var(--dark-20);
  color: var(--light-80);
}

#head_infomsg {
  background: var(--dark-20);
  color: var(--light-80);
}

#head_infomsg .head_info {
  background: var(--dark-30);
  color: var(--light-80);
}

/* Messages et commentaires */
.comment {
  background: var(--dark-10);
  color: var(--light-80);
}

.post .postcontent a:not(.bgabutton_blue),
.post .newsfeed_target a,
.post .more_comment a,
.post .postfooter .comment_btn {
  color: var(--blue-50);
}

.post .postcontent a:not(.bgabutton_blue):hover,
.post .newsfeed_target a:hover,
.post .more_comment a:hover,
.post .postfooter .comment_btn:hover {
  color: var(--violet-80);
}

.post .postcontent a .gamename {
  color: var(--blue-50);
}

.post .postcontent a:hover .gamename {
  color: var(--violet-80);
}

/* Erreurs */
#bga_fatal_error {
  color: #fff;
  width: 95%;
  margin: auto;
  padding: 10px;
  background-color: var(--red-10);
}

#bga_fatal_error a {
  color: var(--blue-50);
}

#bga_fatal_error a:hover {
  color: var(--violet-80);
}

/* Amitiés */
.bga-link-inside[id*=boardposts_] .postimage:hover {
  z-index: 999;
}

/* Wiki */
.wikicontent h3 {
  margin-top: 20px;
}

/* Pages */
.pageheader {
  background: var(--dark-20);
  color: var(--light-80);
}

.pagesection__title {
  color: var(--light-80);
}

.pagesection__title .gamename {
  color: var(--blue-80);
}

.pagesection__title .gamename:hover {
  color: var(--violet-80);
}

.pagesection__content {
  background: var(--dark-10);
  color: var(--light-80);
}

.more_infos[style="color: black"] {
  color: var(--light-80) !important;
}

/* Invitations */
#expected_table_banners .expected_banner,
#tournament_inprogress_banners .expected_banner {
  background-color: var(--dark-10);
  color: var(--light-80);
}

/* Listes de jeux */
.bga-popup-modal__header {
  background: var(--dark-10) !important;
  color: var(--light-80) !important;
}

.bga-collection-management-modal .bga-collection-management__row {
  background-color: var(--dark-20) !important;
  color: var(--light-80) !important;
}

.bga-collection-management-modal .bga-collection-management__row:hover {
  background-color: var(--dark-40);
}

/* Page d’accueil */
.agenda .agenda-tournament-list__item,
.agenda .agenda-tournament-list__item:hover {
  background: var(--dark-10);
  color: var(--light-80);
}

.agenda .agenda-tournament-list__item .agenda-tournament-list__title {
  margin-bottom: 5px;
  color: var(--light-80);
}

.agenda .agenda-tournament-list__item .agenda-tournament-list__players-num {
  color: var(--blue-80);
}

#mostwanted_games .gamename {
  color: var(--blue-50);
}

.bga-quick-play-widget__item {
  background: var(--dark-10) !important;
}

.bga-quick-play-widget__item:hover {
  background: var(--dark-20) !important;
}


.bga-dropdown__options .bg-bga-gray-244 .items-center {
  background: var(--dark-20) !important;
}

/*
.bga-dropdown__options .bg-bga-gray-244 .items-center>span {
  color: white;
}*/

.bg-bga-gray-211 {
  background: var(--dark-20);
}

.bg-bga-gray-211 .text-gray-600 {
  color: var(--light-80);
}

.place-self-stretch {
  background-image: none !important;
}

/* Page Jouer - Lobby */
.bgaext_lobby #pageheaderlobby {
  background: var(--dark-10);
  color: var(--light-80);
}

.bgaext_lobby .pageheader_mobile_switcher_wrap .pageheader_menuitem,
.bgaext_tournamentlist .pageheader_mobile_switcher_wrap .pageheader_menuitem {
  background: var(--dark-20) !important;
  color: var(--light-80);
  border: 0;
  border-top: 1px solid var(--dark-40);
  border-left: 1px solid var(--dark-40);
  border-right: none;
}

.bgaext_lobby .pageheader_big_switch_dropdown,
.bgaext_tournamentlist .pageheader_big_switch_dropdown {
  background-color: transparent;
}

.bgaext_lobby .pageheader_mobile_switcher_wrap .pageheader_menuitem:hover,
.bgaext_tournamentlist .pageheader_mobile_switcher_wrap .pageheader_menuitem:hover {
  background: var(--dark-30) !important;
}

.bgaext_lobby .pageheader_mobile_switcher_wrap .pageheader_menuitem .switcher_zone,
.bgaext_tournamentlist .pageheader_mobile_switcher_wrap .pageheader_menuitem .switcher_zone {
  background: linear-gradient(180deg, var(--dark-10) 00%, var(--dark-40) 40%, var(--dark-40) 60%, var(--dark-10) 100%);
  border-left: 1px solid var(--dark-40);
}

.bgaext_lobby .pageheader_mobile_switcher_wrap .pageheader_menuitem:hover .switcher_zone,
.bgaext_tournamentlist .pageheader_mobile_switcher_wrap .pageheader_menuitem:hover .switcher_zone {
  background: linear-gradient(180deg, var(--dark-10) 00%, var(--dark-40) 40%, var(--dark-40) 60%, var(--dark-10) 100%) !important;
}

.bgaext_lobby .gametable,
.bgaext_gameinprogress .gametable {
  background: var(--dark-30);
  border-color: var(--dark-30);
  color: var(--light-80);
}

.bgaext_lobby .gametable.gametable_status_init.realtable {
  background: var(--green-10);
}

.bgaext_lobby .gametable:hover,
.bgaext_gameinprogress .gametable:hover {
  border-color: var(--light-80) !important;
}

.bgaext_lobby .gametable .gametable_separator,
.bgaext_gameinprogress .gametable .gametable_separator {
  background: var(--dark-30);
}

.bgaext_lobby .gametable_upper_part .gameinfoname .gamename,
.bgaext_gameinprogress .gametable_upper_part .gameinfoname .gamename,
.bgaext_lobby .game_box_wrap .gamename {
  color: var(--blue-70);
}

.bgaext_lobby .game_box_wrap .gamename:hover {
  color: var(--violet-80);
}

.bgaext_lobby.switch_to_arena,
.bgaext_lobby .switch_to_arena_inline {
  background: var(--dark-30);
  color: var(--light-80);
}

.bgaext_lobby .switch_to_arena_inline .gamename {
  color: var(--light-80);
}

.panel-block--buttons__play-wrapper--glow {
  background-image: linear-gradient(180deg, var(--dark-20) calc(100% - 45px), var(--dark-20) 100%) !important;
}

.bgaext_lobby .gamename {
  color: var(--blue-50);
}

.gamerank_apprentice,
.gamerank_beginner {
  background-color: hsl(192, 25%, 64%)
}

.gamerank_average {
  background-color: hsl(205 25% 35% / 1);
}

.gamerank_good {
  background-color: hsl(218, 25%, 71%)
}

.gamerank_strong {
  background-color: hsl(229, 25%, 71%)
}

.gamerank_expert {
  background-color: hsl(258, 25%, 70%)
}

.gamerank_master {
  background-color: hsl(282, 25%, 67%)
}

.wannaplay_mask_button.wannaplayauto_pref {
  background-color: var(--dark-40);
}

.wannaplay_mask_button.del_favorite {
  background-color: var(--dark-30);
}

.wannaplay_mask_button.add_favorite {
  background-color: var(--yellow-10);
}

.wannaplay_mask_button.how_to_play_button {
  background-color: var(--blue-50);
}

/* Page Table */
#table-module .players .whiteblock {
  background: var(--dark-30);
}

#table-module #suggestion_create_others a {
  color: var(--blue-50);
}

#table-module #suggestion_create_others a:hover {
  color: var(--violet-80);
}

/* Page Jeux */
.bga-game-browser__panel {
  background: var(--dark-30) !important;
  color: var(--light-80);
}

.bgaext_gamelist .bga-game-browser__panel .items-center .text-gray-600 {
  color: var(--light-80);
}

/*
.bga-game-browser__panel .items-center [class*=text-] {
  color: var(--light-80);
}*/

.bga-game-filter-tags {
  color: var(--light-80) !important;
}

.bga-filter-tag--type-specific {
  color: #235990 !important;
}

.bga-filter-tag--active.bga-filter-tag--type-specific {
  color: #f0f0f0 !important;
}

.icon_arena {
  filter: var(--highlight);
}

.dijitButtonContents,
.dijitButtonNode {
  background: var(--dark-40) !important;
}

.dijitInputInner,
.dijitInputField {
  background-color: var(--dark-40) !important;
  color: var(--light-80) !important;
  border-color: var(--dark-30) !important;
}

/* Page détail jeu */
.bga-game-panel .bga-game-panel__content-divider-line,
.bga-game-panel .bga-game-panel__content-divider-background {
  display: none;
}

.bga-game-panel .bga-panel-table-status .bga-page-section__content [class*=text-gray],
.bga-game-panel .bga-page-section__content [class*=text-bga-gray],
.bga-game-panel .bga-page-section__content [class*=text-gray] {
  color: var(--light-80);
}

.bga-game-panel .bga-panel-table-status .bga-lobby-table-item {
  background: var(--dark-30) !important;
  color: var(--light-80);
  border-color: var(--dark-30);
}

.bga-game-panel [class*=bg-bga-gray] {
  background: var(--dark-10) !important;
}

.bga-game-panel [class*=bg-bga-gray] .text-bga-blackbg {
  color: inherit;
}

.bga-game-panel .bga-page-section__content.bga-link:hover [class*=text-bga-gray],
.bga-game-panel .bga-page-section__content .bga-link:hover [class*=text-gray] {
  color: inherit;
}

.bgaext_gamelist .bga-dropdown-option.bg-gray-200 {
  background-color: var(--dark-30);
  border-color: #595959 !important;
}

.bgaext_gamelist .bga-dropdown-option.bg-gray-200:hover {
  background-color: var(--dark-40);
}

.bgaext_gamelist .bga-dropdown-option.bg-gray-200 * {
  color: var(--light-80) !important;
}

.bgaext_gamelist .bga-button-dropdown-item {
  border-color: var(--dark-40) !important;
}

.bgaext_gamelist .bga-button-dropdown-item:hover {
  background-color: var(--dark-20) !important;
  color: var(--blue-80) !important;
}

.bgaext_gamelist .bga-checkbox {
  background-color: var(--dark-40) !important;
}

.bgaext_gamelist .bga-checkbox--wrap:hover .bga-checkbox {
  background-color: var(--background-color-faded) !important;
}

/* There are not result matching your search */
.bgaext_gamelist [style^="background: linear-gradient(rgb(234, 234, 234), rgb(198, 198, 198));"] {
  background: var(--dark-10) !important;
}

.bgaext_gamelist [style^="background: linear-gradient(rgb(234, 234, 234), rgb(198, 198, 198));"] *:not(.bga-link) {
  color: var(--light-80);
}

/* area with play button and short description */
.bga-modal [style="background: linear-gradient(0deg, rgb(204, 204, 204) 0%, rgb(238, 238, 238) 50%);"] {
  background: var(--dark-10) !important;
}

.bga-modal [style="background: linear-gradient(0deg, rgb(204, 204, 204) 0%, rgb(238, 238, 238) 50%);"] *:not(.text-bga-blue) {
  color: var(--light-80);
}

.bga-modal .rounded-md .text-bga-blue {
  color: var(--blue-80);
}

.bga-modal .bga-button-plus {
  background: linear-gradient(180deg, var(--dark-10), var(--dark-30));
  color: var(--light-80);
}

.bga-game-panel .bga-panel-table-status .bga-page-section__content .bga-collapse-icon {
  background: var(--light-80);
  color: var(--dark-10);
}

.bga-game-panel .bga-panel-table-status .bga-page-section__content [class*=text-bga-gray]:hover .bga-collapse-icon {
  background: var(--dark-10);
  color: var(--light-80);
}

.bga-game-panel .bga-page-section__title,
.bga-game-panel .bga-page-section__title [class*=text-bga-gray],
.bga-game-panel .bga-panel-table-configuration .bga-panel-table-configuration__player-row [class*=text-bga-gray],
.bga-game-panel .bga-panel-table-configuration .w-full>[class*=text-bga-gray],
.bga-game-panel .bga-panel-table-configuration .text-center[class*=text-bga-gray],
.bga-game-panel .bga-panel-table-configuration .items-center[class*=text-bga-gray] {
  color: var(--light-80);
}

.bga-game-panel .quick-play-drawer__panel__col1 .bga-page-section [class*=text-bga-gray]:has(p) {
  padding: 20px;
  background: var(--dark-20);
  border-radius: 0.375rem;
  color: var(--light-80);
}

.bga-game-panel .quick-play-drawer__panel__col1 .bga-page-section [class*=text-bga-gray] .text-bga-blue {
  color: var(--blue-80);
}

.bga-game-panel .bga-page-section__content {
  background: var(--dark-20) !important;
  color: var(--light-80);
}

.bga-game-panel .bga-page-section__content .even\:bg-bga-graybg-2:nth-child(2n) {
  background: var(--dark-30) !important;
}

.bga-game-panel .bga-page-section .bga-game-option-messages__option-description,
.bgaext_arenasuggestions .bga-game-option-form .bga-game-option-messages__option-description {
  background: var(--dark-10);
  color: var(--light-80);
}

.bga-game-panel .bga-page-section .text-bga-gamename {
  color: var(--blue-50);
}

.bga-game-panel .bga-page-section .text-bga-gamename:hover {
  color: var(--violet-80);
}

.bga-game-panel .bga-page-section__content .bg-bga-graybg,
.bga-game-panel .bga-page-section__content .bg-bga-graybg-2 {
  background: var(--dark-10) !important;
  color: var(--light-80);
}

.bga-game-panel .bga-page-section__content .bg-bga-graybg .text-bga-blue,
.bga-game-panel .bga-page-section__content .bg-bga-graybg-2 .text-bga-blue {
  color: var(--blue-50);
}

.bga-game-panel .bga-page-section__content .gamerank {
  margin-bottom: 10px;
}

.bga-game-panel .block-panel-news {
  padding: 15px;
  background: var(--dark-10) !important;
  color: var(--light-80);
}

.bga-game-panel .block-panel-tournaments .bga-panel-tournaments__upper-row {
  background: var(--dark-20) !important
}

.game-info__value .icon16 {
  filter: var(--highlight-min);
}

.warning_high {
  background-color: #660000;
}

#gamestart_warnings_first {
  color: var(--light-80);
}

.bga-dropdown-button-split[style^="background: linear-gradient(0deg, rgb(25, 88, 154), rgb(40, 97, 164));"] {
  background: linear-gradient(0deg, #248189, #0ba9b7) !important;
  border-bottom-color: #248189 !important;
  color: #fff;
}

.bga-dropdown-button-value[style^="background: linear-gradient(white 0%, rgb(223, 223, 223) 80%);"] {
  background: linear-gradient(0deg, var(--dark-30), var(--dark-40)) !important;
  border-bottom-color: var(--dark-30) !important;
  color: #fff;
}

.bga-dropdown-button-split[style^="background: linear-gradient(rgb(25, 88, 154), rgb(40, 97, 164));"] {
  background: linear-gradient(#248189, #0ba9b7) !important;
  border-bottom-color: #0ba9b7 !important;
  color: #fff;
}

.bga-dropdown-button-value[style^="background: linear-gradient(0deg, white 0%, rgb(223, 223, 223) 80%);"] {
  background: linear-gradient(var(--dark-30), var(--dark-40)) !important;
  border-bottom-color: var(--dark-40) !important;
  color: #fff;
}

.bgaext_gamepanel .text-bga-blue {
  color: var(--blue-70);
}

.bgaext_gamepanel .bga-dropdown-option.bg-gray-200,
.bgaext_gamepanel .bga-button-dropdown-item {
  background-color: var(--dark-30);
  border-color: var(--dark-20) !important;
  color: var(--blue-80) !important;
}

.bgaext_gamepanel .bga-dropdown-option.bg-gray-200:hover,
.bgaext_gamepanel .bga-button-dropdown-item:hover {
  background-color: var(--dark-40) !important;
  color: var(--blue-50) !important;
}

.bgaext_gamepanel .bga-player-count-dropdown__dot,
.bgaext_gamepanel .bga-player-count-dropdown__cross {
  color: #393c40 !important;
}

.bgaext_gamepanel .bga-game-option-item-choice__selector,
.bgaext_gamepanel .bga-game-option-item-bool,
.bgaext_arenasuggestions .bga-game-option-item-choice__selector,
.bgaext_arenasuggestions .bga-game-option-item-bool {
  background-image: linear-gradient(180deg, var(--dark-30) 00%, var(--dark-40) 40%, var(--dark-40) 60%, var(--dark-30) 100%) !important;
  color: var(--light-80) !important;
}

.bgaext_gamepanel .bga-checkbox {
  background-color: var(--dark-20) !important;
}

.bgaext_gamepanel .bga-checkbox--wrap:hover .bga-checkbox {
  background-color: var(--background-color-faded) !important;
}

.bgaext_gamepanel .bga-toggle,
.bgaext_arenasuggestions .bga-toggle {
  background: var(--dark-10) !important;
  box-shadow: inset #000 -4px 0px 10px 0px !important;
}

.bgaext_gamepanel .bga-toggle--on,
.bgaext_arenasuggestions .bga-toggle--on {
  background: var(--blue-70) !important;
}

.bgaext_gamepanel .bga-toggle__slider,
.bgaext_arenasuggestions .bga-toggle__slider {
  background: linear-gradient(180deg, var(--dark-30) 00%, var(--dark-40) 40%, var(--dark-40) 60%, var(--dark-30) 100%) !important;
}

.bga-collection-management-modal input {
  color: var(--light-80) !important;
}

.bgaext_gamepanel .bga-game-option-item-choice__option {
  background-color: var(--dark-30) !important;
  color: var(--light-80);
}

.bgaext_gamepanel .bga-game-option-item-choice__option:hover {
  background-color: var(--dark-40) !important;
}

.bgaext_gamepanel .bga-game-option-item-choice__option:after {
  background: var(--dark-20) !important;
}

/* start screen */
.gamestart_overlay {
  background: var(--dark-20);
  color: var(--light-80);
}

.gamestart_overlay .icon32_realtime {
  filter: invert(1);
}

.gamestart_overlay .row-data .row-label,
.gamestart_overlay .fa-hourglass {
  color: #fff;
}

.gamestart_overlay .playerstart_content {
  border: 1px solid var(--light-80);
  background-color: var(--dark-10);
}

.gamestart_overlay .playerstart_warningblock {
  background-color: #84461f;
  border-left: 1px solid var(--light-80);
  border-right: 1px solid var(--light-80);
  border-bottom: 1px solid var(--light-80);
}

.gamestart_overlay #gamestart_game_box {
  filter: var(--highlight-max);
}

/* image par défaut des tournois */
[style="background-image: url(https://x.boardgamearena.net/data/grouparms/noimage_tournament_50.png)"] {
  filter: invert(1);
}

/* Page Qui sommes-nous */
#premiums .teamember,
#translators .teamember,
#developers .teamember,
#moderators .teamember,
#founders .teamember {
  background: var(--dark-30);
}

/* Page Contact */
#contact-module .support_entry {
  background: var(--dark-10);
  color: var(--light-80);
}

#contact-module .support_section,
#contact-module .support_title,
#contact-module .support_details {
  color: var(--light-80);
}

/* Page Contribution */
#contribute-module .pagesection__content {
  background: var(--dark-10);
}

#contribute-module .controlpanelmenu {
  background: var(--dark-30);
}

#contribute-module .controlpanelmenu .subtitle {
  color: var(--light-80);
}

/* Page Tutoriels */
#tutorial_list_wrapper .arenasuggestion__content .arenasuggestion__text {
  color: var(--light-80);
}

#tutorial_list_wrapper .tutolink:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

/* Page Premium */
#club-module .premium_argument .gamename {
  color: var(--blue-80);
}

/* Page Communauté */
#community-module .controlpanelmenu .subtitle {
  color: var(--light-80);
}

#community-module .tips {
  padding: 10px;
}

/* Page Bugs */
#moderation-module .pagesection__content .whiteblock {
  background: var(--dark-40);
}

#moderation-module #last_reports .statstable a,
#buglist_inner a {
  color: var(--light-80);
}

#moderation-module #last_reports .statstable [bgcolor] a,
#moderation-module #last_reports .statstable th .bga-link,
#buglist_inner [bgcolor] a {
  color: var(--dark-10);
}

.upper_back_button>.icon16_backgray {
  filter: invert(1);
}

.bgaext_bugs .statstable th a.bga-link {
  color: #fff !important;
}

.bga-game-selector .bg-white {
  background-color: var(--dark-40);
}

.bga-game-selector .bg-white .text-gray-500 {
  color: #fff;
}

.bga-game-selector .bg-white .text-gray-500:hover {
  background-color: #7ba1cd;
}

.bgaext_bug #bug_status_awaiting,
.bgaext_bug #bug_status_acknowledged {
  background-color: var(--yellow-10) !important;
}

.bgaext_bug #bug_status_inforequest {
  background-color: var(--orange-30) !important;
}

.bgaext_bug #bug_status_open,
.bgaext_bug #bug_status_infoneeded {
  background-color: var(--red-10) !important;
}

.bgaext_bug #bug_status_implemented,
.bgaext_bug #bug_status_fixed {
  background-color: var(--green-10) !important;
}

.bgaext_bug #bug_status_rejected {
  background-color: var(--blue-10) !important;
}


/* Arena suggestions */

.bgaext_arenasuggestions .bg-white {
  background-color: var(--dark-20);
}

.bgaext_arenasuggestions .bg-white * {
  color: var(--light-80);
}

.bgaext_arenasuggestions .bga-toggle__label {
  color: var(--light-70);
}

/* Page translation */

.statstable th {
  background-color: #8c4a0d;
}

.bgaext_translationhq .statstable td,
.bgaext_translationhq .statstable th,
.bgaext_translation .statstable td,
.bgaext_translation .statstable th {
  border: 1px solid #888
}

.bgaext_translation .whiteblock {
  background-image: none;
  background-color: var(--dark-20);
}

.bgaext_translation #translationwarning {
  background-color: #662900 !important;
  color: #fff;
}

.bgaext_translation tr[style="background-color: #cceecc;"] {
  background-color: #133913 !important;
}

.bgaext_translation .readonly_textarea {
  background-color: #55595e;
}

.bgaext_translation .textarea_status_empty {
  background-color: #404347;
}

.bgaext_translation .textarea_status_validated {
  background-color: var(--yellow-10);
}

.bgaext_translation .textarea_status_recorded {
  background-color: #2b552b;
}

.bgaext_translation .status_empty,
.bgaext_translation .status_machine,
.bgaext_translation .status_validated,
.bgaext_translation .status_recorded {
  filter: var(--highlight-min);
}

/* Page Liste des tournois */
#tournamentlist-module .tournaments-list-result {
  background-color: var(--dark-20);
  color: var(--light-80);
}

#tournamentlist-module .tournaments-list-result:hover,
#tournamentlist-module .tournaments-list-result:hover .tournaments-list-result__players {
  background-color: var(--dark-10);
}

#tournamentlist-module .tournaments-list-result .tournaments-list-result__championship {
  color: var(--blue-80);
}

#tournamentlist-module .tournaments-list-result .tournaments-list-result__date span {
  color: #777;
}

#tournamentlist-module .tournaments-list-result .tournaments-list-result__players,
#tournamentlist-module .tournaments-list-result .tournaments-list-result__players-reg {
  background-color: var(--dark-20);
  color: var(--light-80);
}

/* Page Tournoi */
#tournament-module .tournaments-presentation {
  background-color: var(--dark-10);
  color: var(--light-80);
}

#tournament-module .pagesection.tournament-section--stage-display .pagesection__content,
#tournament-module .pagesection.tournament-section--stage-display .v2tournament--bracketElimination {
  background-color: var(--dark-10) !important;
  color: var(--light-80);
}

#tournament-module .tournaments-presentation .tournaments-presentation-status__global,
#tournament-module .tournaments-presentation .tournaments-mode-presentation__name,
#tournament-module .tournaments-presentation .tournaments-mode-presentation__description {
  color: var(--light-80);
}

#tournament-module .pagesection.tournament-section--stage-display .v2tournament--bracketElimination h4 {
  color: var(--dark-10);
}

/* Hall of games */

.bgaext_halloffame .challenge_text img {
  filter: grayscale(1) invert(0.7);
}

.bgaext_halloffame .desktop_version .overall-stats-wrap {
  background-image: none;
  background-color: var(--dark-back);
  margin-bottom: 1em;
}

.bgaext_halloffame .overall-stat-text {
  color: var(--blue-50);
}

.bgaext_halloffame .own-progress-background {
  background-image: linear-gradient(180deg, var(--dark-20), var(--dark-40));
}

.bgaext_halloffame #own-progress-current-text,
.bgaext_halloffame #own-progress-next-text {
  color: var(--light-80);
}

.bgaext_halloffame .desktop_version .hof-league-progress-bar-bottom-infos {
  color: var(--light-80) !important;
}

.bgaext_halloffame .desktop_version .own-progress-wrap {
  background-color: var(--dark-10);
}

.bgaext_halloffame .icon32.icon_arena.arena_white {
  filter: invert(0.7);
}

/* Tournament */

.bgaext_tournament #group_avatar[src*="noimage_tournament"] {
  filter: invert(1);
}

.bgaext_tournament #tournamentfullname {
  color: var(--light-80);
}

.bgaext_tournament .pagesection__content,
.bgaext_tournament .v2tournament {
  background: var(--dark-10) !important;
}

.bgaext_tournament .v2tournament h4 {
  background: var(--green-10);
  color: var(--light-80);
}

.bgaext_tournament .v2tournament__players-stats-table {
  color: var(--light-80);
}

.bgaext_tournament .v2tournament__players-stats-table.v2tournament__players-stats-table td {
  background: var(--dark-40);
}

.bgaext_tournament .v2tournament__players-stats-table tr:nth-child(odd) td {
  background: var(--dark-30);
}

.bgaext_tournament .v2tournament__encounters-step {
  background: var(--dark-40);
}

.bgaext_tournament .v2tournament__encounters-step:nth-child(odd) {
  background: var(--dark-30);
}

.bgaext_tournament .v2tournament__encounters-steps-arrow--right {
  background: linear-gradient(-90deg, var(--dark-20) 25%, hsla(0, 0%, 100%, 0));
}

.bgaext_tournament .v2tournament__encounters-steps-arrow--right:hover {
  background: linear-gradient(-90deg, var(--dark-20) 65%, hsla(0, 0%, 100%, 0));
}

.bgaext_tournament .v2tournament__encounters-steps-arrow--left {
  background: linear-gradient(90deg, var(--dark-20) 25%, hsla(0, 0%, 100%, 0));
}

.bgaext_tournament .v2tournament__encounters-steps-arrow--left:hover {
  background: linear-gradient(90deg, var(--dark-20) 65%, hsla(0, 0%, 100%, 0));
}

.bgaext_tournament .v2tournament__encounters-clear-player .v2tournament__encounter-player {
  background: var(--dark-20) !important;
}

.bgaext_tournament .v2tournament__encounters-steps-arrow i.fa {
  filter: invert(1);
}

.bgaext_tournament .v2tournament__encounter-status {
  background: var(--green-10);
  color: var(--light-80);
}

.bgaext_tournament .v2tournament__encounter-player-result {
  color: var(--light-70);
}

.bgaext_tournament .v2tournament__encounter-player {
  background: var(--dark-20);
}

.bgaext_tournament .v2tournament__encounter-player.highlighted {
  background: var(--dark-40);
}

.bgaext_tournament .v2tournament__encounter--status-play a.v2tournament__encounter-title {
  background: var(--green-30);
  color: var(--light-80);
}

.bgaext_tournament .v2tournament__encounter--status-play .v2tournament__encounter-progress {
  background: var(--green-30);
}

.bgaext_tournament .v2tournament__encounters-step-title {
  background: linear-gradient(90deg, var(--green-10), var(--green-30) 35%, var(--green-30));
  color: var(--light-80);
}

.bgaext_tournament .v2tournament__encounters-step-title:after {
  border-color: transparent transparent transparent var(--green-30);
}

.bgaext_tournament .v2tournament__encounter-player-points {
  color: var(--light-80);
}

/* Page Vos badges */
.standard_popin .achievement .achievement_content {
  background-color: var(--dark-30);
}

/* Page News */
#follow_us_portlet.portlet .portlet__content {
  background: var(--dark-10);
  color: var(--light-80);
}

#news-module #follow_us_portlet.portlet .portlet__title,
#headlines-module #follow_us_portlet.portlet .portlet__title,
#news-module #follow_us_portlet.portlet .portlet__content a,
#headlines-module #follow_us_portlet.portlet .portlet__content a,
#news-module #follow_us_portlet.portlet .portlet__content a span,
#headlines-module #follow_us_portlet.portlet .portlet__content a span {
  color: var(--light-80);
}

#latest_news .newstitle a {
  color: var(--light-80);
}

#news-module #latest_news .newsfooter a,
#news-module #latest_news .newsabstract a {
  color: var(--blue-80);
}

/* Page parties en cours */
#gameinprogress-module .newbgatable th,
#gameinprogress-module .newbgatable td {
  color: var(--light-80);
}

/* Page replay */
#gamereview-module .gamelogreview {
  background: var(--dark-40);
}

/* Page replay */
#preferences-module textarea {
  background: var(--dark-20);
  color: var(--light-80);
}

/* Control panel */
#controlpanel-module .pagesection__content>img,
#contribute-module .pagesection__content>img,
.top_right_bigimage {
  filter: invert(0.7) grayscale(1);
}

.pagesection__content .subtitle {
  color: var(--light-80);
}

.newbgatable th,
.newbgatable td {
  color: var(--light-80);
}

.notouch-device .newbgatable tbody tr:hover td {
  color: var(--violet-80);
}

.palmares_details .icon20 {
  filter: invert(0.7);
}

.whypremium_icon,
.panelmenuicon {
  filter: invert(0.7);
}

/* studio */
#resultDlgFrame {
  filter: invert(1);
}

#popin_resultDlg_close>i {
  color: white;
}

/* page loading */
.roundedbox_topleft,
.roundedbox_topmain,
.roundedbox_topright,
.roundedbox_main,
.roundedbox_bottomleft,
.roundedbox_bottommain,
.roundedbox_bottomright {
  background-color: var(--dark-40);
}

#connect_status_text {
  color: var(--light-80);
}

.bga_big_input {
  background-color: var(--dark-0);
  color: var(--light-100);
}

#achievement-module .achievement.even .achievement_container.bottom,
#achievement-module .achievement.odd .achievement_container.top {
  display: none;
}

.score-entry .winpoints img {
  filter: invert(1);
}

/* rating */

.pagesection__content>div>div>div[style*="background-color:#ececec"] {
  background-color: var(--dark-10) !important;
}

/* control panel games */

.bgaext_controlpanelgames .game-line,
.bgaext_controlpanelgames .bg-white {
  background-color: var(--dark-20) !important;
}

.bgaext_controlpanelgames .fa-book,
.bgaext_controlpanelgames .items-center,
.bgaext_controlpanelgames #main-content {
  color: white;
}

.bgaext_controlpanelgames a {
  color: var(--blue-80);
}

.bgaext_controlpanelgames a:hover {
  color: var(--violet-80);
}

.bgaext_controlpanelgames .bga-dropdown-option {
  background-color: var(--dark-20);
}

.bgaext_controlpanelgames .bga-dropdown-option:hover {
  background-color: var(--dark-40);
}

/* game invitation */
.bga-toast-holder .bga-toast.bg-bga-gray-233 {
  background-color: var(--dark-20);
}

.bga-toast-holder .bga-toast.bg-bga-gray-233 .bg-bga-whitebg.text-bga-blue {
  background-color: var(--dark-10);
  color: var(--light-80);
}

.bga-toast-holder .bga-toast__progress-bar {
  background-color: var(--blue-70);
}

.bga-toast-holder .bga-toast__progress-bar .bg-bga-blue {
  background-color: var(--dark-40);
}

.bga-toast-holder .bga-table-list-item .text-gray-500 {
  color: var(--light-70);
}