:root {
	color-scheme: dark;

	--dark-0: #000000;
	--dark-10: #1d2023;
	--dark-20: #272a2f;
	--dark-30: #35373c;
	--dark-40: #404347;

	--blue-70: #009aa0;
	--blue-80: #11a9bb;

	--light-50: #8e8e8e;
	--light-70: #ccc;
	--light-80: #dcddde;
}

html[data-theme=dark] {

	body,
	.playlist-wrapper {
		background-color: var(--dark-20);
	}

	.header-wrapper {
		background-color: var(--dark-30);
		border-bottom: 1px solid var(--dark-40);
		box-shadow: 0px 4px 8px #8888881a;
	}

	/* main page is not managed in dark mode */
	#main-page-btn {
		visibility: hidden;
	}

	header .input-form input[type=text],
	.input-form input[type=text] {
		background: var(--dark-30);
		color: var(--light-80);
		border: 1px solid var(--light-50);
	}

	.input-form input[type=text]:focus,
	.input-form input[type=text]:active {
		border: 1px solid var(--light-70);
	}

	header .input-form button,
	.input-form button {
		border: 1px solid var(--blue-70);
		background-color: var(--blue-70);
		color: var(--light-70);
	}

	header #search-btn:hover,
	#submit-btn:hover {
		background-color: var(--blue-80);
		color: var(--light-80);
	}

	#return-btn {
		background-color: var(--dark-10) !important;
		border-color: var(--light-50) !important;
		color: var(--light-70);
	}

	#return-btn:hover {
		background-color: var(--dark-0) !important;
		color: var(--light-80);
	}

	.box {
		border: 1px solid var(--dark-40);
		background-color: var(--dark-10);
		color: var(--light-80);
	}

	.box hr {
		border-color: var(--dark-40);
		background-color: var(--dark-40);
	}

	a {
		color: var(--light-50);
	}

	.box-playlist tbody tr.active>td {
		background-color: var(--blue-70);
	}

	.table-hover>tbody>tr:hover {
		background-color: var(--dark-30);
	}

	.container-nav,
	.container-nav *,
	.table * {
		border-color: var(--dark-40) !important;
	}

	.box-playlist tbody tr.active:hover>td {
		color: var(--light-80);
	}

	.container-nav,
	.btn-default {
		background-color: var(--dark-0);
	}

	.btn-nav {
		color: var(--light-70);
	}

	.btn-nav:hover,
	.btn-nav:active,
	.btn-nav:focus {
		background-color: var(--dark-10);
		color: #fff;
	}

	footer {
		background-color: var(--dark-0);
		border-top: 1px solid var(--dark-40);
	}
}