:root {
  color-scheme: dark;

  --dark-10: #1d2023;
  --dark-20: #272a2f;
  --dark-30: #35373c;

  --light-50: #8e8e8e;
  --light-70: #ccc;
  --light-80: #dcddde;
}

body {
  color: #000;
}

html.dark body {
  color: var(--light-80);
}

html.dark body.container {
  background: var(--dark-10);
}

html.dark .bg-white {
  background: var(--dark-20);
  border-color: var(--light-50);
}

html.dark .bg-white:hover {
  background: var(--dark-30);
  border-color: var(--light-80);
}

html.dark .bg-bgaBlue {
  background: linear-gradient(180deg, #0ba9b7, #248189);
}

html.dark .bg-bgaBlue:hover {
  background: linear-gradient(180deg, #06d7ea, #248189);
}

html.dark h1.text-bgaBlue-light {
  color: var(--light-80);
}

html.dark .bg-bgaOrange-lighter {
  background: var(--dark-10);
}

html.dark .text-gray-600 {
  color: var(--light-70);
}