@import "../common";

#bga-zoom-wrapper #bga-zoom-controls { filter: invert(0.7); }
.fh-player-no-badge { background-color: var(--dark-20); border: 1px solid var(--light-50); color: var(--light-80); }
