@import "../common";

.playertablename, .loaded_font_1 { text-shadow: none; }
.table_bordered { border: 3px ridge var(--dark-10); }
#round_wrap { color: var(--light-80); }
#overall-content.background_loaded { background-color: #173336; }
.playertable { border: thick outset #20435e; }
