@import "../common";

.infopanel .title { background-color: var(--dark-20); }
.player-zoom-controls, .arboretum-row { background-color: #00660087; }
.player-zoom-controls button { filter: invert(0.8); }
[style^="--player-color: #982fffaa"] { --player-color: #b365ffaa!important; }
[style^="--player-color: #ff0000aa"] { --player-color: #ff6565aa!important; }
[style^="--player-color: #0000ffaa"] { --player-color: #6565ffaa!important; }
[style^="--player-color: #008000aa"] { --player-color: #54aa54aa!important; }
[style^="--player-color: #ffa500aa"] { --player-color: #ffc965aa!important; }
.label { color: var(--light-70); }
.bga-cards_deck-counter.round { background: var(--dark-10); box-shadow: 0 0 2px 1px #fff; color: var(--light-80); }
