@import "../common";

#PlayerTables { border: none; }
#PlayerTables.tableRed { background: linear-gradient(135deg,#331400,#260d13 50%,#331400); }
#PlayerTables.tableGreen { background: linear-gradient(135deg,hsl(158 96% 10% / 1),#013220 37%,#013220 63%,#013220 85%,#013220); }
#PlayerTables.tableBlue { background: linear-gradient(135deg,#121921,#172436 50%,#121921); }
.PlayerTable .PlayerTableTrickWon .PlayerTableTrickWonIcon { filter: invert(0.7); }
.red { background-color: var(--red-10); }
.yellow { background: var(--yellow-10); }
.blue { background: var(--blue-10); }
.black { background: var(--dark-10); }
#score { background: none; height: 460px; }
#score * { color: var(--light-80); }
#score td, #score th, .block-description { border: 1px solid var(--light-50); }
