@import "../common";

.pyramid { background-color: var(--dark-back); color: var(--light-80); }
.pyramid .reserve:before { background-color: #000; }
.player_config_row > div:not(#help-mode-switch) svg { filter: invert(0.7); }
