@import "../common";

.bgabutton .control-image { filter: invert(1); }
#miniboard_0000ff .empty_icon { background-color: #039fb0; border-color: #fff; }
#miniboard_ff0000 .empty_icon { background-color: #8d3f25; border-color: #fff; }
.time_icon { filter: invert(0.9); }
.market .patch { filter: drop-shadow(2px 2px 2px black) brightness(0.9); }
.pboard, .scoreboard, .pbutton { filter: brightness(0.9); }
