@import "../common";

#overall-content:before { content: ""; background: #00000060; position: absolute; width: 100%; height: 100%; }
#boards .player-table .supergame-gamezone .player-board-name { background: var(--dark-back); }
.tundra .dijitTooltipContainer .midSizeDialog .hints .hint-text+.hint-text:before { color: var(--light-80); }
#boards .player-table .supergame-gamezone .row-deck .card-stock:after { background-color: #000; border: 3px solid #000; }
.bga-cards_deck-counter.round { background: var(--dark-20); box-shadow: 0 0 2px 1px #fff; color: var(--light-80); }
#boards .player-table .supergame-gamezone .playerboard, .card .card-sides .card-side { filter: brightness(0.9); }
