@import "../common";

.qts_playerbid, #handcounter { color: var(--light-80) !important; }
.qts_playertable_Q { background-color: #330000 !important; }
.qts_playertable_A { background-color: #003300 !important; }
.qts_playertable_B { background-color: #332f00 !important; }
.qts_nilicon_0, .qts_nilicon_00, .qts_trumpsuiticon_0 { filter: invert(0.7); }
.qts_trumpsuiticon_none, .qts_trumpsuiticon_1, .qts_trumpsuiticon_2, .qts_trumpsuiticon_3, .qts_trumpsuiticon_4,
.qts_textsuiticon_spade, .qts_textsuiticon_heart, .qts_textsuiticon_club, .qts_textsuiticon_diamond { filter: var(--drop-shadow); }
.qts_bidicon { filter: invert(1); }
