@import "../common";

h3 > span[style="color:#0000ff; background-color: #;"] { color: #8080ff !important; background-color: var(--dark-20); padding: 0.5em 1em; border-radius: 8px; }
h3 > span[style="color:#ffffff; background-color: #bbbbbb;"] { background-color: var(--dark-20) !important; padding: 0.5em 1em; border-radius: 8px; }
.tar_ware_board { filter: var(--highlight-min); }
.card_txt { color: #000; }
.tar_meeple, .tar_tribu { filter: var(--drop-shadow); }
.emptyCard { filter: brightness(0.9); }
