@import "../common";

.pks-token.pks-token-resource { color: #000; filter: var(--drop-shadow); }
#pks-bank { background-color: var(--dark-40); }
.pks-canteen, .pks-backpack, .pks-passion, .pks-gear, .pks-board { filter: brightness(0.9); }
