@import "../common";

#characterSelectionDescription { background-color: var(--dark-20) !important; }
.mp_playeraid { color: #000; }
.piece { filter: var(--drop-shadow); }
.piece.panel_hourglass { filter: var(--highlight); }
#transparent_figure { filter: grayscale(1) invert(1) !important; }
#board, .goal_card, .character, .parchment, .piece.contract_back, .mp_playeraid { filter: brightness(0.9); }
