@import "../common";

.pk-log-train1 { text-shadow: var(--text-w-shadow); }
.pk-log-train2 { color: #6666ff; }
.pk-log-train5 { color: #ff3333; }
.pk-log-city-1, .pk-log-city-2, .pk-log-city-3, .pk-log-city-4 { color: #000; }
.pk-icon-train { filter: var(--drop-shadow); }
