/* Delete button on gamelist page */
html:not(.bgaext_gamelist) .ext_delete_button {
  display: none;
}

html:not(.bgaext_cust_back).bgaext_solid_back {
  background: #fff;
}

html:not(.bgaext_cust_back).bgaext_game.bgaext_solid_back {
  background: #dfb98b;
}

html.bgaext_forum_visible.bgaext_solid_back,
html.bgaext_forum_visible.bgaext_solid_back body,
html.bgaext_forum.bgaext_solid_back body {
  background: #f5f7fa;
}