@import "../common";

.rat_playerName { text-shadow: var(--text-w-shadow); }
#tokenStock { background-color: var(--dark-back); }
#rat_discard, .rat_playerArea { border-color: var(--light-70); }
#rat_discard:before, #deckCount, #discardCount { color: var(--light-70); }
