@import "../common";

.player-name { text-shadow: none !important; }
.playertablename { text-shadow: none; }
#community_card_wrap, #round_info_wrap { background-color: var(--dark-20); }
#hand_rank { background-color: var(--dark-back); }
.selected_card { outline: 4px dashed #fff; }
