@import "../common";

#overall-content { background-color: #000000A0; }
#pagesection_gameview .whiteblock.delft_border { background: #dcdcdcbf; }
.delft_border, .delft_border > * { filter: invert(1); }
