@import "../common";

#deckHeader { color: #fff; }
#charactersDeckZone, #playerHandZone { background-color: var(--dark-back); color: #fff; }
.character { box-shadow: none; filter: var(--drop-shadow); }
.playgroundContainer { background-color: var(--dark-back); }
.jars-icone, .mosaic-icone, .objective-icone, .ruby-icone, .stall-icone { filter: var(--drop-shadow); }
.helper_container { background-color: var(--dark-20); color: #fff; }
.helperLine { background-color: var(--dark-30); }
.helper_container table, td, tr { background-color: #000; border: 1px solid #fff; }
.helperHeader div, .helperIcone { filter: var(--highlight-min); }
