@import "../common";

[style*="background-color: #ffffffcc;"] { background-color: var(--dark-back) !important; }
[style*="background-color: #edf2faff;"] { background-color: var(--dark-30) !important; color: var(--light-80); }
[style*="border: 2px dashed black;"] { border: 2px dashed var(--light-70) !important; }
[style*="border-left: 2px dashed black;"] { border-left: 2px dashed var(--light-70) !important; }
[style*="border-top: 2px dashed black;"] { border-top: 2px dashed var(--light-70) !important; }
.launched_rocket_div { filter: invert(0.7); }
