@import "../common";

.player_score span[style="color: #000;"], .player_score span[style="color: black;"] { color: #fff !important; }
#playertable { background: linear-gradient(0deg,#003300,#001a00); }
.card_list_info { background: var(--dark-10); color: #fff; }
.secret_chip { background: var(--dark-20); filter: var(--highlight-min); }
.first_player_token { color: #000; }
