@import "../common";

#ebd-body:before { content: ""; background: var(--dark-back); position: fixed; width: 100%; height: 100%; top: 0px; left: 0px }
.nex_scorepad { color: #000; }
#nex_mainboard, .nex_scorepad { filter: brightness(0.9); }
