@import "../common";

.area_label, .player-name { text-shadow: none; }
.marble_pool { border: 1px dashed var(--light-50); }
.potion, .stockitem { filter: var(--drop-shadow); }
.reward_icon, .help_icon, .starter_token { filter: var(--highlight-min); }
.potion_tooltip, .potion_tooltip_small { background-color: var(--dark-30); }
.potion_tooltip_small, .active { border: 3px solid var(--light-50); }
.cupboard, .discard { border: 1px solid var(--light-50); }
