@import "../common";

#word-timer { filter: invert(1); }
h2#word-display[data-lvl="2"] { text-shadow: var(--text-w-shadow); }
div.preference_choice:has(> div > div > select#preference_control_100) { display: none; }
div.preference_choice:has(> div > div > select#preference_fontrol_100) { display: none; }
