@import "../common";

#churn-replace-status, #churn-replace-title { background-color: var(--dark-20); }
.hex-tile[data-hex=empty] { filter: invert(1); }
#logs .churn-stone-icon { border-radius: 50%; }
