@import "../common";

body { background: none !important; }
html.darkpanel #player_boards .player-board { background: var(--dark-30) !important; }
html.darkpanel #player_boards .player-board.stw_activepl { background: var(--dark-40) !important; }
#centralaround.stw_emptypile { background: #80808099; }
.stw_log_icon { filter: var(--drop-shadow); }
.player-board { background-color: var(--dark-10); }
.stw_activepl { background-color: var(--dark-20); }
.choiceitem { background: var(--dark-40); }
