@import "../common";

.playerBoard:before, #playmat_container:before { content: ""; background: #000000A0; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; border-radius: 8px;}
#playmat_container, #playmat_container > * { position: relative; }
.etmTooltipEffect, .etmTooltipName { color: var(--light-80); }
.etmTooltipStatus { color: var(--light-50); }
#playerHand { background-color: var(--dark-back); }
