@import "../common";

#overall-content:before { content: ""; background: #000000bb; position: absolute; width: 100%; height: 100%; }
.playertablename { text-shadow: none; }
.card_back.empty, .trick_card_margin.empty { outline: 2px dotted var(--light-50); }
