@import "../common";

div[id^="playersection_"] > div:first-child { background-color: var(--dark-back); padding: 0.2em 1em; border-radius: 8px; box-sizing: border-box; }
.sbb_icon_0, .sbb_icon_1, .sbb_icon_2, .sbb_icon_3 { border-radius: 50%; }
.sbb_playerboard, #sbb_field { filter: brightness(0.9); }
