@import "../common";

.darkmode .bgaext_overlay { opacity: 0.8; }
.bb_zoom_icon { filter: var(--highlight); }
.flippable-front { filter: brightness(0.9); }
.aal-popup-overlay .aal-popup-content { background: var(--dark-20); color: var(--light-80); }
.bb_log_level2 { background-color: var(--dark-back); color: var(--light-80); }
