.ALTAYplayerInfo img {
	filter: var(--highlight-min);
}

#ALTAYboard {
	filter: brightness(0.9);
}

.ALTAYplayerArea {
	background-blend-mode: darken;
	background-color: var(--dark-back);
}

.ALTAYphase {
	background-color: var(--orange-10);
}

.ALTAYsubPhase {
	background-color: var(--orange-30);
}

img#ALTAYscorePad {
	cursor: pointer;
	filter: invert(0.9);
}

.standard_popin {
	background: var(--dark-20) !important;
}

#popin_ALTAYscorePad_contents>div {
	border: 1px solid var(--light-50) !important;
}

#ALTAYlastTurn {
	background: var(--red-10) !important;
}