@import "../common";

.playertable { background: var(--dark-back); }
.playertablename span[style^="color:black;"] { color: var(--light-80) !important; text-shadow: none; }
.box_wrap, .dice_wrap { background: var(--green-10); }
