@import "../common";

.tech_icon { filter: invert(0.7); }
.leader_and_hand .player-name { background: var(--dark-back); padding: 0.3em 0.5em; border-radius: 6px; }
#hand { background-color: var(--dark-back); }
.scoundrel, .strategy_card { color: #000; }
#popin_choose-color { background-color: var(--dark-20); }
#popin_choose-color h2 { color: var(--light-80); }
#color_lines_wrapper .color_line { background-color: var(--dark-30); }
#color_lines_wrapper .color_line .arrows { filter: invert(0.7); }
