div.bgext_options_main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.bgext_options_config_area {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  width: 860px;
  height: 540px;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

div.bgext_options_title {
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

div.bgext_options_container {
  display: flex;
  flex-flow: row;
  gap: 1em;
  justify-content: center;
}

div.bgext_options_col_container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 0.5em;
}

div.bgext_options_row_container {
  display: flex;
  flex-flow: row;
  gap: 0.5em;
}

div.bgext_options_gamelist_container {
  width: 200px;
  height: 380px;
  border: 1px solid #aaaaaa;
  overflow: auto;
}

div.bgext_options_gamelist {
  display: flex;
  flex-flow: column;
}

div.bgext_options_gameitem,
div.bgext_options_gameitem_selected {
  line-height: 24px;
  padding-left: 1em;
  cursor: pointer;
}

div.bgext_options_gameitem_selected {
  background: #c0c4d1;
}

div.bgext_options_gameconfig_container {
  width: 600px;
  height: 380px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1em;
}

textarea.bgext_options_input {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  box-shadow: none !important;
  outline: none !important;
}

div.bgext_options_warning {
  padding-right: 2em;
  text-align: right;
}