:root.dark {
  color-scheme: dark;

  --dark-10: #1d2023;
  --dark-20: #272a2f;
  --dark-30: #35373c;
  --dark-40: #404347;

  --blue-70: #009aa0;

  --light-50: #8e8e8e;
  --light-70: #ccc;
  --light-80: #dcddde;
}

html {
  width: 500px !important;
}

body {
  color: #000;
  width: 500px !important;
  font-size: 9pt;
  overflow: hidden;
}

.max-result {
  max-height: 472px;
  overflow: auto;
}

html.dark body {
  color: var(--light-80);
}

html.dark body.container {
  background: var(--dark-10);
}

html.dark .bg-white {
  background: var(--dark-20);
  border-color: var(--light-50);
}

html.dark .bg-white:hover {
  background: var(--dark-30);
  border-color: var(--light-80);
}

html.dark .bg-bgaBlue {
  background: linear-gradient(180deg, #0ba9b7, #248189);
}

html.dark .bg-bgaBlue:hover {
  background: linear-gradient(180deg, #06d7ea, #248189);
}

html.dark h1.text-bgaBlue-light {
  color: var(--light-80);
}

html.dark .bg-bgaOrange-lighter {
  background: var(--dark-10);
}

html.dark .text-gray-600 {
  color: var(--light-70);
}

.options-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0.5em;
}

.options-frame {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1em;
  margin: 0.5em;
  box-sizing: border-box;
  position: relative;
  gap: 0.3em;
  display: flex;
  flex-flow: column;
  transition: all .5s linear;
}

.options-frame.reduced {
  cursor: pointer;
  margin-top: 0em;
  padding: 0.5em 1em;
  line-height: 20px;
}

.options-frame.reduced:hover {
  background: #fff;
}

html.dark .options-frame.reduced:hover {
  background: var(--dark-40);
}

html.dark .options-frame {
  border-color: #fff;
}

.options-frame-title {
  position: absolute;
  top: -11px;
  left: 1em;
  background-color: #fefce8;
  padding: 0em 0.5em;
  font-weight: bold;
  transition: all .5s linear;
}

.reduced .options-frame-title {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.reduced .options-frame-title svg {
  width: 24px;
  height: 24px;
}

.options-frame.reduced:hover .options-frame-title {
  background: #fff;
}

html.dark .options-frame.reduced:hover .options-frame-title {
  background: var(--dark-40);
}

html.dark .options-frame-title {
  background-color: var(--dark-10);
}

.options-version {
  text-align: right;
}

.options-subframe {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.options-subframe>div {
  width: 50%;
  gap: 0.2em;
  display: flex;
  flex-flow: column;
}

.bgext_hidden_games_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.bgext_hidden_game {
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 13px;
  border: 1px solid #bcd1e1;
  border-radius: 4px;
  line-height: 30px;
  color: #666666;
  background: #cee7f9;
  padding-left: 1em;
  padding-right: 0.5em;
  cursor: default;
  height: 32px;
  gap: 0.5em;
  display: flex;
}

html.dark .bgext_hidden_game {
  background: var(--dark-40);
  border: 1px solid var(--light-50);
  color: var(--light-80);
}

.bgext_hidden_game_close {
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: underline !important;
}

p {
  padding-bottom: 0.5em;
}

.small_button {
  padding: 0px;
  width: 100px;
  line-height: 22px;
}

.row_fullwidth {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.row_fullwidth>div:last-child {
  padding-right: 1em;
  display: flex;
  flex-flow: row;
  gap: 0.5em;
}

.col {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

.options-textarea {
  height: 183px;
  border: 1px solid #888;
  padding: 0.5em;
  resize: none;
  box-shadow: none !important;
  outline: none !important;
}

.options-button {
  padding: 0em 0.5em;
  border-radius: 6px;
  color: #fff;
}

.options-buttons-container {
  padding: 0em !important;
}

.options-buttons-container.error {
  color: #ca0000;
}

.options-buttons-container.saved {
  color: #009e0a;
}