@import 'options-common.css';

:root.dark {
  color-scheme: dark;

  --dark-10: #1d2023;
  --dark-20: #272a2f;
  --dark-30: #35373c;
  --dark-40: #404347;

  --blue-70: #009aa0;

  --light-50: #8e8e8e;
  --light-70: #ccc;
  --light-80: #dcddde;
}

html {
  width: 500px !important;
}

body {
  color: #000;
  width: 500px !important;
  overflow: hidden;
  font-size: 12px;
}

.max-result {
  max-height: 472px;
  overflow: auto;
}

html.dark body {
  color: var(--light-80);
}

html.dark,
html.dark body.container {
  background: var(--dark-10);
}

select {
  height: 26px;
  padding: 0em 1em;
  margin: 0em 0.5em;
}

#group-select {
  height: 36px;
  padding: 0em 0.5em;
  margin: 0px;
}

.bg-white.eliminated {
  background: #eee;
}

html.dark .bg-white {
  background: var(--dark-20);
  border-color: var(--dark-40);
}

html.dark .bg-white.eliminated {
  background: var(--dark-40);
}

html.dark .bg-white:hover {
  background: var(--dark-30);
  border-color: var(--light-50);
}

html.dark .bg-white.eliminated:hover {
  background: var(--dark-40);
  border-color: var(--light-50);
}

html.dark .bg-bgaBlue {
  background: linear-gradient(180deg, #0ba9b7, #248189);
}

html.dark .bg-bgaBlue:hover {
  background: linear-gradient(180deg, #06d7ea, #248189);
}

html.dark h1.text-bgaBlue-light {
  color: var(--light-80);
}

html.dark .bg-bgaOrange-lighter {
  background: var(--dark-10);
}

html.dark .text-gray-600 {
  color: var(--light-70);
}

html.dark .options-frame.reduced:hover {
  background: var(--dark-40);
}

html.dark .options-frame {
  border-color: #fff;
}

html.dark .options-frame.reduced:hover .options-frame-title {
  background: var(--dark-40);
}

html.dark .options-frame-title {
  background-color: var(--dark-10);
}

html.dark .bgext_hidden_game {
  background: var(--dark-40);
  border: 1px solid var(--light-50);
  color: var(--light-80);
}

a {
  text-decoration: underline !important;
}

p {
  padding-bottom: 0.5em;
  font-size: 12px;
}

li:has(.bg-bgaBlue-lighter):before {
  content: "";
  background: #fff6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.max-result ul {
  padding-bottom: 4px;
}

html.dark li:has(.bg-bgaBlue-lighter):before {
  background: #0006;
}

html.dark .shadow-md {
  --tw-shadow: 0 4px 6px -1px #5555551a, 0 2px 4px -2px #5555551a;
}

html.dark * {
  --tw-ring-offset-shadow: 0 0 #555;
  --tw-ring-shadow: 0 0 #555;
}

/* Special style for Android version */
@media only screen and (hover: none) and (pointer: coarse) {

  html,
  body {
    width: 100% !important;
    max-width: max-content !important;
  }

  .container {
    max-width: none;
  }
}