div.bgext_right_menu {
	display: flex;
	flex-flow: row;
	gap: 0.3em;
	margin-left: 10px;
	float: right;
	position: relative;
	top: 2px;
}

div.bgext_right_menu i {
	font-size: 14px !important;
}

.desktop_version.logs_on_floating_panel.score_visible #right-side-first-part {
	max-height: initial;
	width: 240px;
}

.desktop_version.logs_on_floating_panel.score_visible #right-side-first-part.ext-overflow {
	width: 260px;
}

.desktop_version #right-side-second-part {
	max-height: initial;
}

.desktop_version.logs_on_floating_panel #left-side {
	margin-right: 0px !important;
}

.desktop_version.logs_on_floating_panel #right-side {
	width: 0px;
}

.desktop_version.logs_on_floating_panel #right-side-first-part,
.desktop_version.logs_on_floating_panel #right-side-second-part {
	position: fixed;
	right: -1500px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
}

.desktop_version.logs_on_floating_panel #right-side-second-part {
	border: 1px solid var(--dark-10);
	outline: 1px solid var(--light-50);
	background-color: rgb(235, 213, 189);
	width: 260px !important;
	right: -1500px;
}

.desktop_version.logs_on_floating_panel.score_visible #right-side-first-part {
	right: 5px;
}

.desktop_version.logs_on_floating_panel.logs_visible #right-side-second-part {
	right: 5px;
}

.desktop_version.logs_on_floating_panel #cde-floating-menu {
	display: inline;
}

.desktop_version.logs_on_floating_panel #logs {
	margin-top: 0px;
	max-height: none;
}

.desktop_version.logs_on_floating_panel #seemorelogs {
	display: none !important;
}

.desktop_version.logs_on_floating_panel #go_to_next_table_inactive_player {
	margin-left: 5px
}


.desktop_version.logs_on_floating_panel #cde-floating-menu-score .fa-caret-up {
	display: none;
}

.desktop_version.logs_on_floating_panel.score_visible #cde-floating-menu-score .fa-caret-up {
	display: block;
}

.desktop_version.logs_on_floating_panel #cde-floating-menu-score .fa-caret-down {
	display: block;
}

.desktop_version.logs_on_floating_panel.score_visible #cde-floating-menu-score .fa-caret-down {
	display: none;
}


.desktop_version.logs_on_floating_panel #cde-floating-menu-log .fa-caret-up {
	display: none;
}

.desktop_version.logs_on_floating_panel.logs_visible #cde-floating-menu-log .fa-caret-up {
	display: block;
}

.desktop_version.logs_on_floating_panel #cde-floating-menu-log .fa-caret-down {
	display: block;
}

.desktop_version.logs_on_floating_panel.logs_visible #cde-floating-menu-log .fa-caret-down {
	display: none;
}