.bgaext_switch_container {
  position: relative;
  display: flex;
  flex-flow: row;
  gap: 0.5em;
}

.bgaext_switch {
  position: relative;
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.bgaext_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.bgaext_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

html.dark .bgaext_slider,
html.darkmode .bgaext_slider {
  background-color: var(--dark-40);
  border: 1px solid var(--light-50);
}

.bgaext_slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

html.dark .bgaext_slider:before,
html.darkmode .bgaext_slider:before {
  bottom: 3px;
}

input:checked+.bgaext_slider {
  background-color: #2196F3;
}

html.dark input:checked+.bgaext_slider,
html.darkmode input:checked+.bgaext_slider {
  background-color: var(--blue-70);
  border-color: var(--blue-70);
}

input:focus+.bgaext_slider {
  box-shadow: 0 0 1px #2196F3;
}

html.dark input:focus+.bgaext_slider,
html.darkmode input:focus+.bgaext_slider {
  box-shadow: 0 0 1px var(--blue-70);
}

input:checked+.bgaext_slider:before {
  transform: translateX(16px);
}

html.dark input:checked+.bgaext_slider:before,
html.darkmode input:checked+.bgaext_slider:before {
  transform: translateX(15px);
}

/* Rounded sliders */
.bgaext_slider.round {
  border-radius: 34px;
}

.bgaext_slider.round:before {
  border-radius: 50%;
}

.bgaext_switch_text {
  line-height: 26px;
}