:root {
	--dark-0: #000000;
	--dark-10: #1d2023;
	--dark-20: #272a2f;
	--dark-30: #35373c;
	--dark-40: #404347;
	--dark-back: #272a2fbf;
	--dark-back-50: #272a2f80;
	--dark-popup-back: #373737;

	--blue-10: #003b85;
	--blue-50: #7289da;
	--blue-70: #009aa0;
	--blue-80: #11a9bb;
	--blue-90: #11a9bb;

	--red-10: #993333;
	--red-30: #ca0000;
	--red-50: #ff0000;
	--red-80: #ff6565;

	--pink-80: #c34bb0;

	--green-10: #1b3b2d;
	--green-30: #01663a;
	--green-50: #009e0a;
	--green-80: #54aa54;

	--yellow-10: #996300;
	--yellow-50: #ffa600;

	--violet-60: #5a4275;
	--violet-80: #8f5fbd;

	--orange-10: #383b1b;
	--orange-30: #8a5d0f;
	--orange-50: #cf8b17;

	--light-50: #8e8e8e;
	--light-60: #b2b2b2;
	--light-70: #ccc;
	--light-80: #dcddde;
	--light-100: #ffffff;

	--highlight-max: drop-shadow(0px 0px 8px #fff);
	--highlight: drop-shadow(0px 0px 4px #fff);
	--highlight-min: drop-shadow(0px 0px 1px #fff);

	--drop-shadow: drop-shadow(2px 2px 1px #000) drop-shadow(0 0 2px #fff);

	--ext-bright: brightness(0.9);
	--ext-alpha: #00000019;
}