@import "../common";

.adk-marketRating { color: #fff; }
.player_board_inner .adk-icon-ribbon, .player_board_inner .player_score_value { color: #000; }
[style="color:#bdbcbc"],[style="color: #bdbcbc"] { color: #999999!important; }
.adk-values .adk-value { background-color: var(--dark-20); }
.adk-values .adk-value span { color: #fff; }
