@import "../common";

#available_burials h1, #available_burials h3, #discard h1, #overall_stats_board h3 { color: var(--light-80)!important; }
#bell { filter: invert(1); }
.room_ff0000 { border: 4px solid #ff6565; }
.room_008000 { border: 4px solid #54aa54; }
.room_0000ff { border: 4px solid #6565ff; }
.room_ffa500 { border: 4px solid #ffc965; }
.color_ff0000 { color: #ff6565 !important; }
.color_008000 { color: #54aa54 !important; }
.color_0000ff { color: #6565ff !important; }
.color_ffa500 { color: #ffc965 !important; }
.room_white { border: 4px solid var(--light-70); }
.log, .cadaver_icon, .check, .hand_icon { filter: var(--highlight-min); }
.franc { border-radius: 50%; filter: var(--highlight-min); }
#undo_btn { .redButton(); }
#undo_btn:hover { .redButtonOver(); }
.whiteblock { background: var(--dark-back); color: var(--light-80); }
