@import "../common";

.firstplayernotice { color: #fff; }
.dijitTooltipContainer .imgtext, .tta_icon { filter: var(--drop-shadow); }
.workerpool_wrapper { background-color: var(--orange-10); border: 2px solid var(--orange-30); }
