@import "../common";

.alhambra-wrapper h3:before, #popin_moneyDialog:before { background: var(--dark-20); }
.alhambra-stat.stat-1 { color: #4d4dff; }
#popin_moneyDialog { color: #fff; }
.player-name[style="color: #000000"], .alhambra-block[style="color:#000000"] { text-shadow: var(--text-w-shadow); }
#board-wrapper, #player-aid-wrapper, .building-tile { filter: brightness(0.9); }
.alhambra-wrapper:before, #player-stock:before { background-image: none; background-color: var(--dark-40); }
.alhambra-stats .alhambra-stat.stat-1, .buildingtype.buildingtype_1, .moneytype.moneytype_3 { color: var(--blue-50); }
.alhambra-stats .alhambra-stat.stat-2, .buildingtype.buildingtype_2 { color: var(--red-30); }
.alhambra-stats .alhambra-stat.stat-6, .buildingtype.buildingtype_6 { color: var(--violet-80); }
#scoring_panel .round_scoring { background-color: var(--dark-20); }
