@import "../common";

.cob_player_block { color: #000 !important; }
#zoomLevelValue { background-color: transparent; }
.cob_player_board:before, #main_board:before { content: ""; background: #00000050; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
