@import "../common";

.nextCard { border: 1px dotted var(--light-50); }
#nextCard > div { color: #c43a08 !important; }
#nextCard > div > span, #circleoflife_play_zone > div[style*="color:grey"] { color: var(--light-50) !important; }
