@import "../common";

.playerMat { background-color: var(--dark-30); color: var(--light-80); border: 3px solid var(--dark-10); }
.playerChocolateFactoryNameWrapper { background-color: var(--dark-10); border-left: 3px solid var(--dark-10); border-right: 3px solid var(--dark-10); border-top: 3px solid var(--dark-10); }
.playerChocolateFactoryName { background-color: var(--dark-10) !important; }
#logs .chocolate { filter: var(--drop-shadow); }
.rightOfFactory > div:last-child { background: #777; border-radius: 8px; }
