@import "../common";

#overall-content:before { content: ""; background: #000000A0; position: absolute; width: 100%; height: 100%; }
#popin_stWelcomeDialogId { background: var(--dark-20); }
.st-victory-conditions.st-victory-conditions-row.pending { background: var(--dark-40) !important; }
#st-communication-wrapper #st-communication-info.green, .st-victory-conditions .st-victory-conditions-row.success, html.darkpanel #player_boards .player-board.st-victory-conditions, .st-end-game-info-box { background: var(--green-30) !important; }
#st-communication-wrapper #st-communication-info.red, .st-victory-conditions .st-victory-conditions-row.failed, .st-end-game-info-box.failure { background: var(--red-10) !important; }
.st-victory-conditions .st-victory-conditions-row.pending { background: var(--dark-40) !important; }
.st-victory-conditions .st-victory-conditions-row .st-victory-conditions-row-letter span { color: var(--green-30); }
.st-victory-conditions.failure .st-victory-conditions-row-letter span, #st-final-round-notice p, #st-real-time-wrapper p  { color: var(--red-10); }
.st-special-ability .fa-check-circle.co-pilot { stroke: var(--orange-30); }
#st-real-time-wrapper .st-real-time-base-timer .st-real-time-base-timer-remaining.green { stroke: var(--green-30); }
#st-real-time-wrapper .st-real-time-base-timer .st-real-time-base-timer-remaining.warning { stroke: var(--orange-30); }
#st-real-time-wrapper .st-real-time-base-timer .st-real-time-base-timer-remaining.alert { stroke: var(--red-10); }
.st-action-space-help { background-color: var(--dark-0); color: #fff; }
.bga-cards_deck-counter.round { background: var(--dark-10); box-shadow: 0 0 2px 1px #fff; color: var(--light-80); }
.bga-help_popin-button { background: var(--blue-70); }
#st-flight-log-button, #st-system-buttons #jj-preferences-panel { background: var(--dark-20); }
#popin_st-flight-log-dialog, #popin_st-flight-log-dialog #popin_st-flight-log-dialog_contents { background: var(--dark-10); }
#popin_st-flight-log-dialog #popin_st-flight-log-dialog_contents .st-flight-log-row .st-flight-status[data-type=unplayed] { background-color: var(--dark-30); }
#popin_st-flight-log-dialog #popin_st-flight-log-dialog_contents .st-flight-log-row .st-flight-status[data-type=failure] { background-color: var(--orange-30); }
#popin_st-flight-log-dialog #popin_st-flight-log-dialog_contents .st-flight-log-row .st-flight-status[data-type=success] { background-color: var(--green-30); }
#jj-preferences-panel #jj-preferences-panel-content .jj-preferences-panel-category-label { background: var(--dark-0); }
