@import "../common";

.play_grid { background-color: var(--dark-back); }
.player_name { text-shadow: none !important; }
.player_match, .player_score_value { color: #fff; text-shadow: none; }
.arrow_faded { color: #33140a99; }
.tooltip_body { color: var(--light-80); }
