@import "../common";

.panel-icon { filter: invert(0.7); }
#player_boards.whiteblock { background-image: none; background-color: var(--dark-40); }
.panel-cell.wastelandia-icon { filter: var(--drop-shadow); }
.wastelandia-icon { filter: invert(1); }
#optional-challenge-text { background-color: var(--dark-40); background-image: none; };