@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
.maquis_hidden_effect_zone, .maquis_revealed_effect_zone, .mission_data_zone, .enemy_effect_zone { background: var(--dark-10); }
.mission_name_zone { background-color: #4e3318; }
.bgabutton_blue:not(.disabled)[style="background: saddlebrown; border-color: saddlebrown;"] { .yellowButton();}
.bgabutton_blue:not(.disabled)[style="background: saddlebrown; border-color: saddlebrown;"]:hover { .yellowButtonOver();}
.bgabutton_blue:not(.disabled)[style="background: rebeccapurple; border-color: rebeccapurple;"] { .purpleButton();}
.bgabutton_blue:not(.disabled)[style="background: rebeccapurple; border-color: rebeccapurple;"]:hover { .purpleButtonOver();}
