@import "../common";

body { background: none !important; }
.player_view, #info { background: var(--dark-back); color: #fff; }
#kingdom_label { background-color: var(--dark-20); margin: 0px; padding: 10px; }
div[style*="border-color: #0000ff"] { border-color: #6565ff !important; }
div[style*="border-color: #008000"] { border-color: #54aa54 !important; }
div[style*="border-color: #ff1493"] { border-color: #ff65b8 !important; }
div[style*="border-color: #ffa500"] { border-color: #ffc965 !important; }
.square:before { background: var(--dark-back); }
#kingdom:before { background: #272a2f66; }
#castle, .domino-background { filter: brightness(0.9); }
