@import "../common";

.icon.first_player { filter: invert(1); }
#score_table thead th, #score_table tfoot th, #score_table tfoot td, #score_table tbody tr:nth-of-type(2n)>* { background-color: var(--dark-20) !important; }
.black { text-shadow: var(--text-w-shadow); }
.blue { color: #6666ff !important; }
.red { color: #ff3333 !important; }
