@import "../common";

.csm-resize { background: var(--dark-20); border: 1px solid var(--light-50); color: var(--light-80); }
.csm-icon-portal { filter: var(--highlight-min); }
#csm-floatingHand { background-color: var(--dark-20); box-shadow: 0 0 8px #888; }
#csm-floatingHand .csm-toggle { background: var(--dark-20); color: var(--light-80); box-shadow: 0 -1px 2px #888; }
.csm-deck, .csm-discard { background-color: #fff3; box-shadow: 0 0 3px 3px #fff3; }
