@import "../common";

#scoring_chart { color: var(--light-80); }
#scoring_chart, #scoring_chart td, #scoring_chart th { border: 1px solid var(--light-50); }
.possible_cell { color: var(--light-50); }
.possible_cell:hover { background-color: #055a0566; }
.PointLine > th, .PointLine > td { color: #fff; }
.PointLine > td.possibleCells { color: gray; }
