@import "../common";

#ll_background:before { content: ""; background: #00000050; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
#explanation_card_content, #explanation_card_content2 { background: var(--dark-20); margin-left: 0px; margin-right: 0px; padding: 10px; color: var(--light-80); }
.playertable_center .playertablecard { background-color: var(--dark-30); }
.cardtitle { color: #000; }
.player_sycophant { color: var(--light-80); }
