@import "../common";

#overall-content:before { content: ""; background: #000000A0; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
#bga-zoom-controls { filter: invert(0.8); }
.label-wrapper h2, .dp-help-button-wrapper .dp-help-button { background-color: var(--dark-20); color: var(--light-80); }
.dp-dial.side-front .side-front-overlay { border-radius: 50%; }
.bga-help_popin-button { background: #2b2d25; }
