@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
#mex_supply { background-color: var(--dark-back); color: var(--light-80); }
#mex_board { filter: brightness(0.9); }
#bga-zoom-wrapper #bga-zoom-controls { filter: invert(0.8); }
#mex_undo_button { .redButton(); }
#mex_undo_button:hover { .redButtonOver(); }
.head_warning { background-color: var(--orange-30); color: var(--light-80); }
.mex_temple:hover .mex_temple_level { background-color: var(--dark-back); }
