@import "../common";

#overall-content:before { content: ""; background: #00000090; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
.popup { background-color: var(--dark-back); color: var(--light-80); }
