.hutan-player-board-resizable .hutan-player-board {
	background: var(--dark-20);
}

#popin_showScores {
	background: var(--green-10);
}

#popin_showScores table tr#score-row-name td,
#popin_showScores table tr#score-row-overall td {
	background: hsl(0deg 0% 0% / 80%);
}

#popin_showScores table td {
	background: hsl(0deg 0% 0% / 50%);
	color: var(--light-80);
}

#popin_showScores table tr:nth-child(odd) td {
	background: hsl(0deg 0% 0% / 12%);
}

#hutan-main-container #flower-cards-container {
	background: var(--dark-back);
}