@import "../common";

body { background: none !important; }
#vp_nbr_remain_img { filter: var(--highlight-min); }
.new_design a:link { color: var(--light-70); }
.player-board, .roundedbox,  .roundedbox .roundedbox_bottomleft, .roundedbox .roundedbox_bottommain, .roundedbox .roundedbox_bottomright,
.roundedbox .roundedbox_main, .roundedbox .roundedbox_topleft, .roundedbox .roundedbox_topmain, .roundedbox .roundedbox_topright { background-color: transparent; }
.vp_chip, .tableaucount { filter: var(--highlight-min); }
.nextCardToPlay { border: 2px solid var(--red-30); }
