@import "../common";

#zoomin, #zoomout { background-color: transparent; box-shadow: none; filter: invert(0.7); }
[style="color: #0000aa;"], [style="color:#0000aa"] { color: #6666aa !important; }
[style="color: #000000;"], [style="color:#000000"] { text-shadow: var(--text-w-shadow) }
