@import "../common";

.player-board-pandemic__title, .player-name { text-shadow: var(--text-w-shadow); }
.pdm-whiteblock { background-color: var(--dark-back); }
#o-archives h3, .pdm-hand h3 { background-color: var(--dark-20); color: var(--light-80); }
#player_boards .player-name, #player_boards .player-board-pandemic__title { text-shadow: none; }
.bg-token_cube_4 { filter: var(--highlight-min); }
