@import "../common";

#overall-content:before { content: ""; background: #00000080; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
#twodecks > div { background: none !important; }
.team { filter: var(--highlight-min); }
.darkmode .current_player .whiteblock, .darkmode .opposing_player .whiteblock { background-color: var(--dark-back) !important; }
.dijitTooltipConnector { filter: none; }
