@import "../common";

#local_prefs_container { color: var(--light-80); }
#cng_action_text, #cng_action_table td { background-color: var(--dark-30); }
#cng_action_table { background-color: var(--dark-40); border: 1px solid var(--dark-40); }
