@import '../variables';

html[data-theme=light]:not(.bgaext_cust_back).bgaext_solid_back {
  background: #fff;
}

html[data-theme=light]:not(.bgaext_cust_back).bgaext_game.bgaext_solid_back {
  background: #dfb98b;
}

html[data-theme=light].bgaext_forum_visible.bgaext_solid_back,
html[data-theme=light].bgaext_forum_visible.bgaext_solid_back body,
html[data-theme=light].bgaext_forum.bgaext_solid_back body {
  background: #f5f7fa;
}

html[data-theme=dark] {

  .bga-menu-bar__logo-holder svg,
  .emblempremium_big,
  .game_box_image_wrap img,
  .bgaext_headlines .pagesection__content>div:first-child,
  #resultDlgFrame,
  .bga-date-chip,
  .bga-progress-bar__tooltip,
  .bga-tournament-list-item__bottom,
  .bga-homepage .bga-game-box,
  .bga-homepage-header__banner,
  .bga-news-item__container,
  .bga-homepage .bga-game-item,
  .bga-advent-calendar__day {
    filter: var(--ext-bright);
  }
}

html[data-theme=dark].bgaext_gamelist {

  .bga-game-item__box-visible,
  .zoom-rounded,
  .bga-discover__game-box,
  .bga-game-video-preview {
    filter: var(--ext-bright);
  }
}

html[data-theme=dark].bgaext_news {

  pagesection__content>div:first-child,
  .newsblockimage {
    filter: var(--ext-bright);
  }
}