@import "../common";

.hand-amt { background: var(--dark-20); padding: 0.3em 0.5em; border-radius: 8px; color: #fff; top: -40px; }
.hand-amt .player-name { background: transparent; }
.counter-wrap { background-color: var(--dark-30); }
.display-deck, .display-discard { background: #000; border: 3px solid #9e6464; }
.display-deck:hover { background: var(--dark-30); }
.display-deck:active { background: var(--dark-40); }
html.darkpanel #player_boards .player-board.player-board.passed {  background-color: var(--dark-0) !important }
button.layout-button { background: var(--dark-10); border: 1px solid var(--light-70); cursor: pointer; }
button.layout-button.layout-selected { background: #246175; }
.card, .arnak-board, .idol { filter: brightness(0.9); }
