@import "../common";

.whiteblock { background-color: var(--dark-40); background-image: none; border-radius: 8px; }
.dijitTooltipContainer [style="color:#09558D"] { color: #0e84d8 !important; }
.dijitTooltipContainer [style="color:#B3311A"] { color: #ff3333 !important; }
.dijitTooltipContainer [style="color:#09558D"] { color: #0f92f0 !important; }
.dijitTooltipContainer [style="color:#8F156F"] { color: #de21ac !important; }
.dijitTooltipContainer [style="color:#4D572D"] { color: #a0b168 !important; }
.dijitTooltipContainer [style="color:#000000"] { color: #fff !important; }
