@import "../common";

#player_boards hr { border: 1px solid var(--dark-40); }
.ntn-top-tooltip-area { background-color: var(--dark-back); color: var(--light-80); }
.ntn_top_carousel_button:hover { background-color: var(--dark-10); }
.ntn_top_carousel_button_content.ntn_top_carousel_button_content_text { color: #a85757; }
#ntn_shop_area { background-color: var(--dark-20); }
.player_summary_row .fa.fa-chevron-down, .player_summary_row .fa.fa-chevron-up { color: var(--red-10); }
