@import "../common";

.bx-pill { background-color: var(--dark-40); color: var(--light-80); }
#dwr-area-goal-container-wrap, #dwr-area-pref { background-color: var(--dark-back); }
.bx-counter { background-color: var(--dark-10); border: 1px solid var(--light-50); color: var(--light-80); }
.bx-checkbox-switch i { background-color: var(--light-50); }
.bx-checkbox-switch i:before { background-color: var(--dark-40); }
.bx-checkbox-switch i:after { transform: translate3d(4px, 3px, 0); background-color: #fff; height: 20px; width: 20px; }
.bx-checkbox-switch input:checked+i { background-color: var(--blue-70); }
.bx-checkbox-switch input:checked+i:after { transform: translate3d(22px, 3px, 0); }
.custom_popin { background: var(--dark-10); border: 2px solid var(--light-50); color: var(--light-80); }
.custom_popin_closeicon { color: #aaa !important; }
.notouch-device .custom_popin_closeicon:hover { color: #fff !important; }
.dwr-card { border: 1px solid var(--dark-40); }
.dwr-section-type { color: #000; }
.dwr-icon { filter: var(--highlight); }
